<form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">

    <div class="panel panel-flat">
        <div class="panel-heading">
            <h6 class="panel-title">Sezonun redaktə edilməsi</h6>
        </div>

        <div class="panel-body">

            <div class="form-group">
                <label class="control-label col-lg-2">Turnir*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="tournament_id" [items]="tournaments" bindLabel="name" bindValue="id" [ngModel]="season?.tournament_id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['tournament_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Başlanğıc ili</label>
                <div class="col-lg-10">
                    <input type="number" formControlName="start_year" [ngModel]="season?.start_year" name="start_year" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['start_year'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="has_end_year">Bitmə ili var mı?</label>
                <div class="col-lg-10">
                    <input id="has_end_year" type="checkbox" formControlName="has_end_year" [ngModel]="season?.end_year" #has_end_year name="has_end_year">
                </div>
            </div>
            <div class="form-group" *ngIf="has_end_year.checked">
                <label class="control-label col-lg-2">Bitmə ili</label>
                <div class="col-lg-10">
                    <input type="number" formControlName="end_year" [ngModel]="season?.end_year" name="end_year" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['end_year'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="is_in_home">Ana səhifədəki slider-dımı</label>
                <div class="col-lg-10">
                    <input id="is_in_home" type="checkbox" formControlName="is_in_home" [ngModel]="season?.is_in_home" name="is_in_home">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Komandalar*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="teams_ids" [items]="teams" [multiple]="true" bindLabel="name" bindValue="id" [ngModel]="season?.seasonsTeams" placeholder="Seç" (change)="onTeamsChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['teams_ids'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
        </div>
    </div>

    <h6 class="panel-title" style="margin-top: 40px; margin-bottom: 10px;">Mərhələlərin qoşulması</h6>

    <ng-container *ngIf="fullStages && fullStages.value.length > 0" formArrayName="full_stages">
        <div class="panel panel-flat" *ngFor="let fullStage of mainGroup.controls['full_stages']['controls']; let i = index;" [formGroupName]="i">
            <div class="panel-heading" style="display: flex;">

                <div class="form-group" style="width: 100%;">
                    <label class="control-label col-lg-2">Mərhələ*</label>
                    <div class="col-lg-10">
                        <ng-select formControlName="stage" [items]="notSelectedStages" bindLabel="name" placeholder="Seç" (change)="onStageChange(i)" (open)="toFilterStages()"
                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                        </ng-select>
                        <p *ngIf="tryingAtOnceToSend && mainGroup.controls['full_stages']['controls'][i]['controls']['stage'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    </div>
                </div>

                <div class="heading-elements not-collapsible" style="position: unset; flex-shrink: 0;">
                    <ul class="icons-list">
                        <li><a data-action="collapse" class="rotate-180"></a></li>
                        <li *ngIf="mainGroup.controls['full_stages'].value.length > 0 && mainGroup.controls['full_stages']['controls'][i]['controls']['canRemove']?.value"><a data-action="close" (click)="deleteFromTable($event, i)" data-form-control-name="full_stages"></a></li>
                    </ul>
                </div>
            </div>

            <div class="panel-body">

                <div class="form-group">
                    <label class="control-label col-lg-2">Turlar*</label>
                    <div class="col-lg-10">
                        <ng-select formControlName="elements_ids" [items]="mainGroup.controls['full_stages']['controls'][i]['controls']['elements'].value" [multiple]="true" bindLabel="name" bindValue="id" placeholder="Seç" (remove)="onDeletingFromTable(i, $event)"
                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                        </ng-select>
                        <p *ngIf="tryingAtOnceToSend && mainGroup.controls['full_stages']['controls'][i]['controls']['elements_ids'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        <p style="margin: 10px 0 0 0;">*Əgər tur silinmirsə - o zamana ona aid oyun var</p>
                    </div>
                </div>

                <div class="form-group" *ngIf="mainGroup.controls['full_stages']['controls'][i]['controls']['stage'].value?.has_groups">
                    <label class="control-label col-lg-2">Qrup heç-heçə halı</label>
                    <div class="col-lg-10">
                        <input type="number" formControlName="group_draw_points" name="group_draw_points" class="form-control">
                        <p *ngIf="tryingAtOnceToSend && mainGroup.controls['full_stages']['controls'][i]['controls']['group_draw_points'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    </div>
                </div>

                <div class="form-group" *ngIf="mainGroup.controls['full_stages']['controls'][i]['controls']['stage'].value?.has_groups">
                    <label class="control-label col-lg-2">Qrup uduş halı</label>
                    <div class="col-lg-10">
                        <input type="number" formControlName="group_victory_points" name="group_victory_points" class="form-control">
                        <p *ngIf="tryingAtOnceToSend && mainGroup.controls['full_stages']['controls'][i]['controls']['group_victory_points'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    </div>
                </div>

                <ng-container *ngIf="mainGroup.controls['full_stages']['controls'][i]['controls']['stage'].value?.has_groups">

                    <table class="table" formArrayName="full_groups">
                        <thead>
                        <tr>
                            <th>Qrup</th>
                            <th>Komanda</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let fullGroup of mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups']['controls']; let j = index" [formGroupName]="j">
                            <td>
                                <ng-select formControlName="group" [items]="mainGroup.controls['full_stages']['controls'][i]['controls']['notSelectedGroups'].value" bindLabel="name" placeholder="Seç" (change)="toFilterGroups(i)" (open)="toFilterGroups(i)" [readonly]="mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups']['controls'][j]['controls']['group']?.value?.has_match"
                                           [notFoundText]="'Uyğun məlumat tapılmadı'">
                                </ng-select>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups']['controls'][j]['controls']['group'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            </td>
                            <td>
                                <ng-select formControlName="teams_ids" [items]="mainGroup.controls['full_stages']['controls'][i]['controls']['notSelectedGroupsTeams'].value" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Seç" (change)="toFilterGroupsTeams(i)" (open)="toFilterGroupsTeams(i)"
                                           [notFoundText]="'Uyğun məlumat tapılmadı'">
                                </ng-select>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups']['controls'][j]['controls']['teams_ids'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            </td>

                            <td>
                                <a *ngIf="mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups'].value.length > 1 && !mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups']['controls'][j]['controls']['group']?.value?.has_match" (click)="deleteFromGroupsTable($event, i, j);" data-form-control-name="full_groups" class="btn btn-danger"><i class="icon-subtract"></i></a>
                                <span *ngIf="mainGroup.controls['full_stages']['controls'][i]['controls']['full_groups']['controls'][j]['controls']['group']?.value?.has_match">Qrupa aid oyun var</span>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <a (click)="addToGroupsTable($event, i);" data-form-control-name="full_groups" class="btn btn-success" style="display: block; margin-bottom: 10px;">Qrup əlavə et<i class="icon-add position-right"></i></a>

                </ng-container>


            </div>
        </div>
    </ng-container>

    <a (click)="addToTable($event);" data-form-control-name="full_stages" class="btn btn-success" style="display: block; margin-bottom: 10px;">Mərhələ qoş<i class="icon-add position-right"></i></a>

    <button type="submit" class="btn btn-primary" [attr.disabled]="mainGroup.pristine ? true : null" (click)="onSubmit();">Redaktə et <i class="icon-arrow-right14 position-right"></i></button>

</form>