<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Basic table -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Ümumi siyahı</h5>
                    <div class="heading-elements not-collapsible">
                        <a routerLink="/match/add" class="btn btn-success">Əlavə et</a>
                    </div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" [formGroup]="filterGroup" action="#">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ölkə (Stadion)</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="country_id" [items]="countries" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onCountryChange()"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Stadion</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="stadium_id" [items]="stadiums" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Status</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="status" [items]="statusStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Başlanğıç günü start</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="min_start_date" name="min_start_date">
                                        <owl-date-time #dt1></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Başlanğıç günü end</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="max_start_date" name="max_start_date">
                                        <owl-date-time #dt2></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Aktivdirmi</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_active" [items]="isActiveStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Komanda(Ev)</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="home_team_id" [items]="homeTeams" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Komanda(Qonaq)</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="guest_team_id" [items]="guestTeams" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Turnir</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="tournament_id" [items]="tournaments" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTournamentChange()"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Sezon</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="seasons_id" [items]="seasons" bindLabel="label" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Mərhələ</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="stage_id" [items]="stages" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onStageChange()"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Tur</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="element_id" [items]="elements" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Qrup</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="group_id" [items]="groups" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" (click)="filter();" class="btn btn-primary legitRipple">Filterlə <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table" *ngIf="matches != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ev(Qol)</th>
                            <th>Qonaq(Qol)</th>
                            <th>Turnir(Sezon)</th>
                            <th>Mərhələ(+Qrup)</th>
                            <th>Tur</th>
                            <th>Başlanğıç tarixi</th>
                            <th>Stadion(Şəhər, Ölkə)</th>
                            <th>Status</th>
                            <th>Aktivlik</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let match of matches?.data | paginate: { id: 'matches-pagination', itemsPerPage: matches?.per_page, currentPage: matches?.current_page, totalItems: matches?.total }">
                            <td>{{match.id}}</td>
                            <td><a [routerLink]="'/team/edit/' + match.home_team_id">{{match.home_team_name}}</a>{{' ('+ match.home_team_goals_count + ')'}}</td>
                            <td><a [routerLink]="'/team/edit/' + match.guest_team_id">{{match.guest_team_name}}</a>{{' ('+ match.guest_team_goals_count + ')'}}</td>
                            <td>
                                <ng-container *ngIf="match.tournament_name">
                                    {{match.tournament_name + ' ('}}<a [routerLink]="'/season/edit/' + match.season_id">{{match.start_year + (match.end_year ? ' - ' + match.end_year : '')}}</a>{{')'}}
                                </ng-container>
                                <ng-container *ngIf="!match.tournament_name">Yoldaşlıq oyunudur</ng-container>
                            </td>
                            <td>{{match.stage_name ? match.stage_name + (match.group_name ? ' ('+match.group_name+')' : '') : 'Yoldaşlıq oyunudur'}}</td>
                            <td>{{match.element_name ? match.element_name : 'Yoldaşlıq oyunudur'}}</td>
                            <td>{{match.start_time}}</td>
                            <td>{{match.stadium_name + ' ('+match.city_name + ', ' + match.country_name+')'}}</td>
                            <td>{{matchStatuses[match.status]}}</td>
                            <td>
                                <span class="label" [ngClass]="match.is_active ? 'bg-success-400' : 'bg-danger-400'">{{match.is_active ? 'Aktivdir' : 'Aktiv deyil'}}</span>
                            </td>

                            <td>
                                <a [routerLink]="'/match/edit/' + match.id" style="margin-right: 10px;"><i class="icon-pencil4"></i></a>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal" (click)="selectId(match.id);"><i class="icon-close2"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-body" style="text-align: center;">

                        <span class="data-is-absent" *ngIf="matches != null && matches?.data.length == 0">Məlumat yoxdur</span>

                        <pagination-controls
                                *ngIf="matches != null"
                                id="matches-pagination"
                                (pageChange)="pageChanged($event)"
                                (pageBoundsCorrection)="pageChanged($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Əvvəlki"
                                nextLabel="Növbəti"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page"
                        ></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /basic table -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Danger modal -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Silinmə</h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">Siz həqiqətəndə silmək istəyirsiniz?</h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" #modalCloseButton data-dismiss="modal">Bağla</button>
                <a type="button" class="btn btn-danger" (click)="delete()">Sil</a>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->