<div id="content" class="container">
    <div id="hot-news-section" class="section row ml-auto mr-auto">
        <div class="col-xl-9 col-md-12 row ml-auto mr-auto">
            <div class="col-md-7 col-12 p-0">
                <div class="main-news-slider-wrapper">
                    <owl-carousel-o [options]="optionsMainNews" class="main-news-slider" #owlMainNews>

                        <ng-template carouselSlide *ngFor="let inHomeNewsItem of inHomeNews">
                       
                            <div class="main-news-slider__item">
                                <a [routerLink]="'/' + langLocal + '/news-item/' + inHomeNewsItem.slug" class="main-news-slider__link">
                                    <div class="main-news-slider__img-box">
                                        <img [src]="'/assets/site/assets/images/' + inHomeNewsItem.image" class="main-news-slider__img" />
                                    </div>
                                    <h5 class="main-news-slider__title">{{inHomeNewsItem.title}}</h5>
                                </a>
                                <!--<app-tags></app-tags>-->
                            </div>

                        </ng-template>
                       
                    </owl-carousel-o>

                    <app-news-slider-ghost *ngIf="inHomeNews == null"></app-news-slider-ghost>

                    <div class="main-news-slider-button-block main-news-slider-button-block_prev" *ngIf="inHomeNews != null">
                        <a href="javascript:void(0)" class="main-news-slider-button" (click)="owlMainNews.prev()"></a>
                    </div>
                    <div class="main-news-slider-button-block main-news-slider-button-block_next" *ngIf="inHomeNews != null">
                        <a href="javascript:void(0)" class="main-news-slider-button" (click)="owlMainNews.next()"></a>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col-12 banner-col">
                <a href="https://topaz.az/" target="_blank" class="banner-link">
                    <img src="/assets/site/assets/images/Topaz_banner_240x400_2.jpg" style="display: block; width: 100%; margin: auto;"/>
                </a>
            </div>
        </div>
        <div class="col-lg-3 hidden-md hidden-sm hidden-xs">
            <ul class="timeline__list" *ngIf="topNews != null">
                <li class="timeline__item" *ngFor="let topNewsItem of topNews">
                    <a [routerLink]="'/' + langLocal + '/news-item/' + topNewsItem.slug" class="timeline__link">
                        <span class="timeline__date">{{topNewsItem.creating_date}}</span>
                        <span class="timeline__news-item-title">{{topNewsItem.title}}</span>
                    </a>
                </li>
            </ul>
            <a [routerLink]="'/' + langLocal + '/news'" class="section-footer-link">{{'allNews' | translate}}</a>

            <app-right-sidebar-news-ghost [newsCount]="6" *ngIf="topNews == null"></app-right-sidebar-news-ghost>
        </div>
    </div>

    <div class="section">
        <div class="section-header">
            <h2>{{'reviewOfToday' | translate}}</h2>
        </div>
        <div class="section-body">
            <div class="slider-wrapper flex-row-center-start">
                <div class="slider-button-block slider-button-block_prev">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlLigas.prev()"></a>
                </div>

                <owl-carousel-o [options]="optionsLigas" class="list-unstyled ligas-list nav-tabs" #owlLigas>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item active">
                            <a href="javascript:void(0)" class="nav-tabs__link" (click)="getTodayMatches(0)">
                                <img class="liga-logo" src="/assets/site/assets/images/liga_all.png"/>
                                <span class="liga-title">{{'all' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide *ngFor="let matchesTournament of matchesTournaments">
                        <li class="nav-tabs__item">
                            <a href="javascript:void(0)" class="nav-tabs__link" (click)="getTodayMatches(matchesTournament.tournament_id)">
                                <img class="liga-logo" [src]="'/assets/site/assets/images/' + matchesTournament.logo_mini"/>
                                <span class="liga-title">{{matchesTournament.tournament_name}}</span>
                            </a>
                        </li>
                    </ng-template>
                </owl-carousel-o>

                <div class="slider-button-block slider-button-block_next">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlLigas.next()"></a>
                </div>
            </div>
            <div class="tab-content" id="day-tab">
                <div>
                    <div class="ligas-table-main row" style="clear: both;" *ngIf="matches != null && matches[0].length > 0">
                        <div class="col-lg-5 col-12">
                            <table class="table-styled">
                                <tbody>
                                    <tr *ngFor="let match of matches[0]">
                                        <td class="td-match-time"><span class="match-time">{{match.start_time | matchDate2}}</span></td>
                                        <td class="td-match-versus"><a class="td-match-versus__home" [ngClass]="{'defeated': match.home_team_goals_count < match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.home_team_slug" target="_blank">{{match.home_team_name}}</a>{{match.status != 0 && innerWidth <= 768 ? (' ' + match.home_team_goals_count + ' - ' + match.guest_team_goals_count + ' ') : ' - '}}<a class="td-match-versus__guest" [ngClass]="{'defeated': match.home_team_goals_count > match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.guest_team_slug">{{match.guest_team_name}}</a></td>
                                            <td class="td-match-score">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                        <td class="td-match-present-status">{{'matchStatuses.' + match.status | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-5 offset-lg-2 col-12" *ngIf="matches != null && matches[1].length > 0">
                            <table class="table-styled">
                                <tbody>
                                    <tr *ngFor="let match of matches[1]">
                                        <td class="td-match-time"><span class="match-time">{{match.start_time | matchDate2}}</span></td>
                                        <td class="td-match-versus"><a class="td-match-versus__home" [ngClass]="{'defeated': match.home_team_goals_count < match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.home_team_slug" target="_blank">{{match.home_team_name}}</a>{{match.status != 0 && innerWidth <= 768 ? (' ' + match.home_team_goals_count + ' - ' + match.guest_team_goals_count + ' ') : ' - '}}<a class="td-match-versus__guest" [ngClass]="{'defeated': match.home_team_goals_count > match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.guest_team_slug">{{match.guest_team_name}}</a></td>
                                        <td class="td-match-score">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                        <td class="td-match-present-status">{{'matchStatuses.' + match.status | translate}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>

                    <app-basic-ghost *ngIf="matches == null" style="display: block; margin-top: 20px;"></app-basic-ghost>

                    <span class="data-is-absent" *ngIf="matches != null && matches[0].length == 0">{{'dataIsAbsent' | translate}}</span>
                </div>
            </div>
        </div>
        <div class="section-footer">
            <a [routerLink]="'/' + langLocal + '/review'">{{'allReview' | translate}}</a>
        </div>
    </div>

    <div id="additional-news-section" class="row">
        <div id="additional-news-section-col" class="col-xl-8 col-lg-12 col-md-12">
            <div class="section">
                <div class="section-body">
                    <ul id="additional-news-block" *ngIf="latestNews != null" class="list-unstyled clearfix">
                        <li *ngFor="let latestNewsItem of latestNews">
                            <a [routerLink]="'/' + langLocal + '/news-item/' + latestNewsItem.slug" class="row">
                                <div class="additional-news-photo-block col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <img [src]="'/assets/site/assets/images/' + latestNewsItem.image" class="additional-news-photo" />
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 additional-news-info-block additional-news-info-block">
                                    <span class="additional-news-info-date--mobile">{{latestNewsItem.creating_date}}</span>
                                    <h2 class="additional-news-info-title">{{latestNewsItem.title}}</h2>
                                    <div class="additional-news-info-tags-and-date">
                                        <!--<app-tags></app-tags>-->
                                        <span class="additional-news-info-date">{{latestNewsItem.creating_date}}</span>
                                        <span class="additional-news-info-visited">{{latestNewsItem.views_count}}</span>
                                    </div>
                                    <span class="additional-news-info-description">{{latestNewsItem.short_text}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <app-news-list-ghost [newsCount]="2" *ngIf="latestNews == null"></app-news-list-ghost>
                </div>
                <div class="section-footer">
                    <a [routerLink]="'/' + langLocal + '/news'">{{'allNews' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-lg-12 col-md-12 ligas-table-main p-0">
            <div class="slider-wrapper flex-row-center-start">
                <a href="javascript:void(0)" class="table-nav-button-block left-nav-button-block" (click)="owlSidebar.prev()" *ngIf="sidebarTournaments?.length > 1">
                    <div class="left-nav-button"></div>
                </a>

                <owl-carousel-o [options]="optionsSidebarSlider" style="width: 100%;" #owlSidebar>
                    <ng-template carouselSlide *ngFor="let sidebarTournament of sidebarTournaments">
                        <h3 class="title">{{sidebarTournament?.tournament_name}}</h3>
                        <div>
                            <div class="ligas-table-header">
                                <div class="ligas-table-header-title-block">
                                    <h4 class="ligas-table-header-title">{{sidebarTournament.group_name}}</h4>
                                </div>
                            </div>
                            <table cellpadding="0" class="table-styled clubs-present-status" *ngIf="sidebarTournament?.teams.length > 0">
                                <thead>
                                <tr>
                                    <th class="center">№</th>
                                    <th class="text-left">{{'team' | translate}}</th>
                                    <th class="center">{{'gamesCountChar' | translate}}</th>
                                    <th class="center">{{'pointsChar' | translate}}</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let team of sidebarTournament?.teams; let i = index;">
                                    <td class="center">{{i + 1}}</td>
                                    <td><img class="club-logo" [src]="'/assets/site/assets/images/' + team.logo" /> <span class="club-name">{{team.team_name}}</span></td>
                                    <td class="center">{{team.gamesCount}}</td>
                                    <td class="center">{{team.pointsCount}}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-template>

                </owl-carousel-o>

                <a href="javascript:void(0)" class="table-nav-button-block right-nav-button-block" (click)="owlSidebar.next()" *ngIf="sidebarTournaments?.length > 1">
                    <div class="right-nav-button"></div>
                </a>
            </div>
        </div>
    </div>

    <div class="section">
        <div class="section-header">
            <h2>{{'topGoals' | translate}}</h2>
        </div>
        <div class="section-body">
            <div class="slider-wrapper flex-row-center-start">
                <div class="slider-button-block slider-button-block_prev">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlLigas2.prev()"></a>
                </div>

                <owl-carousel-o [options]="optionsLigas" class="list-unstyled ligas-list nav-tabs" #owlLigas2>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item active">
                            <a href="javascript:void(0)" class="nav-tabs__link" (click)="getTopVideosByTournament(0)">
                                <img class="liga-logo" src="/assets/site/assets/images/liga_all.png"/>
                                <span class="liga-title">{{'all' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide *ngFor="let videosTournament of videosTournaments">
                        <li class="nav-tabs__item">
                            <a href="javascript:void(0)" class="nav-tabs__link" (click)="getTopVideosByTournament(videosTournament.id)">
                                <img class="liga-logo" [src]="'/assets/site/assets/images/' + videosTournament.logo_mini"/>
                                <span class="liga-title">{{videosTournament.name}}</span>
                            </a>
                        </li>
                    </ng-template>
                   
                </owl-carousel-o>

                <div class="slider-button-block slider-button-block_next">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlLigas2.next()"></a>
                </div>
            </div>
            <div id="main-goal-videos" class="clearfix" *ngIf="topVideos?.length > 0">
                <div class="main-goal-video" *ngFor="let topVideo of topVideos">
                    <div class="main-goal-video-block">
                        <div class="video-preview-block">
                            <a href="javascript:void(0)" (click)="showVideoModal(topVideo.video_name)">
                                <img [src]="'/assets/site/assets/images/' + topVideo.preview_image" class="video-preview-image" />
                                <img src="/assets/site/assets/images/play-video.png" class="video-preview-play" />
                            </a>
                        </div>
                        <h3 class="video-title">{{topVideo.home_team_name}} – {{topVideo.guest_team_name}} ({{topVideo.home_team_goals_count}}-{{topVideo.guest_team_goals_count}})</h3>
                        <ul class="list-unstyled video-some-info">
                            <li>{{topVideo.start_time}}</li>
                            <li>{{topVideo.player_name}}</li>
                            <li>{{topVideo.minute}}’</li>
                        </ul>
                    </div>
                </div>
            </div>

            <app-basic-ghost *ngIf="topVideos == null" style="display: block; margin-top: 20px;"></app-basic-ghost>

            <span class="data-is-absent" *ngIf="topVideos?.length == 0">{{'dataIsAbsent' | translate}}</span>
        </div>
        <div class="section-footer">
            <a [routerLink]="'/' + langLocal + '/videos'">{{'allGoals' | translate}}</a>
        </div>
    </div>
    <!--<div class="section">-->
        <!--<div class="section-header">-->
            <!--<h2>BLOQ YAZILARI</h2>-->
        <!--</div>-->
        <!--<div class="section-body">-->
            <!--<div id="bloggers-block" class="row">-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="bloggers-photo-block">-->
                        <!--<img src="/assets/site/assets/images/bloger_1.png" class="bloggers-photo"/>-->
                    <!--</div>-->
                    <!--<div class="blog-info">-->
                        <!--<ul class="list-unstyled video-some-info">-->
                            <!--<li>10 Noyabr, 2018</li>-->
                            <!--<li>Dmitriy Nazarov</li>-->
                        <!--</ul>-->
                        <!--<a href="javascript:void(0)" class="blog-title">-->
                            <!--<h3>Millinin mətbuat katibi baş menecer təyin olundu</h3>-->
                        <!--</a>-->
                        <!--<span class="blog-reading-duration">Oxunma müddəti: 4 dəq.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="bloggers-photo-block">-->
                        <!--<img src="/assets/site/assets/images/bloger_2.png" class="bloggers-photo"/>-->
                    <!--</div>-->
                    <!--<div class="blog-info">-->
                        <!--<ul class="list-unstyled video-some-info">-->
                            <!--<li>10 Noyabr, 2018</li>-->
                            <!--<li>Dmitriy Nazarov</li>-->
                        <!--</ul>-->
                        <!--<a href="javascript:void(0)" class="blog-title">-->
                            <!--<h3>Millinin mətbuat katibi baş menecer təyin olundu</h3>-->
                        <!--</a>-->
                        <!--<span class="blog-reading-duration">Oxunma müddəti: 4 dəq.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="bloggers-photo-block">-->
                        <!--<img src="/assets/site/assets/images/bloger_2.png" class="bloggers-photo"/>-->
                    <!--</div>-->
                    <!--<div class="blog-info">-->
                        <!--<ul class="list-unstyled video-some-info">-->
                            <!--<li>10 Noyabr, 2018</li>-->
                            <!--<li>Dmitriy Nazarov</li>-->
                        <!--</ul>-->
                        <!--<a href="javascript:void(0)" class="blog-title">-->
                            <!--<h3>Millinin mətbuat katibi baş menecer təyin olundu</h3>-->
                        <!--</a>-->
                        <!--<span class="blog-reading-duration">Oxunma müddəti: 4 dəq.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="bloggers-photo-block">-->
                        <!--<img src="/assets/site/assets/images/bloger_4.png" class="bloggers-photo"/>-->
                    <!--</div>-->
                    <!--<div class="blog-info">-->
                        <!--<ul class="list-unstyled video-some-info">-->
                            <!--<li>10 Noyabr, 2018</li>-->
                            <!--<li>Dmitriy Nazarov</li>-->
                        <!--</ul>-->
                        <!--<a href="javascript:void(0)" class="blog-title">-->
                            <!--<h3>Millinin mətbuat katibi baş menecer təyin olundu</h3>-->
                        <!--</a>-->
                        <!--<span class="blog-reading-duration">Oxunma müddəti: 4 dəq.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="bloggers-photo-block">-->
                        <!--<img src="/assets/site/assets/images/bloger_5.png" class="bloggers-photo"/>-->
                    <!--</div>-->
                    <!--<div class="blog-info">-->
                        <!--<ul class="list-unstyled video-some-info">-->
                            <!--<li>10 Noyabr, 2018</li>-->
                            <!--<li>Dmitriy Nazarov</li>-->
                        <!--</ul>-->
                        <!--<a href="javascript:void(0)" class="blog-title">-->
                            <!--<h3>Millinin mətbuat katibi baş menecer təyin olundu</h3>-->
                        <!--</a>-->
                        <!--<span class="blog-reading-duration">Oxunma müddəti: 4 dəq.</span>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="col-lg-6 col-md-12">-->
                    <!--<div class="bloggers-photo-block">-->
                        <!--<img src="/assets/site/assets/images/bloger_2.png" class="bloggers-photo"/>-->
                    <!--</div>-->
                    <!--<div class="blog-info">-->
                        <!--<ul class="list-unstyled video-some-info">-->
                            <!--<li>10 Noyabr, 2018</li>-->
                            <!--<li>Dmitriy Nazarov</li>-->
                        <!--</ul>-->
                        <!--<a href="javascript:void(0)" class="blog-title">-->
                            <!--<h3>Millinin mətbuat katibi baş menecer təyin olundu</h3>-->
                        <!--</a>-->
                        <!--<span class="blog-reading-duration">Oxunma müddəti: 4 dəq.</span>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="section-footer">-->
            <!--<a href="javascript:void(0)">BÜTÜN BLOQ YAZILARI</a>-->
        <!--</div>-->
    <!--</div>-->
</div>

<app-video-modal [videoSrc]="selectedVideoSrc"></app-video-modal>