<div id="content" class="container">        
    <div class="section">
        <div class="section-header flex-row-center-between">
            <h2>{{'video' | translate}}</h2>
        </div>
        <div class="section-body">

            <div *ngIf="matchId == null && playerId == null && teamId == null">
                <div class="slider-wrapper flex-row-center-start">
                    <div class="slider-button-block slider-button-block_prev">
                        <a href="javascript:void(0)" class="slider-button" (click)="owlVideos.prev()"></a>
                    </div>

                    <owl-carousel-o [options]="optionsVideos" class="list-unstyled ligas-list nav-tabs" #owlVideos>

                        <ng-template *ngFor="let category of categories" carouselSlide>
                            <li class="nav-tabs__item" [ngClass]="{'active': tabType == 'category' && categoryId == category.id}">
                                <a href="javascript:void(0)" class="nav-tabs__link" (click)="changeTab('category', category.id)">
                                    <span class="liga-title">{{category.name}}</span>
                                </a>
                            </li>
                        </ng-template>

                        <ng-template carouselSlide>
                            <li class="nav-tabs__item" [ngClass]="{'active': tabType == 'players'}">
                                <a href="javascript:void(0)" class="nav-tabs__link" (click)="changeTab('players', null)">
                                    <span class="liga-title">{{'footballers' | translate}}</span>
                                </a>
                            </li>
                        </ng-template>

                        <ng-template carouselSlide>
                            <li class="nav-tabs__item" [ngClass]="{'active': tabType == 'teams'}">
                                <a href="javascript:void(0)" class="nav-tabs__link" (click)="changeTab('teams', null)">
                                    <span class="liga-title">{{'teams' | translate}}</span>
                                </a>
                            </li>
                        </ng-template>

                    </owl-carousel-o>

                    <div class="slider-button-block slider-button-block_next">
                        <a href="javascript:void(0)" class="slider-button" (click)="owlVideos.next()"></a>
                    </div>
                </div>

                <!--matches start-->
                <div *ngIf="tabType == 'category'">

                    <div class="ligas-table-main row" style="clear: both">
                        <div class="col-12">
                            <form [formGroup]="matchGroup" class="filter flex-row-start-start pt-40 pr-50 pb-40 pl-50">
                                <ng-select [items]="tournaments" formControlName="tournament_id" name="tournament_id" bindLabel="name" bindValue="id" [placeholder]="'tournament' | translate" class="mr-10" (change)="onTournamentChange()"></ng-select>

                                <ng-select [items]="seasons" formControlName="season_id" name="season_id" bindLabel="label" bindValue="id" [placeholder]="'season' | translate" class="mr-10" (change)="onSeasonsChange()"></ng-select>

                                <ng-select [items]="stages" formControlName="stage_id" name="stage_id" bindLabel="stage_name" bindValue="stage_id" [placeholder]="'stage' | translate" class="mr-10"></ng-select>

                                <button class="button button_blue" (click)="getMatches()">{{'search' | translate}}</button>
                            </form>
                        </div>
                    </div>

                    <div id="main-goal-videos" class="clearfix" *ngIf="matches?.data?.length > 0">
                        <div class="main-goal-video" *ngFor="let match of matches?.data | paginate: { id: 'matches-pagination', itemsPerPage: matches?.per_page, currentPage: matches?.current_page, totalItems: matches?.total }">
                            <div class="main-goal-video-block">
                                <div class="video-preview-block">
                                    <a href="javascript:void(0)" (click)="prepareVideos(match.id)">
                                        <img [src]="'/assets/site/assets/images/' + (match.preview_image ? match.preview_image : 'default_match_image.jpg')" class="video-preview-image" style="margin-bottom: 13px;" />
                                        <h3 class="video-title">{{match.home_team_name}} – {{match.guest_team_name}} ({{match.home_team_goals_count}}-{{match.guest_team_goals_count}}) ({{match.tournament_name ? match.tournament_name : ('friendlyMatch' | translate)}})</h3>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <pagination-controls
                            style="display: block; margin-top: 30px;"
                            *ngIf="matches != null"
                            id="matches-pagination"
                            (pageChange)="matchPageChanged($event)"
                            (pageBoundsCorrection)="matchPageChanged($event)"
                            maxSize="5"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel=""
                            nextLabel=""
                    ></pagination-controls>
                </div>
                <!--matches end-->

                <!--players start-->
                <div *ngIf="tabType == 'players'">

                    <div class="ligas-table-main row" style="clear: both">

                        <div class="col-12">
                            <form [formGroup]="playerGroup" class="filter flex-row-start-start pt-40 pr-50 pb-40 pl-50">
                                <div>
                                    <div class="single-input-block single-input-block_icon single-input-block_icon_search mr-10">
                                        <input class="single-input" formControlName="player_name" name="player_name" [placeholder]="'playersName' | translate" />
                                    </div>
                                    <p *ngIf="playerGroup.controls['player_name'].errors?.minLength" style="color: red; margin-top: 10px;">{{'minimumTwoLetters' | translate}}</p>
                                    <p *ngIf="playerGroup.controls['player_name'].errors?.maxLength" style="color: red; margin-top: 10px;">{{'maximum200Letters' | translate}}</p>
                                </div>

                                <button class="button button_blue" (click)="getPlayers()">{{'search' | translate}}</button>
                            </form>
                        </div>

                    </div>

                    <div class="ligas-table-main ligas-tour-table-main team-members-table-main">
                        <table cellpadding="0" class="table-styled" *ngIf="players?.data?.length > 0">
                            <thead>
                                <tr>
                                    <th class="text-left bg-f6">{{'player' | translate}}</th>
                                    <th class="text-left bg-f6 team-member-ampula-header">{{'amplua' | translate}}</th>
                                    <th class="text-left bg-f6 team-member-date-of-birthday-header">{{'dateOfBirthdayChars' | translate}}</th>
                                    <th class="text-left bg-f6 team-member-height-header">{{'height' | translate}}</th>
                                    <th class="text-left bg-f6 team-member-weight-header">{{'weight' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let player of players?.data | paginate: { id: 'players-pagination', itemsPerPage: players?.per_page, currentPage: players?.current_page, totalItems: players?.total }">
                                    <td>
                                        <a href="javascript:void(0)" (click)="prepareVideos(player.id)">
                                            <div class="team-member-flag-photo-name">
                                                <img [src]="'/assets/site/assets/images/' + (player.flag ? player.flag : 'default_flag.jpg')" [alt]="player.country_name" class="team-member-flag-photo-name__flag" />
                                                <img [ngStyle]="{'background-image': 'url(' + '/assets/site/assets/images/' + (player.photo ? player.photo : 'user.png') + ')'}" class="team-member-flag-photo-name__photo" />
                                                <span class="team-member-flag-photo-name__name">{{player.player_name}}</span>
                                            </div>
                                        </a>
                                    </td>
                                    <td class="team-member-ampula">
                                        <a href="javascript:void(0)" (click)="prepareVideos(player.id)">
                                            {{player.position_name}}
                                        </a>
                                    </td>
                                    <td class="team-member-date-of-birthday">
                                        <a href="javascript:void(0)" (click)="prepareVideos(player.id)">
                                            {{player.date_of_birthday | playerDate}}
                                        </a>
                                    </td>
                                    <td class="team-member-height">
                                        <a href="javascript:void(0)" (click)="prepareVideos(player.id)">
                                            {{player.height ? player.height : '-'}}
                                        </a>
                                    </td>
                                    <td class="team-member-weight">
                                        <a href="javascript:void(0)" (click)="prepareVideos(player.id)">
                                            {{player.weight ? player.weight : '-'}}
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <pagination-controls
                            style="display: block; margin-top: 30px;"
                            *ngIf="players != null"
                            id="players-pagination"
                            (pageChange)="playerPageChanged($event)"
                            (pageBoundsCorrection)="playerPageChanged($event)"
                            maxSize="5"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel=""
                            nextLabel=""
                    ></pagination-controls>
                </div>
                <!--players end-->

                <!--teams start-->
                <div *ngIf="tabType == 'teams'">
                    <div class="ligas-table-main row" style="clear: both">

                        <div class="col-12">
                            <form [formGroup]="teamGroup" class="filter flex-row-start-start pt-40 pr-50 pb-40 pl-50">
                                <div>
                                    <div class="single-input-block single-input-block_icon single-input-block_icon_search mr-10">
                                        <input class="single-input" formControlName="team_name" name="team_name" [placeholder]="'teamsName' | translate" />
                                    </div>
                                    <p *ngIf="teamGroup.controls['team_name'].errors?.minLength" style="color: red; margin-top: 10px;">{{'minimumTwoLetters' | translate}}</p>
                                    <p *ngIf="teamGroup.controls['team_name'].errors?.maxLength" style="color: red; margin-top: 10px;">{{'maximum200Letters' | translate}}</p>
                                </div>

                                <button class="button button_blue" (click)="getTeams()">{{'search' | translate}}</button>
                            </form>
                        </div>

                    </div>

                    <ul class="club-teams-list" *ngIf="teams?.data?.length > 0">
                        <li *ngFor="let team of teams?.data | paginate: { id: 'teams-pagination', itemsPerPage: teams?.per_page, currentPage: teams?.current_page, totalItems: teams?.total }">
                            <a href="javascript:void(0)" (click)="prepareVideos(team.id)" class="club-team-block">
                                <img [src]="'/assets/site/assets/images/' + team.logo" />
                                <h5 class="team-name">{{team.name}}</h5>
                            </a>
                        </li>
                    </ul>

                    <pagination-controls
                            style="display: block; margin-top: 30px;"
                            *ngIf="teams != null"
                            id="teams-pagination"
                            (pageChange)="teamPageChanged($event)"
                            (pageBoundsCorrection)="teamPageChanged($event)"
                            maxSize="5"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel=""
                            nextLabel=""
                    ></pagination-controls>
                </div>
                <!--teams end-->

                <app-basic-ghost *ngIf="tabType == 'category' && matches == null || tabType == 'players' && players == null || tabType == 'teams' && teams == null" style="display: block; margin-top: 20px;"></app-basic-ghost>

                <span class="data-is-absent" *ngIf="tabType == 'category' && matches?.data?.length == 0 || tabType == 'players' && players?.data?.length == 0 || tabType == 'teams' && teams?.data?.length == 0">{{'dataIsAbsent' | translate}}</span>
            </div>

            <div *ngIf="matchId != null || playerId != null || teamId != null">
                <a href="javascript:void(0)" (click)="prepareVideos(null)" class="link link_blue link_icon link_icon_back mb-30 table-game-video-button">{{'back' | translate}}</a>

                <div id="main-goal-videos" class="clearfix" *ngIf="videos?.data.length > 0">
                    <div class="main-goal-video" *ngFor="let video of videos?.data | paginate: { id: 'videos-pagination', itemsPerPage: videos?.per_page, currentPage: videos?.current_page, totalItems: videos?.total }">
                        <div class="main-goal-video-block">
                            <div class="video-preview-block">
                                <a href="javascript:void(0)" (click)="showVideoModal(video.video_name)">
                                    <img [src]="'/assets/site/assets/images/' + video.preview_image" class="video-preview-image" />
                                    <img src="/assets/site/assets/images/play-video.png" class="video-preview-play" />
                                </a>
                            </div>
                            <h3 class="video-title">{{video.home_team_name}} – {{video.guest_team_name}} ({{video.home_team_goals_count}}-{{video.guest_team_goals_count}}) ({{video.tournament_name ? video.tournament_name : ('friendlyMatch' | translate)}})</h3>
                            <ul class="list-unstyled video-some-info">
                                <li>{{video.start_time}}</li>
                                <li>{{video.player_name}}</li>
                                <li>{{video.minute}}’</li>
                            </ul>
                        </div>
                    </div>
                </div>

                <app-basic-ghost *ngIf="videos == null" style="display: block; margin-top: 20px;"></app-basic-ghost>

                <span class="data-is-absent" *ngIf="videos?.data?.length == 0">{{'dataIsAbsent' | translate}}</span>

                <pagination-controls
                        *ngIf="videos != null"
                        id="videos-pagination"
                        (pageChange)="videoPageChanged($event)"
                        (pageBoundsCorrection)="videoPageChanged($event)"
                        maxSize="5"
                        directionLinks="true"
                        autoHide="true"
                        responsive="true"
                        previousLabel=""
                        nextLabel=""
                ></pagination-controls>

            </div>
            
        </div>
    </div>
</div>

<app-video-modal [videoSrc]="selectedVideoSrc"></app-video-modal>