.loader
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  z-index: 100
  background-color: rgba(255, 255, 255, .6)
  display: flex
  align-items: center
  justify-content: center



.error
  font-size: 12px
  color: #D84315

.error-404
  font-size: 72px
  display: block
  text-align: center
  margin: 100px auto 0 auto


.ngb-dp-months
  .ngb-dp-month
    width: 100%
    .ngb-dp-weekday
      width: 100%
    .ngb-dp-day
      width: 100%
      .btn-light
        margin: 0 auto
        &.bg-primary
          &.text-white
            color: #000!important
            border: 1px solid #000

.ngx-pagination
  li
    &.current
      padding: 10px 15px
    a
      padding: 10px 15px

// .angular-editor-textarea
//   img
//     width: 100%