<div id="loader" *ngIf="isLoaderActive || documentReadyState != 'complete'" #loader>
    <app-basic-ghost></app-basic-ghost>
</div>

<style>
    #loader{
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 100;
        background-color: #FFF;
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>