<div class="video-modal-block" *ngIf="isActive">
    <div class="video-modal">
        <a href="javascript:void(0)" class="video-modal__close" (click)="closeVideModal()"></a>
        <video [src]="'/assets/site/assets/videos/' + videoSrc" controls></video>
    </div>
</div>