@media screen and (max-width: 1200px)
  #header-section
    #icons-block
      float: right !important
      margin-right: 0 !important
      .search-button
        margin-right: 32px
      .nav-mobile-menu-button
        display: inline-block !important
  #additional-news-section-col
    margin-bottom: 40px

@media screen and (min-width: 1000px)
  .team-header
    .team__main-info
      margin-right: 40px
    ng-select
      margin-right: 40px

@media screen and (max-width: 1000px)
  #nav-section
    height: 10px
    margin-bottom: 32px !important
    #menu-countries
      display: none
  .team-header
    flex-direction: column
    text-align: center
    &>*
      margin-left: 0!important
      margin-right: 0!important
      margin-bottom: 10px
    .form-group-simple__select-group
      margin-left: 0!important

@media screen and (min-width: 992px)
  .banner-col
    padding-left: 45px

@media screen and (max-width: 992px)
  .team-members-table-main
    .team-member-date-of-birthday, .team-member-date-of-birthday-header,  .team-member-height, .team-member-height-header,  .team-member-weight, .team-member-weight-header
      display: none
  .filter
    &.filter_review
      flex-direction: column
      &>*
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
  .banner-link
    display: block
    margin-top: 20px

@media screen and (min-width: 768px)
  #main-goal-videos
    .main-goal-video
      width: calc((100% - 64px) / 3)
      margin-right: 32px
      margin-bottom: 32px
      &:nth-child(3n+3)
        margin-right: 0

@media screen and (max-width: 768px)
  .section-header-ligas
    padding: 20px !important
    .section-header-ligas-block
      .section-header-ligas__team-image
        margin-right: 0!important
      &>*
        float: none !important
      .liga-big-img-block
        margin-bottom: 24px
      .liga-year-select-section
        &>*
          display: block
          margin-bottom: 8px
        .select2-section-football-1
          .select2-container
            width: 100% !important
  .ligas-table-main
    overflow: scroll
  .club-teams-list
    li
      // width: calc((100% - 2*16px) / 3) !important
      height: 172px
      margin-right: 16px !important
      margin-bottom: 16px !important
      // &:nth-child(3)
      //   margin-right: 0 !important
  .td-match-score, .td-match-present-status
    display: none
  #first-news-item
    margin-bottom: 20px
  .footer
    padding: 35px
    border-bottom-width: 12px
    .footer-block-md
      display: none
    .footer-block-sm
      display: block
      .footer-element-header
        display: block
        font-weight: 600
        line-height: 24px
        font-size: 14px
        margin-bottom: 15px
      .footer-element-body
        line-height: 20px
        font-size: 12px
        li
          float: none
          margin-bottom: 8px
          &:last-child
            margin-bottom: 0
      .footer-block-sm-separator-1
        padding: 0 49px 30px 49px
        border-bottom: 1px solid rgba(255, 255, 255, 0.3)
      .footer-block-sm-separator-2
        padding: 30px 49px 0 49px
        .footer-element-header
          display: inline
        ul
          li:first-child
            ul, ul>li
              display: inline
          li:last-child
            .footer-social
              float: right
              li
                margin-right: 24px
                &:last-child
                  margin-right: 0
                img
                  width: 22px
    .footer-block-xs
      display: none
  .team-members-table-main
    .team-member-flag-photo-name
      .team-member-flag-photo-name__flag
      .team-member-flag-photo-name__photo
        display: none
    .team-member-ampula, .team-member-ampula-header,  .team-member-date-of-birthday, .team-member-date-of-birthday-header,  .team-member-height, .team-member-height-header,  .team-member-weight, .team-member-weight-header
      display: none
  .filter
    flex-direction: column
    align-items: center
    width: 100%
    &>*
      margin-left: 0!important
      margin-bottom: 10px
    .filter-name
      margin-bottom: 20px
  .pagination
    .pagination__item
      .pagination__link
        padding: 10px!important
  .news-item__tags-social
    flex-direction: column
    .tags-all
      margin-bottom: 10px
  .additional-news-photo-block
    margin-right: 0!important
      
@media screen and (max-width: 768px) and (min-width: 375px)
  #main-goal-videos
    .main-goal-video
      width: calc((100% - 32px) / 2)
      margin-right: 24px
      margin-bottom: 24px
      &:nth-child(2n+2)
        margin-right: 0

@media screen and (max-width: 576px)
  #header-section
    padding-left: 28px
    padding-right: 28px
  .table-game-video
    tbody
      tr
        td
          &.match-status
            display: none!important

  .news-ghost-list
    .news-ghost-list__item
      flex-direction: column
      .news-ghost-list__img
        margin-left: auto
        margin-right: auto
        margin-bottom: 20px
      .news-ghost-list__text-list
        .news-ghost-list__short-text-4
          display: none
        .news-ghost-list__short-text-5
          display: none
        .news-ghost-list__short-text-6
          display: none
        .news-ghost-list__short-text-7
          display: none
  #icons-block
    .search-button
      display: none!important
  .search-input--header
    display: none!important
  .search-input--mobile-nav
    display: block!important

@media screen and (max-width: 500px)
  #bloggers-block
    .bloggers-photo-block
      display: none
    .blog-info
      width: 100% !important

@media screen and (max-width: 478px)
  .mobile-nav-section
    .mobile-nav-block
      width: 100% !important
      .mobile-nav__footer
        display: block !important
  #primary-logo
    width: 170px!important
    margin-right: 5px!important

@media screen and (max-width: 374px)
  #main-goal-videos
    width: 100%
    display: flex
    white-space: nowrap
    overflow: auto
    .main-goal-video
      display: inline-block
      margin-right: 16px
  #nav-section
    margin-bottom: 24px !important
  .additional-news-photo-block
    text-align: left
  .additional-news-info-block
    .additional-news-info-date--mobile
      display: block !important
    .additional-news-info-date
      display: none
  .table-game-video
    tbody
      tr
        td
          &.match-time
            display: none!important


@media screen and (max-width: 325px)
  .footer
    padding: 28px
    border-bottom-width: 8px
    .footer-block-md
      display: none
    .footer-block-sm
      display: none
    .footer-block-xs
      display: block
      .footer-block-sm-separator-1
        padding: 12px 12px 32px 12px
        border-bottom: 1px solid rgba(255, 255, 255, 0.3)
        .footer-social
          display: flex
          align-items: center
          justify-content: center
          height: 40px
          li
            margin-right: 24px
            &:last-child
              margin-right: 0
            img
              width: 40px
      .footer-block-sm-separator-2
        padding: 30px 0 12px 0
        line-height: 24px
        font-size: 14px
        text-align: center
        .footer-element-header
          display: inline
          font-weight: 600

@media (min-width: 1200px) 
  .hidden-lg
    display: none !important

@media (min-width: 992px) and (max-width: 1199px)
  .hidden-md
    display: none !important

@media (min-width: 768px) and (max-width: 991px)
  .hidden-sm
    display: none !important

@media (max-width: 767px)
  .hidden-xs
    display: none !important