@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-Thin.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-Thin.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-Thin.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-Thin.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-Thin.svg#SanFrancisco-Thin') format('svg');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-UltraLight.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-UltraLight.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-UltraLight.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-UltraLight.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-UltraLight.svg#SanFrancisco-UltraLight') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-Light.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-Light.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-Light.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-Light.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-Light.svg#SanFrancisco-Light') format('svg');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco.svg#SanFrancisco') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-Medium.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-Medium.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-Medium.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-Medium.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-Medium.svg#SanFrancisco-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-SemiBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-SemiBold.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-SemiBold.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-SemiBold.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-SemiBold.svg#SanFrancisco-SemiBold') format('svg');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-Bold.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-Bold.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-Bold.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-Bold.svg#SanFrancisco-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-ExtraBold.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-ExtraBold.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-ExtraBold.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-ExtraBold.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-ExtraBold.svg#SanFrancisco-ExtraBold') format('svg');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'San Francisco';
    src: url('../fonts/SanFrancisco/SanFrancisco-Black.eot?#iefix') format('embedded-opentype'),  url('../fonts/SanFrancisco/SanFrancisco-Black.otf')  format('opentype'),
    url('../fonts/SanFrancisco/SanFrancisco-Black.woff') format('woff'), url('../fonts/SanFrancisco/SanFrancisco-Black.ttf')  format('truetype'), url('../fonts/SanFrancisco/SanFrancisco-Black.svg#SanFrancisco-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}