body * {
  font-family: "San Francisco";
  letter-spacing: 0.3px;
  box-sizing: border-box; }

*:before, *:after {
  box-sizing: border-box; }

#main {
  width: 100%;
  max-width: 1440px;
  margin: auto; }

#header-section {
  display: flex;
  height: 96px;
  color: white;
  background-color: #3973B0; }
  #header-section #header-block {
    display: flex;
    align-items: center; }
    #header-section #header-block > a {
      display: block; }
      #header-section #header-block > a #primary-logo {
        margin-right: 76px;
        max-height: 50px; }
    #header-section #header-block #menu {
      line-height: 24px;
      font-size: 14px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      float: left;
      margin-right: 65px; }
      #header-section #header-block #menu li {
        margin-right: 24px; }
        #header-section #header-block #menu li:last-child {
          margin-right: 0px; }
        #header-section #header-block #menu li a {
          color: white; }
    #header-section #header-block #icons-block {
      display: flex;
      margin-left: auto;
      margin-right: 32px; }
      #header-section #header-block #icons-block .login-button {
        margin-right: 32px; }
      #header-section #header-block #icons-block img {
        width: 32px; }
      #header-section #header-block #icons-block .nav-mobile-menu-button, #header-section #header-block #icons-block .nav-mobile-menu-button--close, #header-section #header-block #icons-block #close-search {
        display: none; }
    #header-section #header-block #langs-block {
      line-height: 24px;
      font-size: 14px;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      float: left;
      cursor: pointer;
      position: relative; }
      #header-section #header-block #langs-block .langs-block__lang-list {
        display: none;
        position: absolute;
        left: -8px;
        background-color: #FFF;
        padding: 14px 12px;
        box-shadow: 0px 1px 8px rgba(223, 223, 223, 0.5); }
        #header-section #header-block #langs-block .langs-block__lang-list .langs-block__lang-item {
          font-size: 14px;
          line-height: 24px;
          color: #686868;
          margin-bottom: 12px; }
          #header-section #header-block #langs-block .langs-block__lang-list .langs-block__lang-item:last-child {
            margin-bottom: 0; }

.single-input-block {
  display: flex;
  align-items: center;
  position: relative;
  padding: 15px 18px;
  border: 1px solid #DBDBDB;
  background-color: #FFF; }
  .single-input-block.single-input-block_icon:before {
    content: '';
    display: block;
    width: 16px;
    height: 16px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-right: 10px; }
  .single-input-block.single-input-block_icon_search:before {
    background-image: url(../images/single_search.png); }
  .single-input-block.single-input-block_icon_username:before {
    background-image: url(../images/single_username.png); }
  .single-input-block.single-input-block_icon_email:before {
    background-image: url(../images/single_email.png); }
  .single-input-block.single-input-block_icon_password:before {
    background-image: url(../images/single_password.png); }
  .single-input-block.single-input-block_icon_date input {
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline-width: 0; }
  .single-input-block.single-input-block_icon_date:before {
    background-image: url(../images/single_date.png); }
  .single-input-block .single-input {
    font-size: 14px;
    font-weight: 600;
    border: none;
    outline-width: 0; }
  .single-input-block .single-input-show-pass {
    display: block;
    width: 16px;
    height: 11px;
    position: absolute;
    right: 18px;
    background-image: url(../images/single_hide.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }

.single__check-box-group {
  display: flex;
  align-items: center; }
  .single__check-box-group .single__check-text {
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 14px;
    color: #686868; }
  .single__check-box-group .single__check-box {
    width: 16px;
    height: 16px;
    display: block;
    position: relative;
    cursor: pointer;
    background-color: #F7F8FD; }
    .single__check-box-group .single__check-box .single__check {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0; }
    .single__check-box-group .single__check-box .single__checkmark {
      position: absolute;
      top: 0;
      left: 0;
      width: 16px;
      height: 16px;
      background-color: #FFF;
      border: 1px solid #DBDBDB; }
      .single__check-box-group .single__check-box .single__checkmark:after {
        content: '';
        width: 16px;
        height: 16px;
        display: block;
        position: absolute;
        background-position: center;
        background-repeat: no-repeat; }
      .single__check-box-group .single__check-box .single__checkmark.single__checkmark_checked:after {
        background-color: #FFC633;
        background-image: url(../img/checked.svg); }
      .single__check-box-group .single__check-box .single__checkmark.single__checkmark_not-full-checked:after {
        width: 14px;
        height: 14px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #FFC633; }

.team-header {
  display: flex;
  align-items: center; }
  .team-header .team__logo {
    height: 96px;
    margin-right: 24px; }
  .team-header .team__main-info .team__name {
    display: block;
    font-size: 24px;
    font-weight: 700;
    color: #3973B0;
    margin-bottom: 4px; }
  .team-header .team__main-info .team__original-name {
    display: block;
    color: #979797; }
  .team-header .form-group-simple__select-group {
    margin-left: auto; }
  .team-header .tean__add-info {
    margin-right: 56px; }
    .team-header .tean__add-info:last-child {
      margin-right: 0; }
    .team-header .tean__add-info:nth-child(3) {
      margin-left: auto; }
    .team-header .tean__add-info .team-add__name {
      display: block;
      color: #979797;
      margin-bottom: 4px; }
    .team-header .tean__add-info .team-add__value {
      display: block;
      font-size: 16px;
      color: #2E2E2E; }

.search-input {
  width: 100%;
  margin-right: 32px;
  background-color: #3973B0;
  color: #608FBF;
  padding: 5px 10px;
  border-top: 2px solid rgba(255, 255, 255, 0.2);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  border-left: none;
  border-right: none;
  outline-width: 0; }
  .search-input::placeholder {
    color: #608FBF; }

.search-input--header {
  display: none; }

.search-input--mobile-nav {
  display: none; }

#nav-section {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  color: #3973B0;
  background-color: #D7E3EF;
  text-align: center;
  margin-bottom: 48px; }
  #nav-section #menu-countries {
    height: 100%;
    margin: auto;
    padding: 16px 0;
    text-transform: uppercase;
    display: inline-block; }
    #nav-section #menu-countries li {
      margin-right: 33px;
      line-height: 24px;
      font-size: 14px; }
      #nav-section #menu-countries li:after {
        content: ' ';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #3973B0;
        border-radius: 50%;
        float: left;
        margin-right: 33px;
        margin-top: 8px; }
      #nav-section #menu-countries li:first-child:after {
        display: none; }
      #nav-section #menu-countries li a {
        color: #3973B0; }
  #nav-section .menu-countries-ghost {
    display: flex;
    align-items: center; }
    #nav-section .menu-countries-ghost li {
      display: flex;
      align-items: center;
      margin-right: 33px; }
      #nav-section .menu-countries-ghost li::after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        background-color: #3973B0;
        border-radius: 50%; }
      #nav-section .menu-countries-ghost li:last-child::after {
        display: none; }
      #nav-section .menu-countries-ghost li a {
        display: block;
        width: 70px;
        height: 3px;
        border-radius: 10px;
        background-color: #3973B0;
        margin-right: 33px; }

.right-sidebar-ghost-list {
  display: flex;
  flex-direction: column; }
  .right-sidebar-ghost-list .right-sidebar-ghost-list__item {
    border-bottom: 1px solid #D8D8D8;
    padding-top: 20px;
    padding-bottom: 20px; }
    .right-sidebar-ghost-list .right-sidebar-ghost-list__item:first-child {
      padding-top: 0; }
    .right-sidebar-ghost-list .right-sidebar-ghost-list__item .right-sidebar-ghost-list__date {
      width: 120px;
      height: 2px;
      background-color: #979797;
      margin-bottom: 10px; }
    .right-sidebar-ghost-list .right-sidebar-ghost-list__item .right-sidebar-ghost-list__text-1 {
      width: 240px;
      height: 2px;
      background-color: #2E2E2E;
      margin-bottom: 10px; }
    .right-sidebar-ghost-list .right-sidebar-ghost-list__item .right-sidebar-ghost-list__text-2 {
      width: 200px;
      height: 2px;
      background-color: #2E2E2E;
      margin-bottom: 10px; }
    .right-sidebar-ghost-list .right-sidebar-ghost-list__item .right-sidebar-ghost-list__text-3 {
      width: 150px;
      height: 2px;
      background-color: #2E2E2E; }

.news-ghost-list {
  display: flex;
  flex-direction: column; }
  .news-ghost-list .news-ghost-list__item {
    display: flex;
    margin-bottom: 16px; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__img {
      width: 243px;
      height: 196px;
      background-image: url(../images/default_image.jpg);
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      margin-right: 20px; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list {
      flex-shrink: 0;
      flex-grow: 1; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__title-1 {
        width: 100%;
        height: 4px;
        background-color: #2E2E2E;
        margin-bottom: 24px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__title-2 {
        width: 60%;
        height: 4px;
        background-color: #2E2E2E;
        margin-bottom: 24px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__date {
        width: 40%;
        height: 2px;
        background-color: #979797;
        margin-bottom: 20px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-1 {
        width: 100%;
        height: 2px;
        background-color: #2E2E2E;
        margin-bottom: 15px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-2 {
        width: 86%;
        height: 2px;
        background-color: #2E2E2E;
        margin-bottom: 15px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-3 {
        width: 72%;
        height: 2px;
        background-color: #2E2E2E;
        margin-bottom: 15px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-4 {
        width: 58%;
        height: 2px;
        background-color: #2E2E2E;
        margin-bottom: 15px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-5 {
        width: 44%;
        height: 2px;
        background-color: #2E2E2E;
        margin-bottom: 15px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-6 {
        width: 30%;
        height: 2px;
        background-color: #2E2E2E;
        margin-bottom: 15px; }
      .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-7 {
        width: 16%;
        height: 2px;
        background-color: #2E2E2E; }

.page-title {
  display: block;
  font-size: 35px;
  font-weight: 700;
  text-align: center; }

.page-body p {
  font-size: 16px;
  line-height: 125%;
  margin: 20px 0; }

.page-body h1, .page-body h2, .page-body h3, .page-body h4, .page-body h5, .page-body h6 {
  font-weight: 600;
  line-height: 125%; }

.page-body h1 {
  font-size: 16px; }

.page-body h2 {
  font-size: 18px; }

.page-body h3 {
  font-size: 20px; }

.page-body h4 {
  font-size: 22px; }

.page-body h5 {
  font-size: 24px; }

.page-body h6 {
  font-size: 26px; }

.page-body i {
  font-style: italic; }

.page-body strong {
  font-weight: 700; }

.mobile-nav-title {
  display: block;
  font-size: 35px;
  color: #FFF; }

.mobile-nav-section {
  display: none;
  position: fixed;
  top: 106px;
  z-index: 999;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6); }
  .mobile-nav-section .mobile-nav-block {
    width: 375px;
    height: calc(100vh - 106px);
    overflow-y: auto;
    position: absolute;
    right: -375px;
    background-color: #3973B0;
    padding: 24px 40px; }
    .mobile-nav-section .mobile-nav-block .mob-langs-list {
      display: flex;
      align-items: center;
      margin-bottom: 20px; }
      .mobile-nav-section .mobile-nav-block .mob-langs-list .mob-langs-list__item {
        margin-right: 20px; }
        .mobile-nav-section .mobile-nav-block .mob-langs-list .mob-langs-list__item:last-child {
          margin-right: 0; }
        .mobile-nav-section .mobile-nav-block .mob-langs-list .mob-langs-list__item.disabled .mob-langs-list__link {
          color: #b3b3b3; }
        .mobile-nav-section .mobile-nav-block .mob-langs-list .mob-langs-list__item .mob-langs-list__link {
          display: block;
          text-decoration: none;
          color: #fff;
          font-size: 16px;
          font-weight: 600; }
    .mobile-nav-section .mobile-nav-block .mobile-nav__list .mobile-nav__list__item .mobile-nav__list__item__link {
      font-weight: bold;
      font-size: 20px;
      line-height: 56px;
      letter-spacing: 0.25px;
      text-transform: uppercase;
      color: #FFFFFF; }
    .mobile-nav-section .mobile-nav-block .mobile-nav__footer {
      margin-top: 28px;
      display: none; }
      .mobile-nav-section .mobile-nav-block .mobile-nav__footer .mobile-nav__footer__social-list {
        padding: 32px 16px;
        border-top: 1px solid rgba(255, 255, 255, 0.3);
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        .mobile-nav-section .mobile-nav-block .mobile-nav__footer .mobile-nav__footer__social-list .mobile-nav__footer__social-list__item {
          float: left;
          width: 25%;
          margin-right: 4px;
          height: 45px;
          display: table; }
          .mobile-nav-section .mobile-nav-block .mobile-nav__footer .mobile-nav__footer__social-list .mobile-nav__footer__social-list__item:last-child {
            margin-right: 0;
            width: 0; }
          .mobile-nav-section .mobile-nav-block .mobile-nav__footer .mobile-nav__footer__social-list .mobile-nav__footer__social-list__item .mobile-nav__footer__social-list__item__link {
            display: table-cell;
            vertical-align: middle; }
      .mobile-nav-section .mobile-nav-block .mobile-nav__footer .mobile-nav__footer__text {
        display: block;
        padding: 28px 0;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        color: #FFFFFF; }

#content {
  width: 100%;
  margin-bottom: 56px; }
  #content #hot-news-section {
    margin-top: 48px; }
    #content #hot-news-section #hot-news-block #first-news-item {
      padding-right: 32px !important; }
      #content #hot-news-section #hot-news-block #first-news-item:hover #first-news-item-title {
        text-decoration: underline; }
      #content #hot-news-section #hot-news-block #first-news-item a {
        text-decoration: none; }
      #content #hot-news-section #hot-news-block #first-news-item > a > div:first-child {
        height: 246px;
        position: relative;
        background-image: url(../images/news1-photo.png);
        background-clip: content-box;
        background-position: center;
        background-size: cover; }
        #content #hot-news-section #hot-news-block #first-news-item > a > div:first-child img {
          width: 100%;
          position: absolute; }
        #content #hot-news-section #hot-news-block #first-news-item > a > div:first-child > div {
          width: 122px;
          height: 40px;
          background-color: #EC9A29;
          padding: 8px 16px;
          position: absolute;
          bottom: 0;
          line-height: 24px;
          font-size: 12px;
          letter-spacing: 0.3px; }
          #content #hot-news-section #hot-news-block #first-news-item > a > div:first-child > div span {
            width: 95px;
            display: block;
            color: white; }
      #content #hot-news-section #hot-news-block #first-news-item #first-news-item-title {
        line-height: 32px;
        font-size: 20px;
        color: #2E2E2E;
        text-transform: uppercase;
        font-weight: 600;
        margin: 28px 0 26px 0; }
      #content #hot-news-section #hot-news-block #first-news-item .tags {
        float: left;
        margin-right: 6px; }
        #content #hot-news-section #hot-news-block #first-news-item .tags:last-child {
          margin-right: 0; }
    #content #hot-news-section #hot-news-block #main-news li {
      border-bottom: 1px solid #DEDEDE;
      margin-bottom: 20px; }
      #content #hot-news-section #hot-news-block #main-news li:hover .main-news-title {
        text-decoration: underline; }
      #content #hot-news-section #hot-news-block #main-news li:last-child {
        margin-bottom: 0; }
      #content #hot-news-section #hot-news-block #main-news li .main-news-date {
        display: block;
        margin-bottom: 12px;
        font-size: 12px;
        letter-spacing: 0.3px;
        color: #979797; }
      #content #hot-news-section #hot-news-block #main-news li .main-news-title {
        text-transform: uppercase;
        color: #2E2E2E;
        margin: 0;
        padding-bottom: 13px;
        font-size: 16px;
        letter-spacing: 0.3px;
        line-height: 24px;
        font-weight: 600; }

.form-group-simple__select-group {
  z-index: 999; }
  .form-group-simple__select-group .form-group-simple__control {
    z-index: 2;
    background-color: #FFF;
    border: none;
    padding: 11px 20px; }
    .form-group-simple__select-group .form-group-simple__control:hover {
      box-shadow: 0px 5px 10px #DADAE5;
      cursor: pointer; }
    .form-group-simple__select-group .form-group-simple__control.form-group-simple__control--is-focused {
      box-shadow: 0px 5px 10px #DADAE5; }
    .form-group-simple__select-group .form-group-simple__control.form-group-simple__control--menu-is-open {
      box-shadow: none !important; }
    .form-group-simple__select-group .form-group-simple__control .form-group-simple__value-container {
      padding: 0;
      min-width: 115px; }
      .form-group-simple__select-group .form-group-simple__control .form-group-simple__value-container .form-group-simple__placeholder {
        font-weight: 400 !important;
        font-size: 1.143em !important;
        color: #9696AA !important; }
      .form-group-simple__select-group .form-group-simple__control .form-group-simple__value-container .form-group-simple__input {
        display: block; }
      .form-group-simple__select-group .form-group-simple__control .form-group-simple__value-container .form-group-simple__single-value {
        font-weight: 600;
        font-size: 1.143em;
        font-size: 14px;
        text-transform: uppercase;
        color: #686868; }
    .form-group-simple__select-group .form-group-simple__control .form-group-simple__indicators {
      width: 24px;
      height: 24px; }
      .form-group-simple__select-group .form-group-simple__control .form-group-simple__indicators .form-group-simple__indicator {
        position: relative;
        top: 80%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-image: url(../img/select-arrow.svg);
        background-position: center;
        background-repeat: no-repeat; }
  .form-group-simple__select-group .form-group-simple__menu {
    width: 100%;
    padding-top: 7px;
    margin-top: -5px;
    background-color: #FFF;
    border: none !important;
    z-index: 999; }
    .form-group-simple__select-group .form-group-simple__menu .form-group-simple__menu-notice--no-options {
      display: none; }
    .form-group-simple__select-group .form-group-simple__menu .form-group-simple__menu-list {
      z-index: 999; }
      .form-group-simple__select-group .form-group-simple__menu .form-group-simple__menu-list .form-group-simple__option {
        font-weight: 400;
        color: #686868;
        font-size: 14px;
        padding: 12px;
        text-transform: uppercase; }
        .form-group-simple__select-group .form-group-simple__menu .form-group-simple__menu-list .form-group-simple__option.form-group-simple__option--is-selected {
          background-color: #BEBED0 !important; }
        .form-group-simple__select-group .form-group-simple__menu .form-group-simple__menu-list .form-group-simple__option.form-group-simple__option--is-focused {
          background-color: #F6F6F6; }

.timeline_title {
  display: block;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 20px; }

.timeline__list {
  display: flex;
  flex-direction: column; }
  .timeline__list .timeline__item {
    border-bottom: 1px solid #D8D8D8; }
    .timeline__list .timeline__item:last-child {
      border-bottom: none; }
    .timeline__list .timeline__item:first-child .timeline__link {
      padding-top: 0; }
    .timeline__list .timeline__item .timeline__link {
      display: block;
      text-decoration: none;
      padding-top: 20px;
      padding-bottom: 20px; }
      .timeline__list .timeline__item .timeline__link .timeline__date {
        display: block;
        font-size: 12px;
        color: #979797;
        margin-bottom: 10px; }
      .timeline__list .timeline__item .timeline__link .timeline__news-item-title {
        display: block;
        font-size: 14px;
        line-height: 18px;
        font-weight: 400;
        color: #2E2E2E; }

.categories-all {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  word-break: break-word; }
  .categories-all .categories-all__item {
    margin-bottom: 10px; }
    .categories-all .categories-all__item .categories-columns {
      display: flex;
      flex-direction: column; }
      .categories-all .categories-all__item .categories-columns .categories-columns__item {
        margin-bottom: 10px; }
        .categories-all .categories-all__item .categories-columns .categories-columns__item:last-child {
          margin-bottom: 0; }
        .categories-all .categories-all__item .categories-columns .categories-columns__item .categories-columns__link {
          display: flex;
          text-decoration: none; }
          .categories-all .categories-all__item .categories-columns .categories-columns__item .categories-columns__link:hover {
            text-decoration: underline; }
          .categories-all .categories-all__item .categories-columns .categories-columns__item .categories-columns__link .categories-columns__category {
            display: block;
            font-size: 14px;
            margin-right: 10px;
            color: #2E2E2E; }
            .categories-all .categories-all__item .categories-columns .categories-columns__item .categories-columns__link .categories-columns__category.categories-columns__category_all {
              font-weight: 600; }
          .categories-all .categories-all__item .categories-columns .categories-columns__item .categories-columns__link .categories-columns__added-count {
            display: block;
            font-size: 12px;
            color: #3973B0; }

.news-vertical {
  display: flex; }
  .news-vertical .slick-list {
    margin: 0 -16px; }
  .news-vertical .slick-slide {
    margin: 0 16px; }
  .news-vertical .news-vertical__item .news-vertical__link {
    display: block;
    text-decoration: none;
    word-break: break-word; }
    .news-vertical .news-vertical__item .news-vertical__link .news-vertical__img {
      display: block;
      width: 100%;
      height: 211px;
      margin-bottom: 20px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover; }
    .news-vertical .news-vertical__item .news-vertical__link .news-vertical__date {
      display: block;
      font-size: 12px;
      color: #979797;
      margin-bottom: 15px; }
    .news-vertical .news-vertical__item .news-vertical__link .news-vertical__title {
      display: block;
      font-size: 20px;
      line-height: 25px;
      font-weight: 600;
      color: #2E2E2E;
      margin-bottom: 20px; }

.pagination {
  display: flex;
  justify-content: center;
  align-items: center; }
  .pagination .pagination__item.active .pagination__link {
    background-color: #D7E3EF;
    color: #3973B0; }
  .pagination .pagination__item.pagination__item_arrow .pagination__link {
    width: 12px;
    height: 16px;
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center; }
  .pagination .pagination__item.pagination__item_arrow_prev .pagination__link {
    background-image: url("../images/arrow_prev.svg"); }
  .pagination .pagination__item.pagination__item_arrow_next .pagination__link {
    background-image: url("../images/arrow_next.svg"); }
  .pagination .pagination__item .pagination__link {
    text-decoration: none;
    color: #979797;
    padding: 15px 20px;
    text-transform: uppercase;
    display: block; }

.main-news-slider-wrapper {
  position: relative; }
  .main-news-slider-wrapper .owl-stage-outer {
    margin-bottom: 10px; }
  .main-news-slider-wrapper .owl-dots .owl-dot {
    border: none;
    width: 64px;
    height: 4px;
    background-color: #E9E9E9;
    margin-right: 8px; }
    .main-news-slider-wrapper .owl-dots .owl-dot.active {
      background-color: #3973B0; }
    .main-news-slider-wrapper .owl-dots .owl-dot * {
      display: none !important; }

.main-news-slider .main-news-slider__item .main-news-slider__link {
  display: block;
  text-decoration: none;
  margin-bottom: 15px; }
  .main-news-slider .main-news-slider__item .main-news-slider__link .main-news-slider__img-box {
    margin-bottom: 30px; }
    .main-news-slider .main-news-slider__item .main-news-slider__link .main-news-slider__img-box .main-news-slider__img {
      display: block;
      width: 100%; }
  .main-news-slider .main-news-slider__item .main-news-slider__link .main-news-slider__title {
    display: block;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    font-weight: 600;
    color: #2E2E2E; }

.main-news-slider-button-block {
  position: absolute;
  z-index: 2;
  top: 26%;
  display: flex;
  justify-content: center;
  align-items: center; }
  .main-news-slider-button-block.main-news-slider-button-block_prev {
    left: 0; }
    .main-news-slider-button-block.main-news-slider-button-block_prev .main-news-slider-button {
      background-image: url("../images/arrow_main_news_slider_prev.png"); }
  .main-news-slider-button-block.main-news-slider-button-block_next {
    right: 0; }
    .main-news-slider-button-block.main-news-slider-button-block_next .main-news-slider-button {
      background-image: url("../images/arrow_main_news_slider_next.png"); }
  .main-news-slider-button-block .main-news-slider-button {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%; }

.arrow-link {
  display: block;
  text-decoration: none;
  width: 13px;
  height: 18px;
  background-repeat: no-repeat;
  background-size: 10px;
  background-position: center; }
  .arrow-link.arrow-link_prev {
    background-image: url("../images/arrow_prev.svg"); }
  .arrow-link.arrow-link_next {
    background-image: url("../images/arrow_next.svg"); }

.filter {
  background-color: #F6F6F6; }
  .filter .filter-name {
    font-size: 30px;
    font-weight: 700; }

.tags-all {
  display: flex; }

.tags {
  padding: 5px 16px;
  background-color: #E6EFF7;
  color: #3973B0;
  border: 1px solid #CDDEF0;
  font-size: 12px;
  margin-right: 5px;
  text-align: center; }
  .tags:last-child {
    margin-right: 0; }

.share-social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px; }
  .share-social .share-social__item {
    list-style-type: none;
    margin-right: 10px;
    color: #3973B0; }
    .share-social .share-social__item:last-child {
      margin-right: 0; }
    .share-social .share-social__item .share-social__link {
      display: block;
      text-decoration: none;
      color: #3973B0; }

.slider-wrapper {
  position: relative; }
  .slider-wrapper .ligas-list {
    width: calc(100% - 120px); }

.slider-button-block {
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center; }
  .slider-button-block.slider-button-block_prev .slider-button {
    background-image: url("../images/arrow_slider_prev.png"); }
  .slider-button-block.slider-button-block_next .slider-button {
    background-image: url("../images/arrow_slider_next.png"); }
  .slider-button-block .slider-button {
    display: block;
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%; }

.list-unstyled li {
  float: left; }
  .list-unstyled li a {
    text-decoration: none;
    color: #FFF; }

.tab-content .tab-pane {
  display: none; }

.pad-0 {
  padding: 0; }

.pad-lf-16 {
  padding-left: 16px; }

.section {
  width: 100%;
  margin-bottom: 48px; }
  .section .section-header {
    width: 100%;
    padding-bottom: 27px;
    border-bottom: 2px solid #E9E9E9; }
    .section .section-header h2 {
      font-weight: 600;
      font-size: 24px;
      line-height: 120%;
      text-transform: uppercase;
      color: #3973B0; }
    .section .section-header .section-header__link {
      font-weight: 600;
      font-size: 14px;
      text-transform: uppercase;
      color: #3973B0;
      text-decoration: none; }
  .section .section-header-ligas {
    width: 100%;
    padding: 32px 48px;
    background-color: #F6F6F6;
    border-radius: 2px; }
    .section .section-header-ligas .section-header-ligas-block {
      text-align: center; }
      .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-image {
        float: left;
        margin-right: 64px; }
      .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-header {
        width: 260px;
        float: left;
        text-align: left;
        margin: 0 auto; }
        .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-header .section-header-ligas__team-header__title {
          width: 100%;
          font-weight: 600;
          font-size: 20px;
          line-height: 32px;
          letter-spacing: 0.3px;
          text-transform: uppercase;
          color: #2E2E2E; }
        .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-header .section-header-ligas__team-header__info {
          width: 100%; }
          .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-header .section-header-ligas__team-header__info .section-header-ligas__team-header__info__row {
            width: 100%; }
            .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-header .section-header-ligas__team-header__info .section-header-ligas__team-header__info__row .section-header-ligas__team-header__info__cell {
              float: left;
              width: 50%;
              font-weight: normal;
              font-size: 14px;
              line-height: 24px;
              color: #2E2E2E; }
              .section .section-header-ligas .section-header-ligas-block .section-header-ligas__team-header .section-header-ligas__team-header__info .section-header-ligas__team-header__info__row .section-header-ligas__team-header__info__cell:after {
                content: '';
                display: block;
                clear: both; }
      .section .section-header-ligas .section-header-ligas-block .liga-year-select-section {
        display: flex;
        align-items: center;
        justify-content: center; }
  .section .section-body {
    width: 100%;
    padding: 22px 0; }
  .section .section-body-ligas {
    width: 100%;
    padding: 48px 0; }
  .section .section-body-team .ligas-list {
    padding-top: 25px;
    padding-bottom: 25px; }
  .section .section-footer {
    text-align: center;
    clear: both; }
    .section .section-footer a {
      display: block;
      width: 100%;
      font-size: 14px;
      line-height: 56px;
      font-weight: 600;
      background-color: #F6F6F6;
      border-radius: 2px;
      text-decoration: none;
      color: #000;
      text-transform: uppercase; }
  .section:last-child {
    margin-bottom: 0; }

.section-footer-link {
  display: block;
  width: 100%;
  font-size: 14px;
  line-height: 56px;
  font-weight: 600;
  background-color: #F6F6F6;
  border-radius: 2px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  text-align: center; }

.ligas-list {
  width: 100%;
  display: flex; }
  .ligas-list .owl-item {
    width: auto !important; }
  .ligas-list .slick-slide {
    margin-right: 16px; }
  .ligas-list.ligas-list_column {
    flex-direction: column; }
    .ligas-list.ligas-list_column li {
      margin-right: 0 !important;
      margin-bottom: 10px !important; }
  .ligas-list li {
    display: inline-block;
    border: 1px solid #C0C0C0; }
    .ligas-list li a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 16px 24px; }
    .ligas-list li .liga-logo {
      width: auto !important;
      max-height: 24px;
      top: 6px;
      margin-right: 12px; }
    .ligas-list li .liga-title {
      display: inline-block;
      font-weight: 600;
      line-height: 24px;
      font-size: 16px;
      letter-spacing: 0.24px;
      text-transform: uppercase;
      color: #2E2E2E; }
    .ligas-list li.active {
      background-color: #3973B0; }
      .ligas-list li.active span {
        color: #FFF !important; }

.ligas-table-main {
  width: 100%;
  padding: 35px 0;
  margin: 0;
  clear: both; }
  .ligas-table-main > div {
    padding: 0; }
  .ligas-table-main .table-styled {
    width: 100%; }
    .ligas-table-main .table-styled td, .ligas-table-main .table-styled th {
      border-bottom: 1px solid #C0C0C0;
      padding: 20px 12px;
      font-size: 16px; }
      .ligas-table-main .table-styled td:first-child, .ligas-table-main .table-styled th:first-child {
        padding-left: 0; }
      .ligas-table-main .table-styled td:last-child, .ligas-table-main .table-styled th:last-child {
        padding-right: 0; }
      .ligas-table-main .table-styled td .match-was-ended, .ligas-table-main .table-styled th .match-was-ended {
        line-height: 24px; }
      .ligas-table-main .table-styled td .match-time, .ligas-table-main .table-styled td .match-was-not-beginned, .ligas-table-main .table-styled th .match-time, .ligas-table-main .table-styled th .match-was-not-beginned {
        color: #979797; }
      .ligas-table-main .table-styled td .match-was-ended-play, .ligas-table-main .table-styled th .match-was-ended-play {
        position: relative;
        top: 7px; }
      .ligas-table-main .table-styled td .score-o, .ligas-table-main .table-styled td .score-x, .ligas-table-main .table-styled th .score-o, .ligas-table-main .table-styled th .score-x {
        font-weight: 600; }
    .ligas-table-main .table-styled .ligas-table-thead tr th {
      padding: 15px;
      background-color: #F6F6F6; }
      .ligas-table-main .table-styled .ligas-table-thead tr th .liga-logo {
        margin-right: 12px;
        max-height: 50px; }
      .ligas-table-main .table-styled .ligas-table-thead tr th .liga-logo, .ligas-table-main .table-styled .ligas-table-thead tr th .liga-title {
        vertical-align: middle; }
    .ligas-table-main .table-styled .td-match-versus .td-match-versus__home, .ligas-table-main .table-styled .td-match-versus .td-match-versus__guest {
      color: #0c0a0a;
      text-decoration: none; }
      .ligas-table-main .table-styled .td-match-versus .td-match-versus__home:hover, .ligas-table-main .table-styled .td-match-versus .td-match-versus__guest:hover {
        text-decoration: underline; }
      .ligas-table-main .table-styled .td-match-versus .td-match-versus__home.defeated, .ligas-table-main .table-styled .td-match-versus .td-match-versus__guest.defeated {
        color: #ababab; }
    .ligas-table-main .table-styled .td-match-score {
      min-width: 66px; }
  .ligas-table-main .title {
    font-size: 20px;
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px; }

.ligas-tour-table-main {
  padding-bottom: 0; }
  .ligas-tour-table-main .club-logo {
    position: relative;
    top: 5px; }
  .ligas-tour-table-main th {
    font-weight: 600;
    line-height: 24px;
    font-size: 14px;
    letter-spacing: 0.3px;
    color: #2E2E2E;
    border-bottom: none !important; }
    .ligas-tour-table-main th:first-child {
      padding-left: 24px !important; }
    .ligas-tour-table-main th:last-child {
      padding-right: 24px !important; }
  .ligas-tour-table-main td:first-child {
    padding-left: 24px !important; }
  .ligas-tour-table-main td, .ligas-tour-table-main th {
    font-size: 18px !important; }
  .ligas-tour-table-main .stadium-name, .ligas-tour-table-main .match-score {
    font-weight: 600; }

.team-members-table-main .team-member-flag-photo-name {
  display: flex;
  align-items: center; }
  .team-members-table-main .team-member-flag-photo-name .team-member-flag-photo-name__flag {
    height: 15px;
    margin-right: 15px; }
  .team-members-table-main .team-member-flag-photo-name .team-member-flag-photo-name__photo {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin-right: 15px; }

.team-members-table-main a {
  color: inherit;
  text-decoration: none; }

.ligas-sidebar-news-section {
  padding: 35px 0 0 32px !important; }
  .ligas-sidebar-news-section .ligas-sidebar-news-block > li {
    margin-bottom: 20px; }
  .ligas-sidebar-news-section .ligas-sidebar-news-block a:hover .news-title {
    text-decoration: underline; }
  .ligas-sidebar-news-section .ligas-sidebar-news-block .news-date {
    display: block;
    line-height: 24px;
    font-size: 12px;
    letter-spacing: 0.3px;
    color: #979797; }
  .ligas-sidebar-news-section .ligas-sidebar-news-block .news-title {
    display: inline;
    line-height: 32px;
    font-size: 20px;
    color: #2E2E2E; }
  .ligas-sidebar-news-section .ligas-sidebar-news-block .news-not-read {
    font-weight: 600; }
  .ligas-sidebar-news-section .ligas-sidebar-news-block .news-tag-items {
    display: inline-block; }
    .ligas-sidebar-news-section .ligas-sidebar-news-block .news-tag-items li {
      margin-left: 10px; }
    .ligas-sidebar-news-section .ligas-sidebar-news-block .news-tag-items .news-has-video-photo {
      padding: 5px 10px;
      background-color: #EC9A29;
      border-radius: 2px;
      color: #FFF;
      line-height: 12px;
      font-size: 9px;
      letter-spacing: 0.3px; }
    .ligas-sidebar-news-section .ligas-sidebar-news-block .news-tag-items .news-is-hot {
      width: 12px;
      height: 16px;
      display: block;
      background-image: url(../images/news_hot.png);
      background-clip: content-box;
      background-position: center;
      background-size: cover; }

#additional-news-section {
  margin-bottom: 48px; }
  #additional-news-section .row {
    margin: 0; }

.ligas-table-main .table-nav-button-block {
  position: absolute;
  top: 0;
  z-index: 2;
  padding: 6px; }
  .ligas-table-main .table-nav-button-block > * {
    width: 15px;
    height: 15px;
    border-color: #686868;
    border-style: solid;
    transform: rotate(-45deg); }
  .ligas-table-main .table-nav-button-block.left-nav-button-block {
    left: 0; }
  .ligas-table-main .table-nav-button-block.right-nav-button-block {
    right: 0; }
  .ligas-table-main .table-nav-button-block .left-nav-button {
    border-left-width: 3px;
    border-top-width: 3px; }
  .ligas-table-main .table-nav-button-block .right-nav-button {
    border-right-width: 3px;
    border-bottom-width: 3px; }

.ligas-table-main .ligas-table-header-title-block {
  text-align: center;
  font-weight: 600;
  line-height: 32px;
  font-size: 20px;
  text-transform: uppercase;
  color: #2E2E2E; }

.team-news-tab-pane-inner .row {
  margin-left: 0;
  margin-right: 0; }

#additional-news-block li {
  width: 100%;
  margin-bottom: 16px; }
  #additional-news-block li a {
    text-decoration: none; }
  #additional-news-block li .additional-news-photo-block {
    float: left;
    margin-right: 32px;
    padding: 0;
    text-align: center; }
    #additional-news-block li .additional-news-photo-block img {
      width: 100%; }
  #additional-news-block li .additional-news-info-block {
    padding: 0; }
    #additional-news-block li .additional-news-info-block .additional-news-info-date--mobile {
      line-height: 24px;
      font-size: 12px;
      color: #979797;
      display: none; }
    #additional-news-block li .additional-news-info-block .additional-news-info-title {
      font-weight: 600;
      line-height: 32px;
      font-size: 20px;
      text-transform: uppercase;
      color: #2E2E2E; }
    #additional-news-block li .additional-news-info-block .additional-news-info-tags-and-date {
      display: flex;
      align-items: center; }
    #additional-news-block li .additional-news-info-block .tags-all {
      margin-right: 5px; }
      #additional-news-block li .additional-news-info-block .tags-all .tags {
        display: inline;
        margin-bottom: 0 !important; }
    #additional-news-block li .additional-news-info-block .additional-news-info-date {
      line-height: 24px;
      font-size: 12px;
      color: #979797;
      margin-right: 5px; }
    #additional-news-block li .additional-news-info-block .additional-news-info-visited {
      display: flex;
      font-size: 12px;
      color: #979797; }
      #additional-news-block li .additional-news-info-block .additional-news-info-visited::before {
        content: '';
        display: block;
        width: 16px;
        height: 11px;
        background-image: url(../images/visited.png);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        margin-right: 5px; }
    #additional-news-block li .additional-news-info-block .additional-news-info-description {
      display: block;
      line-height: 24px;
      font-size: 14px;
      color: #2E2E2E; }

.news-item__text-block p {
  margin: 10px 0;
  font-size: 14px;
  line-height: 24px; }

.news-item__text-block img {
  width: 100%; }

.news-item__text-block h2 {
  font-size: 21px;
  font-weight: 700;
  margin: 20px 0; }

.news-item__text-block h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 10px 0; }

.news-item__text-block h4 {
  font-size: 16px;
  font-weight: 700;
  margin: 10px 0; }

.news-item__text-block strong {
  font-weight: 700; }

.news-item__text-block i, .news-item__text-block em {
  font-style: italic; }

.news-item__text-block .ql-align-center {
  text-align: center; }

.news-item__text-block .ql-align-right {
  text-align: right; }

.news-item__text-block .ql-align-justify {
  text-align: justify; }

.news-item__info {
  font-size: 12px;
  color: #979797;
  display: flex; }
  .news-item__info.news-item__info_view:before {
    content: '';
    display: block;
    width: 16px;
    height: 11px;
    margin-right: 5px;
    background-image: url("../images/view.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: containt; }

.clubs-present-status td, .clubs-present-status th {
  vertical-align: middle;
  padding: 20px 12px; }
  .clubs-present-status td:first-child, .clubs-present-status th:first-child {
    padding-left: 12px !important; }
  .clubs-present-status td:last-child, .clubs-present-status th:last-child {
    padding-left: 12px !important; }

.clubs-present-status .club-logo {
  float: left;
  width: auto !important;
  max-height: 20px; }

.clubs-present-status .club-name {
  display: block;
  float: left;
  margin-top: 5px;
  margin-left: 15px; }

.club-teams-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 35px 0; }
  .club-teams-list li {
    background-color: #F6F6F6;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center; }
    .club-teams-list li .club-team-block {
      display: block;
      width: 200px;
      height: 100%;
      padding: 50px 30px;
      text-decoration: none;
      color: #2E2E2E; }
      .club-teams-list li .club-team-block img {
        max-height: 70px;
        margin-bottom: 20px; }
      .club-teams-list li .club-team-block:hover {
        text-decoration: underline; }
  .club-teams-list .team-name {
    line-height: 24px;
    font-size: 18px; }

#main-goal-videos {
  width: 100%;
  padding-top: 35px;
  clear: both;
  margin: 0; }
  #main-goal-videos .main-goal-video {
    float: left; }
    #main-goal-videos .main-goal-video .main-goal-video-block {
      width: 100%;
      max-width: 368px;
      margin: 0 auto; }
      #main-goal-videos .main-goal-video .main-goal-video-block a {
        text-decoration: none; }
      #main-goal-videos .main-goal-video .main-goal-video-block .video-preview-block {
        width: 100%;
        position: relative;
        margin-bottom: 13px; }
        #main-goal-videos .main-goal-video .main-goal-video-block .video-preview-block .video-preview-image {
          width: 100%;
          max-width: 368px; }
        #main-goal-videos .main-goal-video .main-goal-video-block .video-preview-block .video-preview-play {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%); }
      #main-goal-videos .main-goal-video .main-goal-video-block .video-title {
        font-weight: 600;
        line-height: 24px;
        font-size: 16px;
        text-transform: uppercase;
        color: #2E2E2E;
        margin-bottom: 15px; }

.tournaments-list {
  display: flex;
  align-items: center; }

.tournaments-list__item.active::after {
  content: '';
  display: block;
  height: 3px;
  width: 100%;
  background-color: #3973B0; }

.tournaments-list__item.active .tournaments-list__link {
  background-color: #D7E3EF; }

.tournaments-list__item .tournaments-list__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 30px 10px; }
  .tournaments-list__item .tournaments-list__link .tournaments-list__img {
    display: block;
    margin-right: 20px;
    height: 50px;
    max-width: 50px; }
  .tournaments-list__item .tournaments-list__link .tournaments-list__name {
    display: block;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 600;
    color: #3973B0; }

#bloggers-block {
  width: 100%;
  padding: 0;
  margin: 0; }
  #bloggers-block div[class^="col-"] {
    padding: 0 32px 0 0;
    margin-bottom: 32px; }
    #bloggers-block div[class^="col-"] .bloggers-photo-block {
      width: 128px;
      height: 128px;
      overflow: hidden;
      border-radius: 50%;
      margin-right: 32px;
      float: left; }
    #bloggers-block div[class^="col-"] .blog-info {
      width: calc(100% - 160px);
      float: left;
      margin-top: 19.5px; }
      #bloggers-block div[class^="col-"] .blog-info .video-some-info {
        margin-bottom: 23px; }
      #bloggers-block div[class^="col-"] .blog-info .blog-title {
        clear: both;
        font-weight: 600;
        font-size: 16px;
        text-transform: uppercase;
        color: #2E2E2E;
        margin-bottom: 15px;
        text-decoration: none;
        line-height: 23px; }
      #bloggers-block div[class^="col-"] .blog-info .blog-reading-duration {
        font-size: 12px;
        color: #979797; }

.footer {
  width: 100%;
  background-color: #3973B0;
  color: #FFF;
  border-bottom: 18px solid #D7E3EF; }
  .footer .row {
    margin: 0;
    padding: 0; }
  .footer .footer-block-md {
    width: 100%;
    padding: 43px 136px; }
    .footer .footer-block-md .footer-element-header {
      display: block;
      font-weight: 600;
      font-size: 14px;
      margin-bottom: 20px; }
    .footer .footer-block-md .footer-element-body {
      font-size: 12px;
      font-weight: 400;
      line-height: 20px;
      word-break: break-word; }
      .footer .footer-block-md .footer-element-body li {
        float: none;
        margin-bottom: 12px; }
        .footer .footer-block-md .footer-element-body li:last-child {
          margin-bottom: 0; }
    .footer .footer-block-md .footer-social {
      display: flex;
      align-items: center; }
      .footer .footer-block-md .footer-social li {
        margin-right: 24px; }
        .footer .footer-block-md .footer-social li:last-child {
          margin-right: 0; }
        .footer .footer-block-md .footer-social li img {
          width: 22px; }
  .footer .footer-block-sm {
    display: none; }
  .footer .footer-block-xs {
    display: none; }
  .footer a:hover {
    text-decoration: underline; }

.video-some-info li {
  line-height: 16px;
  font-size: 12px;
  color: #979797;
  position: relative;
  margin-right: 8px;
  padding-left: 8px; }
  .video-some-info li:first-child {
    padding-left: 0; }
  .video-some-info li:last-child {
    margin-right: 0; }
  .video-some-info li:after {
    content: ' ';
    display: block;
    width: 4px;
    height: 4px;
    background-color: #2E2E2E;
    border-radius: 50%;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(-50%, -50%); }
  .video-some-info li:first-child:after {
    display: none; }

.modal-wrapper {
  position: fixed;
  z-index: 10;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6); }

.modal {
  width: 100%;
  max-width: 550px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFFFFF; }
  .modal .modal-header .modal-close-link {
    display: block;
    width: 16px;
    height: 16px;
    text-decoration: none;
    background-image: url(../images/modal_close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .modal .modal-body .login-register-purpose {
    display: block;
    font-size: 14px;
    color: #000; }

.table-game-video {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 8px; }
  .table-game-video tbody tr {
    cursor: pointer; }
    .table-game-video tbody tr td {
      padding: 15px 16px;
      background-color: #F6F6F6;
      font-size: 16px;
      color: #2E2E2E; }
      .table-game-video tbody tr td.number-cell {
        font-weight: 600;
        color: #979797; }

.table-game-video-block {
  padding-top: 40px; }
  .table-game-video-block .table-game-video__text {
    display: block;
    color: #979797; }

.link {
  display: flex;
  align-items: center;
  text-decoration: none; }
  .link.link_blue {
    color: #3973B0; }
  .link.link_icon::before {
    content: '';
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    margin-right: 8px; }
  .link.link_icon.link_icon_back::before {
    width: 13px;
    height: 11px;
    background-image: url(../images/arrow_left_blue.svg); }

.link-simple_14 {
  display: block;
  font-size: 14px;
  color: #3973B0;
  text-decoration: underline; }

.link-simple_16 {
  display: block;
  font-size: 16px;
  color: #3973B0;
  text-decoration: underline; }

.button {
  display: block;
  text-decoration: none;
  padding: 17px 40px;
  border: none;
  border-radius: 5px; }
  .button.button_blue {
    background-color: #3973B0;
    color: #FFFFFF; }
  .button.disabled {
    background-color: #DFDFDF;
    color: #FFFFFF;
    cursor: default;
    user-select: none; }

.filter-open-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: #3973B0;
  padding: 20px;
  background-color: #F6F6F6;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  width: 100%; }
  .filter-open-button:after {
    content: '';
    display: block;
    width: 16px;
    height: 8px;
    background-image: url(../images/arrow_bottom_blue.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: 5px; }
  .filter-open-button.active::after {
    background-image: url(../images/arrow_top_blue.svg); }

.login-social {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }
  .login-social .login-social__item {
    margin-right: 10px; }
    .login-social .login-social__item:last-child {
      margin-right: 0; }
    .login-social .login-social__item .login-social__link {
      display: block;
      width: 40px;
      height: 40px;
      text-decoration: none;
      background-color: #ffffff;
      border-radius: 50%;
      border: 1px solid #DBDBDB;
      background-position: center;
      background-repeat: no-repeat; }
      .login-social .login-social__item .login-social__link.login-social__link_fb {
        background-image: url("../images/social_fb.png");
        background-size: 25%; }
      .login-social .login-social__item .login-social__link.login-social__link_gm {
        background-image: url("../images/social_gm.png");
        background-size: 33%; }
      .login-social .login-social__item .login-social__link.login-social__link_vk {
        background-image: url("../images/social_vk.png");
        background-size: 48%; }

.bg-f6 {
  background-color: #F6F6F6; }

.pd-left-24 {
  padding-left: 24px !important; }

.pd-right-24 {
  padding-right: 24px !important; }

.center {
  text-align: center; }

.text-left {
  text-align: left; }

.club-upped {
  background-color: #B0F1CC;
  color: #61A27D; }

.club-not-changed {
  background-color: rgba(236, 154, 41, 0.3);
  color: #DD942E; }

.club-lowed {
  background-color: rgba(251, 77, 61, 0.3);
  color: #CC392C; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.select2-section-football-1 .select2-container {
  width: unset !important; }
  .select2-section-football-1 .select2-container .selection .select2-selection {
    border: none;
    border-radius: 0;
    padding: 12px;
    height: 48px; }
    .select2-section-football-1 .select2-container .selection .select2-selection .select2-selection__rendered {
      padding-right: 42px;
      font-weight: 600;
      line-height: 24px;
      font-size: 14px;
      text-transform: uppercase;
      color: #686868; }
    .select2-section-football-1 .select2-container .selection .select2-selection .select2-selection__arrow {
      background-image: url(../images/select2_arrow_bottom.png);
      background-size: cover;
      background-position: center;
      background-clip: content-box;
      width: 14px;
      height: 7px;
      position: absolute;
      top: 50%;
      right: 16px;
      transform: translate(0, -50%); }
      .select2-section-football-1 .select2-container .selection .select2-selection .select2-selection__arrow > * {
        display: none; }

.select2-container .select2-dropdown {
  border: none; }
  .select2-container .select2-dropdown .select2-search {
    display: none !important; }
  .select2-container .select2-dropdown .select2-results .select2-results__option {
    padding: 12px !important;
    color: #686868 !important;
    font-size: 14px; }
  .select2-container .select2-dropdown .select2-results .select2-results__option--highlighted {
    background: #F6F6F6; }

.video-modal-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10; }
  .video-modal-block .video-modal .video-modal__close {
    display: block;
    width: 12px;
    height: 12px;
    margin-left: auto;
    margin-bottom: 10px;
    background-image: url(../images/close.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain; }
  .video-modal-block .video-modal video {
    width: 100%;
    max-width: 500px; }

.data-is-absent {
  display: block;
  text-align: center;
  font-size: 1.142rem;
  font-weight: 600;
  margin-top: 20px; }

.c-97 {
  color: #979797; }

.d-block {
  display: block; }

.border-bottom-2-grey {
  border-bottom: 2px solid #E9E9E9; }

@media screen and (max-width: 1200px) {
  #header-section #icons-block {
    float: right !important;
    margin-right: 0 !important; }
    #header-section #icons-block .search-button {
      margin-right: 32px; }
    #header-section #icons-block .nav-mobile-menu-button {
      display: inline-block !important; }
  #additional-news-section-col {
    margin-bottom: 40px; } }

@media screen and (min-width: 1000px) {
  .team-header .team__main-info {
    margin-right: 40px; }
  .team-header ng-select {
    margin-right: 40px; } }

@media screen and (max-width: 1000px) {
  #nav-section {
    height: 10px;
    margin-bottom: 32px !important; }
    #nav-section #menu-countries {
      display: none; }
  .team-header {
    flex-direction: column;
    text-align: center; }
    .team-header > * {
      margin-left: 0 !important;
      margin-right: 0 !important;
      margin-bottom: 10px; }
    .team-header .form-group-simple__select-group {
      margin-left: 0 !important; } }

@media screen and (min-width: 992px) {
  .banner-col {
    padding-left: 45px; } }

@media screen and (max-width: 992px) {
  .team-members-table-main .team-member-date-of-birthday, .team-members-table-main .team-member-date-of-birthday-header, .team-members-table-main .team-member-height, .team-members-table-main .team-member-height-header, .team-members-table-main .team-member-weight, .team-members-table-main .team-member-weight-header {
    display: none; }
  .filter.filter_review {
    flex-direction: column; }
    .filter.filter_review > * {
      margin-bottom: 10px; }
      .filter.filter_review > *:last-child {
        margin-bottom: 0; }
  .banner-link {
    display: block;
    margin-top: 20px; } }

@media screen and (min-width: 768px) {
  #main-goal-videos .main-goal-video {
    width: calc((100% - 64px) / 3);
    margin-right: 32px;
    margin-bottom: 32px; }
    #main-goal-videos .main-goal-video:nth-child(3n+3) {
      margin-right: 0; } }

@media screen and (max-width: 768px) {
  .section-header-ligas {
    padding: 20px !important; }
    .section-header-ligas .section-header-ligas-block .section-header-ligas__team-image {
      margin-right: 0 !important; }
    .section-header-ligas .section-header-ligas-block > * {
      float: none !important; }
    .section-header-ligas .section-header-ligas-block .liga-big-img-block {
      margin-bottom: 24px; }
    .section-header-ligas .section-header-ligas-block .liga-year-select-section > * {
      display: block;
      margin-bottom: 8px; }
    .section-header-ligas .section-header-ligas-block .liga-year-select-section .select2-section-football-1 .select2-container {
      width: 100% !important; }
  .ligas-table-main {
    overflow: scroll; }
  .club-teams-list li {
    height: 172px;
    margin-right: 16px !important;
    margin-bottom: 16px !important; }
  .td-match-score, .td-match-present-status {
    display: none; }
  #first-news-item {
    margin-bottom: 20px; }
  .footer {
    padding: 35px;
    border-bottom-width: 12px; }
    .footer .footer-block-md {
      display: none; }
    .footer .footer-block-sm {
      display: block; }
      .footer .footer-block-sm .footer-element-header {
        display: block;
        font-weight: 600;
        line-height: 24px;
        font-size: 14px;
        margin-bottom: 15px; }
      .footer .footer-block-sm .footer-element-body {
        line-height: 20px;
        font-size: 12px; }
        .footer .footer-block-sm .footer-element-body li {
          float: none;
          margin-bottom: 8px; }
          .footer .footer-block-sm .footer-element-body li:last-child {
            margin-bottom: 0; }
      .footer .footer-block-sm .footer-block-sm-separator-1 {
        padding: 0 49px 30px 49px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
      .footer .footer-block-sm .footer-block-sm-separator-2 {
        padding: 30px 49px 0 49px; }
        .footer .footer-block-sm .footer-block-sm-separator-2 .footer-element-header {
          display: inline; }
        .footer .footer-block-sm .footer-block-sm-separator-2 ul li:first-child ul, .footer .footer-block-sm .footer-block-sm-separator-2 ul li:first-child ul > li {
          display: inline; }
        .footer .footer-block-sm .footer-block-sm-separator-2 ul li:last-child .footer-social {
          float: right; }
          .footer .footer-block-sm .footer-block-sm-separator-2 ul li:last-child .footer-social li {
            margin-right: 24px; }
            .footer .footer-block-sm .footer-block-sm-separator-2 ul li:last-child .footer-social li:last-child {
              margin-right: 0; }
            .footer .footer-block-sm .footer-block-sm-separator-2 ul li:last-child .footer-social li img {
              width: 22px; }
    .footer .footer-block-xs {
      display: none; }
  .team-members-table-main .team-member-flag-photo-name .team-member-flag-photo-name__photo {
    display: none; }
  .team-members-table-main .team-member-ampula, .team-members-table-main .team-member-ampula-header, .team-members-table-main .team-member-date-of-birthday, .team-members-table-main .team-member-date-of-birthday-header, .team-members-table-main .team-member-height, .team-members-table-main .team-member-height-header, .team-members-table-main .team-member-weight, .team-members-table-main .team-member-weight-header {
    display: none; }
  .filter {
    flex-direction: column;
    align-items: center;
    width: 100%; }
    .filter > * {
      margin-left: 0 !important;
      margin-bottom: 10px; }
    .filter .filter-name {
      margin-bottom: 20px; }
  .pagination .pagination__item .pagination__link {
    padding: 10px !important; }
  .news-item__tags-social {
    flex-direction: column; }
    .news-item__tags-social .tags-all {
      margin-bottom: 10px; }
  .additional-news-photo-block {
    margin-right: 0 !important; } }

@media screen and (max-width: 768px) and (min-width: 375px) {
  #main-goal-videos .main-goal-video {
    width: calc((100% - 32px) / 2);
    margin-right: 24px;
    margin-bottom: 24px; }
    #main-goal-videos .main-goal-video:nth-child(2n+2) {
      margin-right: 0; } }

@media screen and (max-width: 576px) {
  #header-section {
    padding-left: 28px;
    padding-right: 28px; }
  .table-game-video tbody tr td.match-status {
    display: none !important; }
  .news-ghost-list .news-ghost-list__item {
    flex-direction: column; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__img {
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 20px; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-4 {
      display: none; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-5 {
      display: none; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-6 {
      display: none; }
    .news-ghost-list .news-ghost-list__item .news-ghost-list__text-list .news-ghost-list__short-text-7 {
      display: none; }
  #icons-block .search-button {
    display: none !important; }
  .search-input--header {
    display: none !important; }
  .search-input--mobile-nav {
    display: block !important; } }

@media screen and (max-width: 500px) {
  #bloggers-block .bloggers-photo-block {
    display: none; }
  #bloggers-block .blog-info {
    width: 100% !important; } }

@media screen and (max-width: 478px) {
  .mobile-nav-section .mobile-nav-block {
    width: 100% !important; }
    .mobile-nav-section .mobile-nav-block .mobile-nav__footer {
      display: block !important; }
  #primary-logo {
    width: 170px !important;
    margin-right: 5px !important; } }

@media screen and (max-width: 374px) {
  #main-goal-videos {
    width: 100%;
    display: flex;
    white-space: nowrap;
    overflow: auto; }
    #main-goal-videos .main-goal-video {
      display: inline-block;
      margin-right: 16px; }
  #nav-section {
    margin-bottom: 24px !important; }
  .additional-news-photo-block {
    text-align: left; }
  .additional-news-info-block .additional-news-info-date--mobile {
    display: block !important; }
  .additional-news-info-block .additional-news-info-date {
    display: none; }
  .table-game-video tbody tr td.match-time {
    display: none !important; } }

@media screen and (max-width: 325px) {
  .footer {
    padding: 28px;
    border-bottom-width: 8px; }
    .footer .footer-block-md {
      display: none; }
    .footer .footer-block-sm {
      display: none; }
    .footer .footer-block-xs {
      display: block; }
      .footer .footer-block-xs .footer-block-sm-separator-1 {
        padding: 12px 12px 32px 12px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.3); }
        .footer .footer-block-xs .footer-block-sm-separator-1 .footer-social {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 40px; }
          .footer .footer-block-xs .footer-block-sm-separator-1 .footer-social li {
            margin-right: 24px; }
            .footer .footer-block-xs .footer-block-sm-separator-1 .footer-social li:last-child {
              margin-right: 0; }
            .footer .footer-block-xs .footer-block-sm-separator-1 .footer-social li img {
              width: 40px; }
      .footer .footer-block-xs .footer-block-sm-separator-2 {
        padding: 30px 0 12px 0;
        line-height: 24px;
        font-size: 14px;
        text-align: center; }
        .footer .footer-block-xs .footer-block-sm-separator-2 .footer-element-header {
          display: inline;
          font-weight: 600; } }

@media (min-width: 1200px) {
  .hidden-lg {
    display: none !important; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .hidden-md {
    display: none !important; } }

@media (min-width: 768px) and (max-width: 991px) {
  .hidden-sm {
    display: none !important; } }

@media (max-width: 767px) {
  .hidden-xs {
    display: none !important; } }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.flex-column-end-center {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center; }

.flex-column-end-end {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end; }

.flex-column-start-center {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center; }

.flex-column-normal-center {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center; }

.flex-column-normal-center {
  display: flex;
  flex-direction: column;
  align-items: normal;
  justify-content: center; }

.flex-row-center-between {
  display: flex;
  align-items: center;
  justify-content: space-between; }

.flex-row-center-end {
  display: flex;
  align-items: center;
  justify-content: flex-end; }

.flex-row-center-center {
  display: flex;
  align-items: center;
  justify-content: center; }

.flex-row-start-start {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; }

.flex-row-center-start {
  display: flex;
  align-items: center;
  justify-content: flex-start; }

.ta-center {
  text-align: center; }

.ml-auto {
  margin-left: auto !important; }

.mr-auto {
  margin-right: auto !important; }

.mr-7 {
  margin-right: 7px !important; }

.mr-10 {
  margin-right: 10px !important; }

.mr-20 {
  margin-right: 20px !important; }

.mt-40 {
  margin-top: 40px !important; }

.mb-10 {
  margin-bottom: 10px !important; }

.mb-15 {
  margin-bottom: 15px !important; }

.mb-20 {
  margin-bottom: 20px !important; }

.mb-25 {
  margin-bottom: 25px !important; }

.mb-30 {
  margin-bottom: 30px !important; }

.mb-40 {
  margin-bottom: 40px !important; }

.mb-50 {
  margin-bottom: 50px !important; }

.p-20 {
  padding: 20px !important; }

.pt-40 {
  padding-top: 40px !important; }

.pb-40 {
  padding-bottom: 40px !important; }

.pt-0 {
  padding-top: 0 !important; }

.pl-0 {
  padding-left: 0 !important; }

.pr-0 {
  padding-right: 0 !important; }

.p-25 {
  padding: 25px !important; }

.pl-50 {
  padding-left: 50px !important; }

.pt-25 {
  padding-top: 25px !important; }

.pr-50 {
  padding-right: 50px !important; }

.pl-75 {
  padding-left: 75px !important; }

.pr-75 {
  padding-right: 75px !important; }

.ta-left {
  text-align: left; }
