<div class="footer">
    <ul class="footer-block-md list-unstyled row">
        <li class="col-md-3">
            <span class="footer-element-header">@ 2020 Football.az</span>
            <ul class="list-unstyled footer-element-body">
                <li><a href="https://www.extraweb.az/" target="_blank">Extraweb.az MMC</a></li>
                <!--<li>Football MMC</li>-->
                <!--<li>hello@football.az</li>-->
            </ul>
        </li>
        <li class="col-md-3">
            <span class="footer-element-header">{{'editorialOffice' | translate}}</span>
            <ul class="list-unstyled footer-element-body">
                <li><a [routerLink]="'/' + langLocal + '/about'">{{'about' | translate}}</a></li>
                <li><a [routerLink]="'/' + langLocal + '/advertising'">{{'advertising' | translate}}</a></li>
            </ul>
        </li>
        <li class="col-md-3">
            <span class="footer-element-header">{{'followUsOnSocialNetworks' | translate}}</span>
            <ul class="footer-social">
                <li><a href="https://www.facebook.com/pfl.az/" target="_blank"><img src="/assets/site/assets/images/facebook.png" /></a></li>
                <li><a href="javascript:void(0)"><img src="/assets/site/assets/images/youtube.png" /></a></li>
            </ul>
        </li>
        <li class="col-md-3">
            <span class="footer-element-header">{{'contactUs' | translate}}</span>
            <ul class="list-unstyled footer-element-body">
                <li>{{'realAddress' | translate}}</li>
                <li>{{'phone' | translate}}: <a href="tel:+994123100274">+99412 3100274</a></li>
                <li>{{'Email' | translate}}: <a href="mailto:info@football.az">info@football.az</a></li>
            </ul>
        </li>
    </ul>
    <div class="footer-block-sm list-unstyled">
        <div class="footer-block-sm-separator-1">
            <ul class="row">
                <li class="col-sm-6">
                    <span class="footer-element-header">{{'editorialOffice' | translate}}</span>
                    <ul class="list-unstyled footer-element-body">
                        <li><a [routerLink]="'/' + langLocal + '/about'">{{'about' | translate}}</a></li>
                        <li><a [routerLink]="'/' + langLocal + '/advertising'">{{'advertising' | translate}}</a></li>
                    </ul>
                </li>
                <li class="col-sm-6">
                    <span class="footer-element-header">{{'contactUs' | translate}}</span>
                    <ul class="list-unstyled footer-element-body">
                        <li>{{'realAddress' | translate}}</li>
                        <li>{{'phone' | translate}}: <a href="tel:+994123100274">+99412 3100274</a></li>
                        <li>{{'Email' | translate}}: <a href="mailto:info@football.az">info@football.az</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="footer-block-sm-separator-2">
            <ul class="row">
                <li class="col-sm-6">
                    <span class="footer-element-header">© 2020 </span>
                    <ul class="list-unstyled footer-element-body">
                        <li>{{'allRightsReserved_separately' | translate}}</li>
                    </ul>
                </li>
                <li class="col-sm-6">
                    <ul class="footer-social">
                        <li><a href="https://www.facebook.com/pfl.az/" target="_blank"><img src="/assets/site/assets/images/facebook.png" /></a></li>
                        <li><a href="javascript:void(0)"><img src="/assets/site/assets/images/youtube.png" /></a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-block-xs list-unstyled">
          <div class="footer-block-sm-separator-1">
              <ul class="footer-social">
                  <li><a href="javascript:void(0)"><img src="/assets/site/assets/images/facebook_40.png" /></a></li>
                  <li><a href="javascript:void(0)"><img src="/assets/site/assets/images/youtube_40.png" /></a></li>
              </ul>
          </div>
          <div class="footer-block-sm-separator-2">
              <span class="footer-element-header">© 2020 </span>
              <span>{{'allRightsReserved_separately' | translate}}</span>
          </div>
      </div>
  </div>