<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Komandanın əlavə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li *ngFor="let language of languages; let i = index" [ngClass]="{'active': i == 0}">
                        <a [href]="'#tab_' + language.id" data-toggle="tab">
                            <img [src]="'assets/admin/assets/images/flags/' + language.image_admin">
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div *ngFor="let language of languages; let i = index" class="tab-pane" [ngClass]="{'active': i == 0}" [id]="'tab_' + language.id">
                        <div class="form-group">
                            <label class="control-label col-lg-2">Ad*</label>
                            <div class="col-lg-10">
                                <input type="text" [formControlName]="'name[' + language.locale + ']'" [name]="'name[' + language.locale + ']'" maxLength="200" class="form-control">
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Ad 200 simvoldan az olmalıdır</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Psevdonim</label>
                        <div class="col-lg-10">
                            <input class="form-control" formControlName="slug" name="slug" placeholder="Nümunə: real-madrid">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.pattern" class="text-danger" style="margin: 10px 0 0 0;">Psevdonim ancaq reqemlərdən, ingilis hərflərindən və xəttdən(-) ibarət ola bilər</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Psevdonim 100 simvoldan az olmalıdır</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Ölkə*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="country_id" [items]="countries" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onCountryChange()"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['country_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Stadion</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="stadium_id" [items]="stadiums" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['stadium_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Məşqçi*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="coach_id" [items]="coaches" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['coach_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Loqo*</label>
                        <div class="col-lg-10">
                            <input type="file" data-form-control-name="logo" appFileType (change)="onFileChange($event)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">İl*</label>
                        <div class="col-lg-10">
                            <input type="number" formControlName="year" name="year" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['year'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['year'].errors?.min" class="text-danger" style="margin: 10px 0 0 0;">Min 1300 olmalıdır</p>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="onSubmit();">Yarat <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>