<div id="header-section">
    <div id="header-block" class="container">
      <a href="javascript:void(0)" (click)="reloadByClickingLogo($event)"><img id="primary-logo" src="/assets/site/assets/images/football-simple-white.png" /></a>
      <!--<a [routerLink]="'/' + (langLocal != 'az' ? langLocal : '')" class="hidden-md hidden-sm hidden-xs"><img id="primary-logo" src="/assets/site/assets/images/logo.png" /></a>-->
      <ul id="menu" class="list-unstyled hidden-md hidden-sm hidden-xs">
        <li><a [routerLink]="'/' + langLocal + '/news'">{{'news' | translate}}</a></li>
        <li><a [routerLink]="'/' + langLocal + '/news/category/Topaz'">{{'topForecast' | translate}}</a></li>
        <li><a [routerLink]="'/' + langLocal + '/tournament/premyer-liqa'">{{'premiereLeagueText' | translate}}</a></li>
        <li><a [routerLink]="'/' + langLocal + '/news/category/millimiz'">{{'nationalText' | translate}}</a></li>
        <li><a [routerLink]="'/' + langLocal + '/tournaments'">{{'tournaments' | translate}}</a></li>
        <li><a [routerLink]="'/' + langLocal + '/videos'">{{'video' | translate}}</a></li>
        <!--<li><a href="#">{{'blog' | translate}}</a></li>-->
        <li><a [routerLink]="'/' + langLocal + '/review'">{{'review' | translate}}</a></li>
      </ul>
        <input class="search-input search-input--header" [(ngModel)]="localSearchWord" (keyup.enter)="searchMethod()"
               minLength="3" maxLength="15" [placeholder]="'searchKeyword' | translate" />
      <div id="icons-block">
        <!--<a href="javascript:void(0)" class="login-button" (click)="signInShow = true;"><img src="/assets/site/assets/images/login.png" /></a>-->
        <a id="open-search" href="javascript:void(0)" class="search-button"><img src="/assets/site/assets/images/search.png" /></a>
        <a id="close-search" href="javascript:void(0)" class="search-button"><img src="/assets/site/assets/images/close.png" /></a>
        <a id="open-menu" href="javascript:void(0)" class="nav-mobile-menu-button"><img src="/assets/site/assets/images/burger.png" /></a>
        <a id="close-menu" href="javascript:void(0)" class="nav-mobile-menu-button--close"><img src="/assets/site/assets/images/close.png" /></a>
      </div>
      <div id="langs-block" class="hidden-md hidden-sm hidden-xs">
        <span class="langs-block__selected">{{langLocal}}</span>
        <ul class="langs-block__lang-list">
            <ng-container *ngFor="let lang of langs">
                <li class="langs-block__lang-item" *ngIf="lang != langLocal" (click)="changeLang(lang)">{{lang}}</li>
            </ng-container>
        </ul>
      </div>
    </div>

    <div class="modal-wrapper" *ngIf="signInShow">
        <div class="modal p-25">
            <div class="modal-header flex-row-center-end">
                <a href="javascript:void(0)" class="modal-close-link" (click)="signInShow = false;"></a>
            </div>
            <div class="modal-body pl-75 pr-75">
                <div class="section">
                    <div class="section-header">
                        <h2>Giriş</h2>
                    </div>
                    <div class="section-body">
                        <span class="login-register-purpose mb-30">Xəbərlər və oyunlar altında şərh yazmaq üçün daxil
                            olun</span>
                        <div class="single-input-block single-input-block_icon single-input-block_icon_email mb-15">
                            <input class="single-input" placeholder="Email" />
                        </div>
                        <div class="single-input-block single-input-block_icon single-input-block_icon_password mb-15">
                            <input type="password" class="single-input" placeholder="Şifrə" />
                            <a href="javascript:void(0)" class="single-input-show-pass"></a>
                        </div>
                        <div class="flex-row-center-between mb-30">
                            <div class="single__check-box-group">
                                <div class="single__check-box mr-7">
                                    <input type="checkbox" id="remember" name="remember" class="single__check" />
                                    <span class="single__checkmark"></span>
                                </div>
                                <label htmlFor="remember" class="single__check-text">Məni yadda saxlamaq</label>
                            </div>
                            <a href="javascript:void(0)" class="link-simple_14">Şifrəni unutmuşam</a>
                        </div>
                        <a href="javascript:void(0)" class="button button_blue p-20 mb-20 ta-center">QİRİŞ</a>
                        <a href="javascript:void(0)" class="link-simple_16 mb-30 ta-center" (click)="signInShow = false; signUpShow = true;">Qeydiyyat</a>
                        <span class="login-register-purpose mb-10 ta-center">Sosial şəbəkələr ilə qiriş</span>
                        <ul class="login-social">
                            <li class="login-social__item">
                                <a href="javascript:void(0)" class="login-social__link login-social__link_fb"></a>
                            </li>
                            <li class="login-social__item">
                                <a href="javascript:void(0)" class="login-social__link login-social__link_gm"></a>
                            </li>
                            <li class="login-social__item">
                                <a href="javascript:void(0)" class="login-social__link login-social__link_vk"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-wrapper" *ngIf="signUpShow">
        <div class="modal p-25">
            <div class="modal-header flex-row-center-end">
                <a href="javascript:void(0)" class="modal-close-link" (click)="signUpShow = false;"></a>
            </div>
            <div class="modal-body pl-75 pr-75">
                <div class="section">
                    <div class="section-header">
                        <h2>Qeydiyyat</h2>
                    </div>
                    <div class="section-body">
                        <span class="login-register-purpose mb-30">Xəbərlər və oyunlar altında şərh yazmaq üçün daxil
                            olun</span>
                        <div class="single-input-block single-input-block_icon single-input-block_icon_username mb-15">
                            <input class="single-input" placeholder="Username" />
                        </div>
                        <div class="single-input-block single-input-block_icon single-input-block_icon_email mb-15">
                            <input class="single-input" placeholder="Email" />
                        </div>
                        <div class="single-input-block single-input-block_icon single-input-block_icon_password mb-15">
                            <input type="password" class="single-input" placeholder="Şifrə" />
                            <a href="javascript:void(0)" class="single-input-show-pass"></a>
                        </div>
                        <a href="javascript:void(0)"
                            class="button button_blue disabled p-20 mb-20 ta-center">Qeydiyyat</a>
                        <a href="javascript:void(0)" class="link-simple_16 mb-30 ta-center" (click)="signUpShow = false; signInShow = true;">Qiriş</a>
                        <span class="login-register-purpose mb-10 ta-center">Sosial şəbəkələr ilə qiriş</span>
                        <ul class="login-social">
                            <li class="login-social__item">
                                <a href="javascript:void(0)" class="login-social__link login-social__link_fb"></a>
                            </li>
                            <li class="login-social__item">
                                <a href="javascript:void(0)" class="login-social__link login-social__link_gm"></a>
                            </li>
                            <li class="login-social__item">
                                <a href="javascript:void(0)" class="login-social__link login-social__link_vk"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    

  </div>