<div class="login-container">

    <!-- Main navbar -->
    <div class="navbar navbar-inverse bg-indigo">
        <div class="navbar-header">
        </div>

        <div class="navbar-collapse collapse" id="navbar-mobile">
        </div>
    </div>
    <!-- /main navbar -->


    <!-- Page container -->
    <div class="page-container">

        <!-- Page content -->
        <div class="page-content">

            <!-- Main content -->
            <div class="content-wrapper">

                <!-- Simple login form -->
                <form [formGroup]="formGroup" action="">
                    <div class="panel panel-body login-form">
                        <div class="text-center">
                            <div class="icon-object border-slate-300 text-slate-300"><i class="icon-reading"></i></div>
                            <h5 class="content-group">Login</h5>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="text" class="form-control" placeholder="Username" formControlName="username" name="username">
                            <div class="form-control-feedback">
                                <i class="icon-user text-muted"></i>
                            </div>
                            <p *ngIf="submitSent && formGroup.controls.username.errors?.required" style="color: red; margin-top: 10px;">Username xanası vacibdir</p>
                        </div>

                        <div class="form-group has-feedback has-feedback-left">
                            <input type="password" class="form-control" placeholder="Password" formControlName="password" name="password">
                            <div class="form-control-feedback">
                                <i class="icon-lock2 text-muted"></i>
                            </div>
                            <p *ngIf="submitSent && formGroup.controls.password.errors?.required" style="color: red; margin-top: 10px;">Şifrə xanası vacibdir</p>
                        </div>

                        <p *ngIf="error != ''" style="color: red;">{{error}}</p>

                        <div class="form-group">
                            <button type="submit" class="btn bg-pink-400 btn-block" (click)="formSubmit();">Daxil ol <i class="icon-circle-right2 position-right"></i></button>
                        </div>
                    </div>
                </form>
                <!-- /simple login form -->

            </div>
            <!-- /main content -->

        </div>
        <!-- /page content -->

    </div>
    <!-- /page container -->


    <!-- Footer -->
    <div class="footer text-muted text-center">
        &copy; 2020. Unibank
    </div>
    <!-- /footer -->

</div>

