<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Basic table -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Ümumi siyahı</h5>
                    <div class="heading-elements not-collapsible">
                        <a routerLink="/stage/add" class="btn btn-success">Əlavə et</a>
                    </div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" [formGroup]="filterGroup" action="#">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.name.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ad</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="name" name="name">
                                        <span class="error" *ngIf="filterIsSentFirstTime && filterGroup.controls.name.errors?.minlength">Xana 3 simvoldan artıq olmalıdır</span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" (click)="filter();" class="btn btn-primary legitRipple">Filterlə <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table" *ngIf="stages != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Ad</th>
                            <th>Qruplar mövcuddur</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let stage of stages?.data | paginate: { id: 'stages-pagination', itemsPerPage: stages?.per_page, currentPage: stages?.current_page, totalItems: stages?.total }">
                            <td>{{stage.id}}</td>
                            <td>{{stage.name}}</td>
                            <td><i [ngClass]="stage.has_groups ? 'icon-checkmark3' : 'icon-cross2'"></i></td>

                            <td>
                                <a [routerLink]="'/stage/edit/' + stage.id" style="margin-right: 10px;"><i class="icon-pencil4"></i></a>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal" (click)="selectId(stage.id);"><i class="icon-close2"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-body" style="text-align: center;">

                        <span class="data-is-absent" *ngIf="stages != null && stages?.data.length == 0">Məlumat yoxdur</span>

                        <pagination-controls
                                *ngIf="stages != null"
                                id="stages-pagination"
                                (pageChange)="pageChanged($event)"
                                (pageBoundsCorrection)="pageChanged($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Əvvəlki"
                                nextLabel="Növbəti"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page"
                        ></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /basic table -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Danger modal -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Silinmə</h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">Siz həqiqətəndə silmək istəyirsiniz?</h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" #modalCloseButton data-dismiss="modal">Bağla</button>
                <a type="button" class="btn btn-danger" (click)="delete()">Sil</a>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->