<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Basic table -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Ümumi siyahı</h5>
                    <div class="heading-elements not-collapsible">
                        <a routerLink="/tournament/add" class="btn btn-success">Əlavə et</a>
                    </div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" [formGroup]="filterGroup" action="#">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.name.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ad</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="name" name="name">
                                        <span class="error" *ngIf="filterIsSentFirstTime && filterGroup.controls.name.errors?.minlength">Xana 3 simvoldan artıq olmalıdır</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Turnir kateqoriyası</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="tournaments_category_id" [items]="tournamentsCategories" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ölkə</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="country_id" [items]="countries" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.is_news_category.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Xəbər kateqoriyasıdır</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_news_category" [items]="isNewsCategoryStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.is_videos_category.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Video kateqoriyasıdır</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_videos_category" [items]="isVideoCategoryStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.priority_for_country.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ölkə üçün prioritetdir</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="priority_for_country" [items]="priorityForCountryStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.is_league.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Liqadır</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_league" [items]="isLeagueStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" (click)="filter();" class="btn btn-primary legitRipple">Filterlə <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table" *ngIf="tournaments != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Loqo min</th>
                            <th>Loqo max</th>
                            <th>Ad</th>
                            <th>Ölkə</th>
                            <th>Turnir kateqoriyası</th>

                            <th>Xəbər kateqoriyasıdır</th>
                            <th>Video kateqoriyasıdır</th>
                            <th>Ölkə üçün prioritetdir</th>
                            <th>Liqadır</th>
                            <th>Uduş halı</th>
                            <th>Heç-hecə halı</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let tournament of tournaments?.data | paginate: { id: 'tournaments-pagination', itemsPerPage: tournaments?.per_page, currentPage: tournaments?.current_page, totalItems: tournaments?.total }">
                            <td>{{tournament.id}}</td>
                            <td>
                                <img [src]="'/assets/site/assets/images/' + tournament.logo_mini" style="height: 35px;" />
                            </td>
                            <td>
                                <img [src]="'/assets/site/assets/images/' + tournament.logo_big" style="height: 35px;" />
                            </td>
                            <td>{{tournament.name}}</td>
                            <td>{{tournament.country_name ? tournament.country_name : '-'}}</td>
                            <td>{{tournament.tournaments_category_name}}</td>

                            <td><i [ngClass]="tournament.is_news_category ? 'icon-checkmark3' : 'icon-cross2'"></i></td>
                            <td><i [ngClass]="tournament.is_videos_category ? 'icon-checkmark3' : 'icon-cross2'"></i></td>
                            <td><i [ngClass]="tournament.priority_for_country ? 'icon-checkmark3' : 'icon-cross2'"></i></td>
                            <td><i [ngClass]="tournament.is_league ? 'icon-checkmark3' : 'icon-cross2'"></i></td>

                            <td>{{tournament.league_victory_points ? tournament.league_victory_points : '-'}}</td>
                            <td>{{tournament.league_draw_points ? tournament.league_draw_points : '-'}}</td>

                            <td>
                                <a [routerLink]="'/tournament/edit/' + tournament.id" style="margin-right: 10px;"><i class="icon-pencil4"></i></a>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal" (click)="selectId(tournament.id);"><i class="icon-close2"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-body" style="text-align: center;">

                        <span class="data-is-absent" *ngIf="tournaments != null && tournaments?.data.length == 0">Məlumat yoxdur</span>

                        <pagination-controls
                                *ngIf="tournaments != null"
                                id="tournaments-pagination"
                                (pageChange)="pageChanged($event)"
                                (pageBoundsCorrection)="pageChanged($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Əvvəlki"
                                nextLabel="Növbəti"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page"
                        ></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /basic table -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Danger modal -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Silinmə</h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">Siz həqiqətəndə silmək istəyirsiniz?</h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" #modalCloseButton data-dismiss="modal">Bağla</button>
                <a type="button" class="btn btn-danger" (click)="delete()">Sil</a>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->