<div id="content" class="container">
    <div class="section">
        <div class="section-header">
            <h2>{{'reviewOfToday' | translate}}</h2>
        </div>
        <div class="section-body">
            
            <div class="filter filter_review flex-row-center-between pt-40 pr-50 pb-40 pl-50 mb-40">
                <ng-select [items]="statusesNgSelect" bindLabel="label" bindValue="value" [(ngModel)]="statusNgSelected" [placeholder]="'gamesStatus' | translate" class="mr-10"></ng-select>
                
                <div class="single-input-block single-input-block_icon single-input-block_icon_date">
                    <input [placeholder]="'date' | translate" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="dateNgSelected" (click)="d.toggle()"/>
                </div>

                <div class="single-input-block single-input-block_icon single-input-block_icon_search">
                    <input class="single-input" [(ngModel)]="searchWord" [placeholder]="'search' | translate" />
                </div>

                <button class="button button_blue" (click)="filter()">{{'filter' | translate}}</button>
            </div>

            <div class="row">
                <ul class="list-unstyled col-lg-3 col-md-12 pl-0 ligas-list ligas-list_column nav-tabs">
                    <li class="nav-tabs__item">
                        <a href="javascript:void(0)" class="nav-tabs__link" id="all-country-tab" (click)="tournamentClick(0)" style="justify-content: flex-start">
                            <img class="liga-logo" src="/assets/site/assets/images/liga_all.png"/>
                            <span class="liga-title">{{'all' | translate}}</span>
                        </a>
                    </li>
                    <li class="nav-tabs__item" *ngFor="let tournament of tournaments">
                        <a href="javascript:void(0)" class="nav-tabs__link" (click)="tournamentClick(tournament.tournament_id)" style="justify-content: flex-start">
                            <img class="liga-logo" [src]="'/assets/site/assets/images/' + tournament.logo_mini"/>
                            <span class="liga-title">{{tournament.tournament_name}}</span>
                        </a>
                    </li>
                </ul>
                <div class="col-lg-9 col-md-12 pr-0" id="day-tab">
                    <ng-container *ngIf="responseMatches != null">
                        <div class="ligas-table-main pt-0" *ngFor="let responseMatch of responseMatches?.data | paginate: { id: 'matches-pagination', itemsPerPage: responseMatches?.per_page, currentPage: responseMatches?.current_page, totalItems: responseMatches?.total }" [id]="'id-' + responseMatch.tournament.tournament_id">
                            <table class="table-styled">
                                <thead class="ligas-table-thead">
                                <tr>
                                    <th colSpan="4" class="ta-left">
                                        <img class="liga-logo" [src]="'/assets/site/assets/images/' + responseMatch.tournament.logo_mini"/>
                                        <span class="liga-title">{{responseMatch.tournament.tournament_name}}</span>
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr *ngFor="let match of responseMatch.matches">
                                    <td class="td-match-time"><span class="match-time">{{match.start_time | matchDate}}</span></td>
                                    <td class="td-match-versus"><a class="td-match-versus__home" [ngClass]="{'defeated': match.home_team_goals_count < match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/' + langLocal + '/team/' + match.home_team_slug" target="_blank">{{match.home_team_name}}</a>{{match.status != 0 && innerWidth <= 768 ? (' ' + match.home_team_goals_count + ' - ' + match.guest_team_goals_count + ' ') : ' - '}}<a class="td-match-versus__guest" [ngClass]="{'defeated': match.home_team_goals_count > match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.guest_team_slug">{{match.guest_team_name}}</a></td>
                                    <td class="td-match-score">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                    <td class="td-match-present-status">{{'matchStatuses.' + match.status | translate}}</td> <!--<a href="javascript:void(0)" class="match-was-ended-play"><img src="/assets/site/assets/images/play.png" /></a> -->
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </ng-container>

                    <span class="data-is-absent" *ngIf="responseMatches?.data?.length == 0">{{'thisIsNoGamesInThisCategory' | translate}}</span>

                    <app-basic-ghost *ngIf="responseMatches == null"></app-basic-ghost>
                </div>

                <pagination-controls
                        *ngIf="responseMatches != null"
                        id="matches-pagination"
                        (pageChange)="pageChanged($event)"
                        (pageBoundsCorrection)="pageChanged($event)"
                        maxSize="5"
                        directionLinks="true"
                        autoHide="true"
                        responsive="true"
                        previousLabel=""
                        nextLabel=""
                        style="display: block; margin-top: 40px; margin-left: auto; margin-right: auto;"
                ></pagination-controls>
        
            </div>
        </div>
    </div>
</div>