<div id="content" class="container">

    <div id="additional-news-section" class="row">
        <div id="additional-news-section-col" class="col-xl-8 col-lg-12 col-md-12">
            <div class="section mb-0">
                <div class="section-header">
                    <h2>{{newsItem?.title}}</h2>
                </div>
                <div class="section-body">
                    <div class="flex-row-center-between mb-10">
                        <span class="news-item__info">{{newsItem?.creating_date}}</span>
                        <span class="news-item__info news-item__info_view">{{newsItem?.views_count}}</span>
                    </div>
                    <div class="news-item__text-block mb-10">
                        <table cellpadding="1" cellspacing="1">
                            <tbody>
                                <tr>
                                    <td style="text-align: center">
                                        <img [src]="'/assets/site/assets/images/' + newsItem?.image"/>
                                    </td>
                                </tr>
                                <tr>
                                    <td [innerHTML]="bypassSecurityTrustHtml(newsItem?.large_text)"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="news-item__tags-social flex-row-center-between">
                        <!--<app-tags></app-tags>-->
                    </div>
                </div>
            </div>

            <app-share-social class="share-social" [url]="locationHref"></app-share-social>

            <fb-comments width="100%" class="mb-50"></fb-comments>

            <div class="section" *ngIf="otherNews?.length > 0">
                <div class="section-header">
                    <h2>{{'otherNews' | translate}}</h2>
                </div>
                <div class="section-body">
                    <ul id="additional-news-block" class="list-unstyled clearfix">
                        <li *ngFor="let otherNewsItem of otherNews">
                            <a [routerLink]="'/' + langLocal + '/news-item/' + otherNewsItem.slug" class="row">
                                <div class="additional-news-photo-block col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <img [src]="'/assets/site/assets/images/' + otherNewsItem.image" class="additional-news-photo" />
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 additional-news-info-block additional-news-info-block">
                                    <span class="additional-news-info-date--mobile">{{otherNewsItem.creating_date}}</span>
                                    <h2 class="additional-news-info-title">{{otherNewsItem.title}}</h2>
                                    <div class="additional-news-info-tags-and-date">
                                        <!--<app-tags></app-tags>-->
                                        <span class="additional-news-info-date">{{otherNewsItem.creating_date}}</span>
                                        <span class="additional-news-info-visited">{{otherNewsItem.views_count}}</span>
                                    </div>
                                    <span class="additional-news-info-description">{{otherNewsItem.short_text}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <app-news-list-ghost [newsCount]="2" *ngIf="otherNews == null"></app-news-list-ghost>
                </div>
                <div class="section-footer">
                    <a [routerLink]="'/' + langLocal + '/news'">{{'allNews' | translate}}</a>
                </div>
            </div>
        </div>
        <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
            <!-- <img src="/assets/site/assets/images/banner.png" style="display: block; margin: auto;"/> -->
        </div>
    </div>

</div>