<div id="content" class="container">

    <div class="slider-wrapper flex-row-center-start border-bottom-2-grey">
        <div class="slider-button-block slider-button-block_prev">
            <a href="javascript:void(0)" class="slider-button" (click)="owlAllLeagues.prev()"></a>
        </div>

        <owl-carousel-o [options]="optionsLigas" class="list-unstyled ligas-list nav-tabs" style="margin-bottom: 25px;" #owlAllLeagues>
            <ng-template carouselSlide *ngFor="let globalTournament of globalTournaments">
                <div class="tournaments-list__item" [ngClass]="{'active': globalTournament.slug == selectedGlobalTournamentSlug}">
                    <a href="javascript:void(0)" class="tournaments-list__link" (click)="onGlobalTournamentClick(globalTournament.slug)">
                        <img [src]="'/assets/site/assets/images/' + globalTournament.logo_big" class="tournaments-list__img" />
                        <span class="tournaments-list__name">{{globalTournament.name}}</span>
                    </a>
                </div>
            </ng-template>
        </owl-carousel-o>

        <div class="slider-button-block slider-button-block_next">
            <a href="javascript:void(0)" class="slider-button" (click)="owlAllLeagues.next()"></a>
        </div>
    </div>

    <div class="section">
        <div class="section-header" style="padding-top: 25px;">
            <div class="team-header">
                <img [src]="'/assets/site/assets/images/' + (tournament != null ? tournament?.logo_big : 'default_team.png')" class="team__logo" />
                <div class="team__main-info">
                    <h1 class="team__name">{{tournament != null ? (tournament.country_id > 0 ? tournament.country_name + ' - ' : '') : '- - '}} {{tournament != null ? tournament.tournament_name : '-'}}</h1>
                    <span class="team__original-name">{{'category' | translate}}: {{tournament != null ? tournament.tournaments_category_name : '-'}}</span>
                </div>
                <ng-select [items]="seasons" bindLabel="label" bindValue="id" [(ngModel)]="selectedSeasonId" [placeholder]="'choose' | translate" (change)="onSeasonChange(seasonsNgSelect);" #seasonsNgSelect></ng-select>
                <div class="tean__add-info">
                    <span class="team-add__name">{{'participants' | translate}}:</span>
                    <span class="team-add__value">{{selectedSeasonParticipantCount != null ? selectedSeasonParticipantCount : '-'}}</span>
                </div>
            </div>
        </div>

        <div class="section-body-team">

            <div class="slider-wrapper flex-row-center-start border-bottom-2-grey">
                <div class="slider-button-block slider-button-block_prev">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlLigas.prev()"></a>
                </div>

                <owl-carousel-o [options]="optionsLigas" class="list-unstyled ligas-list nav-tabs" #owlLigas>
                    <ng-template carouselSlide>
                        <li class="nav-tabs__item active">
                            <a id="tour-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#tour" (click)="newsClick()">
                                <span class="liga-title">{{'news' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item">
                            <a id="teams-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#teams" (click)="teamsClick()">
                                <span class="liga-title">{{'teams' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item">
                            <a id="table-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#table" (click)="listClick()">
                                <span class="liga-title">{{'table' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item">
                            <a id="calendar-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#calendar" (click)="calendarClick()">
                                <span class="liga-title">{{'calendar' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                </owl-carousel-o>

                <div class="slider-button-block slider-button-block_next">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlLigas.next()"></a>
                </div>
            </div>

            <div class="tab-content" id="ligas-tab">
                <div class="tab-pane" id="tour" role="tabpanel" aria-labelledby="tour-tab">
                    <div class="team-news-tab-pane-inner row pt-25">
                        <div class="col-xl-8 col-md-12">

                            <div class="section" *ngIf="news?.data?.length > 0">
                                <div class="section-body">
                                    <ul id="additional-news-block" class="list-unstyled clearfix">
                                        <li *ngFor="let allNewsItem of news?.data | paginate: { id: 'latest-news-pagination', itemsPerPage: news?.per_page, currentPage: news?.current_page, totalItems: news?.total }">
                                            <a [routerLink]="'/' + langLocal + '/news-item/' + allNewsItem.slug" class="row">
                                                <div class="additional-news-photo-block col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                                    <img [src]="'/assets/site/assets/images/' + allNewsItem.image" class="additional-news-photo" />
                                                </div>
                                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 additional-news-info-block additional-news-info-block">
                                                    <span class="additional-news-info-date--mobile">{{allNewsItem.creating_date}}</span>
                                                    <h2 class="additional-news-info-title">{{allNewsItem.title}}</h2>
                                                    <div class="additional-news-info-tags-and-date">
                                                        <!--<app-tags></app-tags>-->
                                                        <span class="additional-news-info-date">{{allNewsItem.creating_date}}</span>
                                                        <span class="additional-news-info-visited">{{allNewsItem.views_count}}</span>
                                                    </div>
                                                    <span class="additional-news-info-description">{{allNewsItem.short_text}}</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="section-footer">
                                    <pagination-controls
                                            id="latest-news-pagination"
                                            (pageChange)="pageChanged($event)"
                                            (pageBoundsCorrection)="pageChanged($event)"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true"
                                            responsive="true"
                                            previousLabel=""
                                            nextLabel=""
                                    ></pagination-controls>
                                </div>
                            </div>

                            <span class="data-is-absent" *ngIf="news?.data?.length == 0">{{'dataIsAbsent' | translate}}</span>

                            <app-basic-ghost *ngIf="news == null"></app-basic-ghost>

                        </div>
                        <div class="col-xl-4 hidden-md hidden-sm hidden-xs">
                            <div class="ligas-table-main">
                                <div class="slider-wrapper flex-row-center-start">
                                    <a href="javascript:void(0)" class="table-nav-button-block left-nav-button-block" (click)="owlSidebar.prev()" *ngIf="sidebarGroups?.length > 1">
                                        <div class="left-nav-button"></div>
                                    </a>

                                    <owl-carousel-o [options]="optionsSidebarSlider" style="width: 100%;" #owlSidebar>
                                        <ng-template carouselSlide *ngFor="let sidebarGroup of sidebarGroups">
                                            <div>
                                                <div class="ligas-table-header">
                                                    <div class="ligas-table-header-title-block">
                                                        <h4 class="ligas-table-header-title">{{sidebarGroup.group_name}}</h4>
                                                    </div>
                                                </div>
                                                <table cellpadding="0" class="table-styled clubs-present-status" *ngIf="sidebarGroup?.teams.length > 0">
                                                    <thead>
                                                    <tr>
                                                        <th class="center">№</th>
                                                        <th class="text-left">{{'team' | translate}}</th>
                                                        <th class="center">{{'gamesCountChar' | translate}}</th>
                                                        <th class="center">{{'pointsChar' | translate}}</th>
                                                    </tr>
                                                    </thead>
                                                    <tbody>
                                                    <tr *ngFor="let team of sidebarGroup?.teams; let i = index;">
                                                        <td class="center">{{i + 1}}</td>
                                                        <td><img class="club-logo" [src]="'/assets/site/assets/images/' + team.logo" /> <span class="club-name">{{team.team_name}}</span></td>
                                                        <td class="center">{{team.gamesCount}}</td>
                                                        <td class="center">{{team.pointsCount}}</td>
                                                    </tr>
                                                    </tbody>
                                                </table>
                                            </div>
                                        </ng-template>

                                    </owl-carousel-o>

                                    <a href="javascript:void(0)" class="table-nav-button-block right-nav-button-block" (click)="owlSidebar.next()" *ngIf="sidebarGroups?.length > 1">
                                        <div class="right-nav-button"></div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tab-pane" id="teams" role="tabpanel" aria-labelledby="teams-tab">

                    <ul class="club-teams-list" *ngIf="teams?.length > 0">
                        <li *ngFor="let team of teams">
                            <a [routerLink]="'/' + langLocal + '/team/' + team.slug" class="club-team-block">
                                <img [src]="'/assets/site/assets/images/' + team.logo" />
                                <h5 class="team-name">{{team.name}}</h5>
                            </a>
                        </li>
                    </ul>

                    <span class="data-is-absent" *ngIf="teams?.length == 0">{{'teamsNotFound' | translate}}</span>

                    <app-basic-ghost *ngIf="teams == null" style="margin-top: 20px; display: block;"></app-basic-ghost>

                </div>
                <div class="tab-pane" id="table" role="tabpanel" aria-labelledby="table-tab">
                    <div class="row">
                        <div class="col-xl-8 col-md-12">

                            <div class="section-header-ligas" *ngIf="stages?.length > 0">
                                <div class="section-header-ligas-block flex-row-center-start flex-wrap">
                                    <ng-select [items]="stagesNgSelect" bindLabel="stage_name" bindValue="stage_id" [(ngModel)]="stagesNgSelectedId" [placeholder]="'stage' | translate" (change)="onStageNgSelectChange()" class="mr-10"></ng-select>
                                </div>
                            </div>

                            <ng-container *ngIf="listGroups?.length > 0">
                                <div class="ligas-table-main" *ngFor="let listGroup of listGroups">
                                    <h3>{{listGroup.group_name}}</h3>
                                    <table cellpadding="0" class="clubs-present-status table-styled">
                                        <thead>
                                        <tr>
                                            <th class="center">#</th>
                                            <th class="text-left">{{'team' | translate}}</th>
                                            <th class="center">{{'gamesCountChar' | translate}}</th>
                                            <th class="center">{{'gamesWonCountChar' | translate}}</th>
                                            <th class="center">{{'gamesDrawCountChar' | translate}}</th>
                                            <th class="center">{{'gamesLoseCountChar' | translate}}</th>
                                            <th class="center">{{'goalsScoredCountChar' | translate}}-{{'goalsConcededCountChar' | translate}}</th>
                                            <th class="center">{{'pointsChar' | translate}}</th>
                                        </tr>
                                        </thead>
                                        <tbody *ngFor="let team of listGroup.teams; let i = index">
                                        <tr>
                                            <td class="center">{{i+1}}</td>
                                            <td><img class="club-logo" [src]="'/assets/site/assets/images/' + team.logo" /> <span class="club-name">{{team.team_name}}</span></td>
                                            <td class="center"><span class="score-o">{{team.gamesCount}}</span></td>
                                            <td class="center">{{team.victoryGamesCount}}</td>
                                            <td class="center">{{team.drawGamesCount}}</td>
                                            <td class="center">{{team.defeatGamesCount}}</td>
                                            <td class="center">{{team.goalsScoredCount + '-' + team.goalsConcededCount}}</td>
                                            <td class="center"><span class="score-x">{{team.pointsCount}}</span></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>

                            <ng-container *ngIf="listMatches?.length > 0">
                                <div class="ligas-table-main" *ngFor="let listMatch of listMatches">
                                    <h3>{{listMatch.element_name}}</h3>
                                    <table class="table-styled">
                                        <tbody>
                                        <tr *ngFor="let match of listMatch.matches">
                                            <td class="td-match-time"><span class="match-time">{{match.start_time | matchDate}}</span></td>
                                            <td class="td-match-versus"><a class="td-match-versus__home" [ngClass]="{'defeated': match.home_team_goals_count < match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.home_team_slug" target="_blank">{{match.home_team_name}}</a>{{match.status != 0 && innerWidth <= 768 ? (' ' + match.home_team_goals_count + ' - ' + match.guest_team_goals_count + ' ') : ' - '}}<a class="td-match-versus__guest" [ngClass]="{'defeated': match.home_team_goals_count > match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.guest_team_slug">{{match.guest_team_name}}</a></td>
                                            <td class="td-match-score">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                            <td class="td-match-present-status">{{'matchStatuses.' + match.status | translate}}</td> <!--<a href="javascript:void(0)" class="match-was-ended-play"><img src="/assets/site/assets/images/play.png" /></a> -->
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </ng-container>

                            <span class="data-is-absent" *ngIf="stages?.length == 0 || (listGroups?.length == 0 && listMatches?.length == 0)">{{'pageNotFound' | translate}}</span>

                            <app-basic-ghost *ngIf="stages == null || (stages.length > 0 && listGroups == null && listMatches == null)" style="margin-top: 20px; display: block;"></app-basic-ghost>
                        </div>
                        <div class="col-xl-4 hidden-md hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <div class="tab-pane" id="calendar" role="tabpanel" aria-labelledby="calendar-tab">
                    <div class="col-xl-8 col-md-12">
                        <div class="ligas-table-main">

                            <div class="section-header-ligas" *ngIf="elements?.length > 0 && teams?.length > 0">
                                <div class="section-header-ligas-block flex-row-center-start flex-wrap">
                                    <ng-select [items]="elementsNgSelect" bindLabel="label" bindValue="id" [(ngModel)]="elementsNgSelectedId" groupBy="stage_name" [placeholder]="'tourOrGroupOrRound' | translate" class="mr-10" (change)="onElementsNgSelectChange(ngSelectElements)" #ngSelectElements>
                                        <ng-template ng-optgroup-tmp let-item="item">
                                            {{item.stage_name}}
                                        </ng-template>
                                    </ng-select>
                                    <ng-select [items]="teamsNgSelect" bindLabel="name" bindValue="id" [(ngModel)]="teamsNgSelectedId" [placeholder]="'team' | translate" (change)="onCalendarNgSelectChange()" class="mr-10"></ng-select>
                                    <ng-select [items]="matchesNgSelect" bindLabel="label" bindValue="id" [(ngModel)]="matchesNgSelectedId" [placeholder]="'game' | translate" (change)="onCalendarNgSelectChange()"></ng-select>
                                </div>
                            </div>

                            <table class="table-styled">
                                <tbody>
                                <tr *ngFor="let match of matches">
                                    <td class="td-match-time"><span class="match-time">{{match.start_time | matchDate}}</span></td>
                                    <td class="td-match-versus"><a class="td-match-versus__home" [ngClass]="{'defeated': match.home_team_goals_count < match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.home_team_slug" target="_blank">{{match.home_team_name}}</a>{{match.status != 0 && innerWidth <= 768 ? (' ' + match.home_team_goals_count + ' - ' + match.guest_team_goals_count + ' ') : ' - '}}<a class="td-match-versus__guest" [ngClass]="{'defeated': match.home_team_goals_count > match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.guest_team_slug">{{match.guest_team_name}}</a></td>
                                    <td class="td-match-score">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                    <td class="td-match-present-status">{{'matchStatuses.' + match.status | translate}}</td> <!--<a href="javascript:void(0)" class="match-was-ended-play"><img src="/assets/site/assets/images/play.png" /></a> -->
                                </tr>
                                </tbody>
                            </table>

                            <span class="data-is-absent" *ngIf="matches?.length == 0">{{'thisIsNoGamesInThisCategory' | translate}}</span>

                            <app-basic-ghost *ngIf="matches == null || elements == null || teams == null" style="margin-top: 20px; display: block;"></app-basic-ghost>
                        </div>
                    </div>
                    <div class="col-xl-4 hidden-md hidden-sm hidden-xs"></div>
                </div>
            </div>
        </div>

    </div>

</div>
