body *
  font-family: "San Francisco"
  letter-spacing: 0.3px
  box-sizing: border-box

*:before, *:after
  box-sizing: border-box

// div[class^="col-"]
//   padding: 0

.container
  //padding: 46px 136px

#main
  width: 100%
  max-width: 1440px
  margin: auto



#header-section
  display: flex
  height: 96px
  color: white
  background-color: #3973B0
  #header-block
    display: flex
    align-items: center
    &>a
      display: block
      #primary-logo
        margin-right: 76px
        max-height: 50px
    #menu
      line-height: 24px
      font-size: 14px
      letter-spacing: 0.3px
      text-transform: uppercase
      float: left
      margin-right: 65px
      li
        margin-right: 24px
        &:last-child
          margin-right: 0px
        a
          color: white
    #icons-block
      display: flex
      margin-left: auto
      margin-right: 32px
      .login-button
        margin-right: 32px
      img
        width: 32px
      .nav-mobile-menu-button, .nav-mobile-menu-button--close, #close-search
        display: none
    #langs-block
      line-height: 24px
      font-size: 14px
      letter-spacing: 0.3px
      text-transform: uppercase
      float: left
      cursor: pointer
      position: relative
      .langs-block__selected
      .langs-block__lang-list
        display: none
        position: absolute
        left: -8px
        background-color: #FFF
        padding: 14px 12px
        box-shadow: 0px 1px 8px rgba(223, 223, 223, 0.5)
        .langs-block__lang-item
          font-size: 14px
          line-height: 24px
          color: #686868
          margin-bottom: 12px
          &:last-child
            margin-bottom: 0

.single-input-block
  display: flex
  align-items: center
  position: relative
  padding: 15px 18px
  border: 1px solid #DBDBDB
  background-color: #FFF
  &.single-input-block_icon:before
    content: ''
    display: block
    width: 16px
    height: 16px
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-right: 10px
  &.single-input-block_icon_search:before
    background-image: url(../images/single_search.png)
  &.single-input-block_icon_username:before
    background-image: url(../images/single_username.png)
  &.single-input-block_icon_email:before
    background-image: url(../images/single_email.png)
  &.single-input-block_icon_password:before
    background-image: url(../images/single_password.png)
  &.single-input-block_icon_date
    input
      font-size: 14px
      font-weight: 600
      border: none
      outline-width: 0
    &:before
      background-image: url(../images/single_date.png)
  .single-input
    font-size: 14px
    font-weight: 600
    border: none
    outline-width: 0
  .single-input-show-pass
    display: block
    width: 16px
    height: 11px
    position: absolute
    right: 18px
    background-image: url(../images/single_hide.png)
    background-repeat: no-repeat
    background-position: center
    background-size: contain

.single__check-box-group
  display: flex
  align-items: center
  .single__check-text
      display: flex
      align-items: center
      font-weight: 600
      font-size: 14px
      color: #686868
  .single__check-box
      width: 16px
      height: 16px
      display: block
      position: relative
      cursor: pointer
      background-color: #F7F8FD
      .single__check
          position: absolute
          opacity: 0
          cursor: pointer
          height: 0
          width: 0
          // &:checked ~ .single__checkmark:after
          //     display: block
      .single__checkmark
          position: absolute
          top: 0
          left: 0
          width: 16px
          height: 16px
          background-color: #FFF
          border: 1px solid #DBDBDB
          &:after
              content: ''
              width: 16px
              height: 16px
              display: block
              position: absolute
              // display: none
              background-position: center
              background-repeat: no-repeat
          &.single__checkmark_checked
              &:after
                  background-color: #FFC633
                  background-image: url(../img/checked.svg)
          &.single__checkmark_not-full-checked
              &:after
                  width: 14px
                  height: 14px
                  top: 50%
                  left: 50%
                  transform: translate(-50%, -50%)
                  background-color: #FFC633
.team-header
  display: flex
  align-items: center
  .team__logo
    height: 96px
    margin-right: 24px
  .team__main-info
    .team__name
      display: block
      font-size: 24px
      font-weight: 700
      color: #3973B0
      margin-bottom: 4px
    .team__original-name
      display: block
      color: #979797
  .form-group-simple__select-group
    margin-left: auto
  .tean__add-info
    margin-right: 56px
    &:last-child
      margin-right: 0
    &:nth-child(3)
      margin-left: auto
    .team-add__name
      display: block
      color: #979797
      margin-bottom: 4px
    .team-add__value
      display: block
      font-size: 16px
      color: #2E2E2E


.search-input
  width: 100%
  margin-right: 32px
  background-color: #3973B0
  color: #608FBF
  padding: 5px 10px
  border-top: 2px solid rgba(255, 255, 255, 0.2)
  border-bottom: 2px solid rgba(255, 255, 255, 0.2)
  border-left: none
  border-right: none
  outline-width: 0
  &::placeholder
    color: #608FBF

.search-input--header
  display: none

.search-input--mobile-nav
  display: none

#nav-section
  width: 100%
  height: 56px
  display: flex
  justify-content: center
  color: #3973B0
  background-color: #D7E3EF
  text-align: center
  margin-bottom: 48px
  #menu-countries
    height: 100%
    margin: auto
    padding: 16px 0
    text-transform: uppercase
    display: inline-block
    li
      margin-right: 33px
      line-height: 24px
      font-size: 14px
      &:after
        content: ' '
        display: block
        width: 8px
        height: 8px
        background-color: #3973B0
        border-radius: 50%
        float: left
        margin-right: 33px
        margin-top: 8px
      &:first-child:after
        display: none
      a
        color: #3973B0

  .menu-countries-ghost
    display: flex
    align-items: center
    li
      display: flex
      align-items: center
      margin-right: 33px
      &::after
        content: ''
        display: block
        width: 8px
        height: 8px
        background-color: #3973B0
        border-radius: 50%
      &:last-child
        &::after
          display: none
      a
        display: block
        width: 70px
        height: 3px
        border-radius: 10px
        background-color: #3973B0
        margin-right: 33px

.right-sidebar-ghost-list
  display: flex
  flex-direction: column
  .right-sidebar-ghost-list__item
    border-bottom: 1px solid #D8D8D8
    padding-top: 20px
    padding-bottom: 20px
    &:first-child
      padding-top: 0
    .right-sidebar-ghost-list__date
      width: 120px
      height: 2px
      background-color: #979797
      margin-bottom: 10px
    .right-sidebar-ghost-list__text-1
      width: 240px
      height: 2px
      background-color: #2E2E2E
      margin-bottom: 10px
    .right-sidebar-ghost-list__text-2
      width: 200px
      height: 2px
      background-color: #2E2E2E
      margin-bottom: 10px
    .right-sidebar-ghost-list__text-3
      width: 150px
      height: 2px
      background-color: #2E2E2E

.news-ghost-list
  display: flex
  flex-direction: column
  .news-ghost-list__item
    display: flex
    margin-bottom: 16px
    .news-ghost-list__img
      width: 243px
      height: 196px
      background-image: url(../images/default_image.jpg)
      background-position: center
      background-size: contain
      background-repeat: no-repeat
      margin-right: 20px
    .news-ghost-list__text-list
      flex-shrink: 0
      flex-grow: 1
      .news-ghost-list__title-1
        width: 100%
        height: 4px
        background-color: #2E2E2E
        margin-bottom: 24px
      .news-ghost-list__title-2
        width: 60%
        height: 4px
        background-color: #2E2E2E
        margin-bottom: 24px
      .news-ghost-list__date
        width: 40%
        height: 2px
        background-color: #979797
        margin-bottom: 20px
      .news-ghost-list__short-text-1
        width: 100%
        height: 2px
        background-color: #2E2E2E
        margin-bottom: 15px
      .news-ghost-list__short-text-2
        width: 86%
        height: 2px
        background-color: #2E2E2E
        margin-bottom: 15px
      .news-ghost-list__short-text-3
        width: 72%
        height: 2px
        background-color: #2E2E2E
        margin-bottom: 15px
      .news-ghost-list__short-text-4
        width: 58%
        height: 2px
        background-color: #2E2E2E
        margin-bottom: 15px
      .news-ghost-list__short-text-5
        width: 44%
        height: 2px
        background-color: #2E2E2E
        margin-bottom: 15px
      .news-ghost-list__short-text-6
        width: 30%
        height: 2px
        background-color: #2E2E2E
        margin-bottom: 15px
      .news-ghost-list__short-text-7
        width: 16%
        height: 2px
        background-color: #2E2E2E

.page-title
  display: block
  font-size: 35px
  font-weight: 700
  text-align: center

.page-body
  p
    font-size: 16px
    line-height: 125%
    margin: 20px 0
  h1, h2, h3, h4, h5, h6
    font-weight: 600
    line-height: 125%
  h1
    font-size: 16px
  h2
    font-size: 18px
  h3
    font-size: 20px
  h4
    font-size: 22px
  h5
    font-size: 24px
  h6
    font-size: 26px
  i
    font-style: italic
  strong
    font-weight: 700

.mobile-nav-title
  display: block
  font-size: 35px
  color: #FFF

.mobile-nav-section
  display: none
  position: fixed
  top: 106px
  z-index: 999
  width: 100%
  height: 100%
  background-color: rgba(0, 0, 0, 0.6)
  .mobile-nav-block
    width: 375px
    height: calc(100vh - 106px)
    overflow-y: auto
    position: absolute
    right: -375px
    background-color: #3973B0
    padding: 24px 40px
    .mob-langs-list
      display: flex
      align-items: center
      margin-bottom: 20px
      .mob-langs-list__item
        margin-right: 20px
        &:last-child
          margin-right: 0
        &.disabled
          .mob-langs-list__link
            color: #b3b3b3
        .mob-langs-list__link
          display: block
          text-decoration: none
          color: #fff
          font-size: 16px
          font-weight: 600
    .mobile-nav__list
      .mobile-nav__list__item
        .mobile-nav__list__item__link
          font-weight: bold
          font-size: 20px
          line-height: 56px
          letter-spacing: 0.25px
          text-transform: uppercase
          color: #FFFFFF
    .mobile-nav__footer
      margin-top: 28px
      display: none
      .mobile-nav__footer__social-list
        padding: 32px 16px
        border-top: 1px solid rgba(255, 255, 255, 0.3)
        border-bottom: 1px solid rgba(255, 255, 255, 0.3)
        .mobile-nav__footer__social-list__item
          float: left
          width: 25%
          margin-right: 4px
          height: 45px
          display: table
          &:last-child
            margin-right: 0
            width: 0
          .mobile-nav__footer__social-list__item__link
            display: table-cell
            vertical-align: middle
            .mobile-nav__footer__social-list__item__link__image
      .mobile-nav__footer__text
        display: block
        padding: 28px 0
        text-align: center
        font-weight: 600
        font-size: 14px
        line-height: 24px
        letter-spacing: 0.3px
        color: #FFFFFF

#content
  //max-width: 1169px
  width: 100%
  margin-bottom: 56px
  #hot-news-section
    margin-top: 48px
    #hot-news-block
      #first-news-item
        padding-right: 32px !important
        &:hover
          #first-news-item-title
            text-decoration: underline
        a
          text-decoration: none
        &>a>div:first-child
          height: 246px
          position: relative
          background-image: url(../images/news1-photo.png)
          background-clip: content-box
          background-position: center
          background-size: cover
          img
            width: 100%
            position: absolute
          &>div
            width: 122px
            height: 40px
            background-color: #EC9A29
            padding: 8px 16px
            position: absolute
            bottom: 0
            line-height: 24px
            font-size: 12px
            letter-spacing: 0.3px
            span
              width: 95px
              display: block
              color: white
        #first-news-item-title
          line-height: 32px
          font-size: 20px
          color: #2E2E2E
          text-transform: uppercase
          font-weight: 600
          margin: 28px 0 26px 0
        .tags
          float: left
          margin-right: 6px
          &:last-child
            margin-right: 0
      #main-news
        li
          border-bottom: 1px solid #DEDEDE
          margin-bottom: 20px
          &:hover
            .main-news-title
              text-decoration: underline
          &:last-child
            margin-bottom: 0
          .main-news-date
            display: block
            margin-bottom: 12px
            //line-height: 24px
            font-size: 12px
            letter-spacing: 0.3px
            color: #979797
          .main-news-title
            text-transform: uppercase
            color: #2E2E2E
            margin: 0
            padding-bottom: 13px
            font-size: 16px
            letter-spacing: 0.3px
            line-height: 24px
            font-weight: 600

.form-group-simple__select-group
  z-index: 999
  .form-group-simple__control
      z-index: 2
      background-color: #FFF
      border: none
      padding: 11px 20px
      &:hover
          box-shadow: 0px 5px 10px #DADAE5
          cursor: pointer
      &.form-group-simple__control--is-focused
          box-shadow: 0px 5px 10px #DADAE5
      &.form-group-simple__control--menu-is-open
          box-shadow: none !important
      .form-group-simple__value-container
          padding: 0
          min-width: 115px
          .form-group-simple__placeholder
              font-weight: 400 !important
              font-size: 1.143em !important
              color: #9696AA !important
          .form-group-simple__input
              display: block
          .form-group-simple__single-value
              font-weight: 600
              font-size: 1.143em
              font-size: 14px
              text-transform: uppercase
              color: #686868
      .form-group-simple__indicators
          width: 24px
          height: 24px
          .form-group-simple__indicator-separator
          .form-group-simple__indicator
              position: relative
              top: 80%
              left: 50%
              transform: translate(-50%, -50%)
              background-image: url(../img/select-arrow.svg)
              background-position: center
              background-repeat: no-repeat
              svg
  .form-group-simple__menu
      width: 100%
      padding-top: 7px
      margin-top: -5px
      background-color: #FFF
      border: none!important
      z-index: 999
      .form-group-simple__menu-notice--no-options
          display: none
      .form-group-simple__menu-list
        z-index: 999
        .form-group-simple__option
            font-weight: 400
            color: #686868
            font-size: 14px
            padding: 12px
            text-transform: uppercase
            &.form-group-simple__option--is-selected
                background-color: #BEBED0 !important
            &.form-group-simple__option--is-focused
                background-color: #F6F6F6

.timeline_title
  display: block
  font-size: 20px
  font-weight: 700
  text-transform: uppercase
  margin-bottom: 20px

.timeline__list
  display: flex
  flex-direction: column
  .timeline__item
    border-bottom: 1px solid #D8D8D8
    &:last-child
      border-bottom: none
    &:first-child
      .timeline__link
        padding-top: 0
    .timeline__link
      display: block
      text-decoration: none
      padding-top: 20px
      padding-bottom: 20px
      .timeline__date
        display: block
        font-size: 12px
        color: #979797
        margin-bottom: 10px
      .timeline__news-item-title
        display: block
        font-size: 14px
        line-height: 18px
        font-weight: 400
        color: #2E2E2E

.categories-all
  display: flex
  justify-content: space-between
  flex-wrap: wrap
  align-items: flex-start
  // justify-content: space-between
  word-break: break-word
  .categories-all__item
    margin-bottom: 10px
    .categories-columns
      display: flex
      flex-direction: column
      .categories-columns__item
        margin-bottom: 10px
        &:last-child
          margin-bottom: 0
        .categories-columns__link
          display: flex
          text-decoration: none
          &:hover
            text-decoration: underline
          .categories-columns__category
            display: block
            font-size: 14px
            margin-right: 10px
            color: #2E2E2E
            &.categories-columns__category_all
              font-weight: 600
          .categories-columns__added-count
            display: block
            font-size: 12px
            color: #3973B0

.news-vertical
  display: flex
  .slick-list
    margin: 0 -16px
  .slick-slide
    margin: 0 16px
  .news-vertical__item
    .news-vertical__link
      display: block
      text-decoration: none
      word-break: break-word
      .news-vertical__img
        display: block
        width: 100%
        height: 211px
        margin-bottom: 20px
        background-repeat: no-repeat
        background-position: center
        background-size: cover
      .news-vertical__date
        display: block
        font-size: 12px
        color: #979797
        margin-bottom: 15px
      .news-vertical__title
        display: block
        font-size: 20px
        line-height: 25px
        font-weight: 600
        color: #2E2E2E
        margin-bottom: 20px

.pagination
  display: flex
  justify-content: center
  align-items: center
  .pagination__item
    &.active
      .pagination__link
        background-color: #D7E3EF
        color: #3973B0
    &.pagination__item_arrow
      .pagination__link
        width: 12px
        height: 16px
        background-repeat: no-repeat
        background-size: 10px
        background-position: center
    &.pagination__item_arrow_prev
      .pagination__link
        background-image: url('../images/arrow_prev.svg')
    &.pagination__item_arrow_next
      .pagination__link
        background-image: url('../images/arrow_next.svg')
    .pagination__link
      text-decoration: none
      color: #979797
      padding: 15px 20px
      text-transform: uppercase
      display: block

.main-news-slider-wrapper
  position: relative
  .owl-stage-outer
    margin-bottom: 10px
  .owl-dots
    // position: absolute
    // top: 313px
    .owl-dot
      border: none
      width: 64px
      height: 4px
      background-color: #E9E9E9
      margin-right: 8px
      &.active
        background-color: #3973B0
      *
        display: none!important
.main-news-slider
  .main-news-slider__item
    .main-news-slider__link
      display: block
      text-decoration: none
      margin-bottom: 15px
      .main-news-slider__img-box
        margin-bottom: 30px
        .main-news-slider__img
          display: block
          width: 100%
      .main-news-slider__title
        display: block
        width: 100%
        font-size: 20px
        line-height: 30px
        font-weight: 600
        color: #2E2E2E

.main-news-slider-button-block
  position: absolute
  z-index: 2
  top: 26%
  display: flex
  justify-content: center
  align-items: center
  &.main-news-slider-button-block_prev
    left: 0
    .main-news-slider-button
      background-image: url('../images/arrow_main_news_slider_prev.png')
  &.main-news-slider-button-block_next
    right: 0
    .main-news-slider-button
      background-image: url('../images/arrow_main_news_slider_next.png')
  .main-news-slider-button
    display: block
    width: 60px
    height: 60px
    background-repeat: no-repeat
    background-position: center
    background-size: 50%

.arrow-link
  display: block
  text-decoration: none
  width: 13px
  height: 18px
  background-repeat: no-repeat
  background-size: 10px
  background-position: center
  &.arrow-link_prev
    background-image: url('../images/arrow_prev.svg')
  &.arrow-link_next
    background-image: url('../images/arrow_next.svg')

.filter
  background-color: #F6F6F6
  .filter-name
    font-size: 30px
    font-weight: 700

.tags-all
  display: flex
.tags
  padding: 5px 16px
  background-color: #E6EFF7
  color: #3973B0
  border: 1px solid #CDDEF0
  font-size: 12px
  margin-right: 5px
  text-align: center
  &:last-child
    margin-right: 0

.share-social
  display: flex
  justify-content: flex-end
  align-items: center
  margin-bottom: 20px
  .share-social__item
    list-style-type: none
    margin-right: 10px
    color: #3973B0
    &:last-child
      margin-right: 0
    .share-social__link
      display: block
      text-decoration: none
      color: #3973B0
      .share-social__img

.slider-wrapper
  position: relative
  .ligas-list
    width: calc(100% - 120px)
.slider-button-block
  background-color: rgba(255, 255, 255, .8)
  display: flex
  justify-content: center
  align-items: center
  &.slider-button-block_prev
    .slider-button
      background-image: url('../images/arrow_slider_prev.png')
  &.slider-button-block_next
    .slider-button
      background-image: url('../images/arrow_slider_next.png')
  .slider-button
    display: block
    width: 60px
    height: 60px
    background-repeat: no-repeat
    background-position: center
    background-size: 50%

.list-unstyled
  li
    float: left
    a
      text-decoration: none
      color: #FFF

.tab-content
    .tab-pane
        display: none

.pad-0
  padding: 0

.pad-lf-16
  padding-left: 16px


.section
  width: 100%
  margin-bottom: 48px
  .section-header
    width: 100%
    padding-bottom: 27px
    border-bottom: 2px solid #E9E9E9
    h2
      font-weight: 600
      font-size: 24px
      line-height: 120%
      text-transform: uppercase
      color: #3973B0
    .section-header__link
      font-weight: 600
      font-size: 14px
      text-transform: uppercase
      color: #3973B0
      text-decoration: none
  .section-header-ligas
    width: 100%
    padding: 32px 48px
    background-color: #F6F6F6
    border-radius: 2px
    .section-header-ligas-block
      text-align: center
      .section-header-ligas__team-image
        float: left
        margin-right: 64px
      .section-header-ligas__team-header
        width: 260px
        float: left
        text-align: left
        margin: 0 auto
        .section-header-ligas__team-header__title
          width: 100%
          font-weight: 600
          font-size: 20px
          line-height: 32px
          letter-spacing: 0.3px
          text-transform: uppercase
          color: #2E2E2E
        .section-header-ligas__team-header__info
          width: 100%
          .section-header-ligas__team-header__info__row
            width: 100%
            .section-header-ligas__team-header__info__cell
              float: left
              width: 50%
              font-weight: normal
              font-size: 14px
              line-height: 24px
              color: #2E2E2E
              &:after
                content: ''
                display: block
                clear: both
            .section-header-ligas__team-header__info__name
            .section-header-ligas__team-header__info__value
      .liga-year-select-section
        display: flex
        align-items: center
        justify-content: center

  .section-body
    width: 100%
    padding: 22px 0
  .section-body-ligas
    width: 100%
    padding: 48px 0
  .section-body-team
    .ligas-list
      padding-top: 25px
      padding-bottom: 25px
  .section-footer
    text-align: center
    clear: both
    a
      display: block
      width: 100%
      font-size: 14px
      line-height: 56px
      font-weight: 600
      background-color: #F6F6F6
      border-radius: 2px
      text-decoration: none
      color: #000
      text-transform: uppercase
  &:last-child
    margin-bottom: 0

.section-footer-link
  display: block
  width: 100%
  font-size: 14px
  line-height: 56px
  font-weight: 600
  background-color: #F6F6F6
  border-radius: 2px
  text-decoration: none
  color: #000
  text-transform: uppercase
  text-align: center

.ligas-list
  width: 100%
  display: flex
  .owl-item
    width: auto!important
  .slick-slide
    margin-right: 16px
  &.ligas-list_column
    flex-direction: column
    li
      margin-right: 0!important
      margin-bottom: 10px!important
  li
    display: inline-block
    border: 1px solid #C0C0C0
    a
      display: flex
      justify-content: center
      align-items: center
      padding: 16px 24px
    .liga-logo
      width: auto!important
      max-height: 24px
      top: 6px
      margin-right: 12px
    .liga-title
      display: inline-block
      font-weight: 600
      line-height: 24px
      font-size: 16px
      letter-spacing: 0.24px
      text-transform: uppercase
      color: #2E2E2E
    &.active
      background-color: #3973B0
      span
        color: #FFF !important

.ligas-table-main
  width: 100%
  padding: 35px 0
  margin: 0
  clear: both
  &>div
    padding: 0
  .table-styled
    width: 100%
    td, th
      border-bottom: 1px solid #C0C0C0
      padding: 20px 12px
      font-size: 16px
      &:first-child
        padding-left: 0
      &:last-child
        padding-right: 0
      .match-was-ended
        line-height: 24px
      .match-time, .match-was-not-beginned
        color: #979797
      .match-was-ended-play
        position: relative
        top: 7px
      .score-o, .score-x
        font-weight: 600
    .ligas-table-thead
      tr
        th
          padding: 15px
          background-color: #F6F6F6
          .liga-logo
            margin-right: 12px
            max-height: 50px
          .liga-logo, .liga-title
            vertical-align: middle
    .td-match-versus
      .td-match-versus__home, .td-match-versus__guest
        color: #0c0a0a
        text-decoration: none
        &:hover
          text-decoration: underline
        &.defeated
          color: #ababab
    .td-match-score
      min-width: 66px
  .title
    font-size: 20px
    text-align: center
    font-weight: 600
    margin-bottom: 20px

.ligas-tour-table-main
  padding-bottom: 0
  .club-logo
    position: relative
    top: 5px
  th
    font-weight: 600
    line-height: 24px
    font-size: 14px
    letter-spacing: 0.3px
    color: #2E2E2E
    border-bottom: none !important
    &:first-child
      padding-left: 24px !important
    &:last-child
      padding-right: 24px !important
  td
    &:first-child
      padding-left: 24px !important
  td, th
    font-size: 18px !important
  .stadium-name, .match-score
    font-weight: 600

.team-members-table-main
  .team-member-flag-photo-name
    display: flex
    align-items: center
    .team-member-flag-photo-name__flag
      height: 15px
      margin-right: 15px
    .team-member-flag-photo-name__photo
      height: 40px
      width: 40px
      border-radius: 50%
      background-repeat: no-repeat
      background-position: center
      background-size: cover
      margin-right: 15px
  a
    color: inherit
    text-decoration: none

.ligas-sidebar-news-section
  padding: 35px 0 0 32px !important
  .ligas-sidebar-news-block
    &>li
      margin-bottom: 20px
    a:hover
      .news-title
        text-decoration: underline
    .news-date
      display: block
      line-height: 24px
      font-size: 12px
      letter-spacing: 0.3px
      color: #979797
    .news-title-block

    .news-title
      display: inline
      line-height: 32px
      font-size: 20px
      color: #2E2E2E
    .news-not-read
      font-weight: 600
    .news-tag-items
      display: inline-block
      li
        margin-left: 10px
      .news-has-video-photo
        padding: 5px 10px
        background-color: #EC9A29
        border-radius: 2px
        color: #FFF
        line-height: 12px
        font-size: 9px
        letter-spacing: 0.3px
      .news-is-hot
        width: 12px
        height: 16px
        display: block
        background-image: url(../images/news_hot.png)
        background-clip: content-box
        background-position: center
        background-size: cover

#additional-news-section
  // margin-left: 0
  // margin-right: 0
  margin-bottom: 48px
  .row
    margin: 0

.ligas-table-main
  .table-nav-button-block
    position: absolute
    top: 0
    z-index: 2
    padding: 6px
    &>*
      width: 15px
      height: 15px
      border-color: #686868
      border-style: solid
      transform: rotate(-45deg)
    &.left-nav-button-block
      left: 0
    &.right-nav-button-block
      right: 0
    .left-nav-button
      border-left-width: 3px
      border-top-width: 3px
    .right-nav-button
      border-right-width: 3px
      border-bottom-width: 3px
  .ligas-table-header-title-block
    text-align: center
    font-weight: 600
    line-height: 32px
    font-size: 20px
    text-transform: uppercase
    color: #2E2E2E

.team-news-tab-pane-inner
  .row
    margin-left: 0
    margin-right: 0
#additional-news-block
  li
    width: 100%
    margin-bottom: 16px
    a
      text-decoration: none
    .additional-news-photo-block
      //max-width: 268px
      float: left
      margin-right: 32px
      padding: 0
      text-align: center
      img
        width: 100%
        // max-width: 268px
    .additional-news-info-block
      padding: 0
      .additional-news-info-date--mobile
        line-height: 24px
        font-size: 12px
        color: #979797
        display: none
      .additional-news-info-title
        font-weight: 600
        line-height: 32px
        font-size: 20px
        text-transform: uppercase
        color: #2E2E2E
      .additional-news-info-tags-and-date
        display: flex
        align-items: center
      .tags-all
        margin-right: 5px
        .tags
          display: inline
          margin-bottom: 0!important
      .additional-news-info-date
        line-height: 24px
        font-size: 12px
        color: #979797
        margin-right: 5px
      .additional-news-info-visited
        display: flex
        font-size: 12px
        color: #979797
        &::before
          content: ''
          display: block
          width: 16px
          height: 11px
          background-image: url(../images/visited.png)
          background-repeat: no-repeat
          background-position: center
          background-size: contain
          margin-right: 5px
      .additional-news-info-description
        display: block
        line-height: 24px
        font-size: 14px
        color: #2E2E2E

.news-item__text-block
  p
    margin: 10px 0
    font-size: 14px
    line-height: 24px
  img
    width: 100%
  h2
    font-size: 21px
    font-weight: 700
    margin: 20px 0
  h3
    font-size: 18px
    font-weight: 700
    margin: 10px 0
  h4
    font-size: 16px
    font-weight: 700
    margin: 10px 0
  strong
    font-weight: 700
  i, em
    font-style: italic
  .ql-align-center
    text-align: center
  .ql-align-right
    text-align: right
  .ql-align-justify
    text-align: justify
.news-item__info
  font-size: 12px
  color: #979797
  display: flex
  &.news-item__info_view
    &:before
      content: ''
      display: block
      width: 16px
      height: 11px
      margin-right: 5px
      background-image: url('../images/view.svg')
      background-repeat: no-repeat
      background-position: center
      background-size: containt

.clubs-present-status
  td, th
    vertical-align: middle
    padding: 20px 12px
    &:first-child
      padding-left: 12px !important
    &:last-child
      padding-left: 12px !important
  .club-logo
    float: left
    width: auto!important
    max-height: 20px
  .club-name
    display: block
    float: left
    margin-top: 5px
    margin-left: 15px

.club-teams-list
  display: flex
  justify-content: center
  flex-wrap: wrap
  padding: 35px 0
  li
    background-color: #F6F6F6
    margin-right: 20px
    margin-bottom: 20px
    text-align: center
    .club-team-block
      display: block
      width: 200px
      height: 100%
      padding: 50px 30px
      text-decoration: none
      color: #2E2E2E
      img
        max-height: 70px
        margin-bottom: 20px
      &:hover
        text-decoration: underline
  .team-name
    line-height: 24px
    font-size: 18px

#main-goal-videos
  width: 100%
  padding-top: 35px
  clear: both
  margin: 0
  .main-goal-video
    float: left
    .main-goal-video-block
      width: 100%
      max-width: 368px
      margin: 0 auto
      a
        text-decoration: none
      .video-preview-block
        width: 100%
        position: relative
        margin-bottom: 13px
        .video-preview-image
          width: 100%
          max-width: 368px
        .video-preview-play
          position: absolute
          left: 50%
          top: 50%
          transform: translate(-50%, -50%)
      .video-title
        font-weight: 600
        line-height: 24px
        font-size: 16px
        text-transform: uppercase
        color: #2E2E2E
        margin-bottom: 15px


.tournaments-list
  display: flex
  align-items: center
.tournaments-list__item
  &.active
    &::after
      content: ''
      display: block
      height: 3px
      width: 100%
      background-color: #3973B0
    .tournaments-list__link
      background-color: #D7E3EF
  .tournaments-list__link
    display: flex
    align-items: center
    text-decoration: none
    padding: 30px 10px
    .tournaments-list__img
      display: block
      margin-right: 20px
      height: 50px
      max-width: 50px
    .tournaments-list__name
      display: block
      text-transform: uppercase
      font-size: 24px
      font-weight: 600
      color: #3973B0

#bloggers-block
  width: 100%
  padding: 0
  margin: 0
  div[class^="col-"]
    padding: 0 32px 0 0
    margin-bottom: 32px
    .bloggers-photo-block
      width: 128px
      height: 128px
      overflow: hidden
      border-radius: 50%
      margin-right: 32px
      float: left
    .blog-info
      width: calc(100% - 160px)
      float: left
      margin-top: 19.5px
      .video-some-info
        margin-bottom: 23px
      .blog-title
        clear: both
        font-weight: 600
        font-size: 16px
        text-transform: uppercase
        color: #2E2E2E
        margin-bottom: 15px
        text-decoration: none
        line-height: 23px
      .blog-reading-duration
        font-size: 12px
        color: #979797



.footer
  width: 100%
  background-color: #3973B0
  color: #FFF
  border-bottom: 18px solid #D7E3EF
  .row
    margin: 0
    padding: 0
  .footer-block-md
    width: 100%
    padding: 43px 136px
    .footer-element-header
      display: block
      font-weight: 600
      font-size: 14px
      margin-bottom: 20px
    .footer-element-body
      font-size: 12px
      font-weight: 400
      line-height: 20px
      word-break: break-word
      li
        float: none
        margin-bottom: 12px
        &:last-child
          margin-bottom: 0
    .footer-social
      display: flex
      align-items: center
      li
        margin-right: 24px
        &:last-child
          margin-right: 0
        img
          width: 22px
  .footer-block-sm
    display: none
  .footer-block-xs
    display: none
  a
    &:hover
      text-decoration: underline


.video-some-info
  li
    line-height: 16px
    font-size: 12px
    color: #979797
    position: relative
    margin-right: 8px
    padding-left: 8px
    &:first-child
      padding-left: 0
    &:last-child
      margin-right: 0
    &:after
      content: ' '
      display: block
      width: 4px
      height: 4px
      background-color: #2E2E2E
      border-radius: 50%
      position: absolute
      left: 0
      top: 50%
      transform: translate(-50%, -50%)
    //float: left
    //margin-right: 33px
    //margin-top: 8px
    &:first-child:after
      display: none

.modal-wrapper
  position: fixed
  z-index: 10
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(0, 0, 0, .6)
.modal
  width: 100%
  max-width: 550px
  position: absolute
  left: 50%
  top: 50%
  transform: translate(-50%, -50%)
  background-color: #FFFFFF
  .modal-header
    .modal-close-link
      display: block
      width: 16px
      height: 16px
      text-decoration: none
      background-image: url(../images/modal_close.png)
      background-repeat: no-repeat
      background-position: center
      background-size: contain
  .modal-body
    .login-register-purpose
      display: block
      font-size: 14px
      color: #000

.table-game-video
  width: 100%
  border-collapse: separate
  border-spacing: 0 8px
  tbody
    tr
      cursor: pointer
      td
        padding: 15px 16px
        background-color: #F6F6F6
        font-size: 16px
        color: #2E2E2E
        &.number-cell
          font-weight: 600
          color: #979797

.table-game-video-block
  padding-top: 40px
  .table-game-video__text
    display: block
    color: #979797


.link
  display: flex
  align-items: center
  text-decoration: none
  &.link_blue
    color: #3973B0
  &.link_icon
    &::before
      content: ''
      display: block
      background-position: center
      background-repeat: no-repeat
      background-size: contain
      margin-right: 8px
    &.link_icon_back
      &::before
        width: 13px
        height: 11px
        background-image: url(../images/arrow_left_blue.svg)



.link-simple_14
  display: block
  font-size: 14px
  color: #3973B0
  text-decoration: underline
.link-simple_16
  display: block
  font-size: 16px
  color: #3973B0
  text-decoration: underline

.button
  display: block
  text-decoration: none
  padding: 17px 40px
  border: none
  border-radius: 5px
  &.button_blue
    background-color: #3973B0
    color: #FFFFFF
  &.disabled
    background-color: #DFDFDF
    color: #FFFFFF
    cursor: default
    user-select: none

.filter-open-button
  display: flex
  justify-content: center
  align-items: center
  font-weight: 600
  color: #3973B0
  padding: 20px
  background-color: #F6F6F6
  text-transform: uppercase
  border: none
  border-radius: 5px
  width: 100%
  &:after
    content: ''
    display: block
    width: 16px
    height: 8px
    background-image: url(../images/arrow_bottom_blue.svg)
    background-repeat: no-repeat
    background-position: center
    background-size: contain
    margin-left: 5px
  &.active
    &::after
      background-image: url(../images/arrow_top_blue.svg)

.login-social
  display: flex
  align-items: center
  justify-content: center
  flex-wrap: wrap
  .login-social__item
    margin-right: 10px
    &:last-child
      margin-right: 0
    .login-social__link
      display: block
      width: 40px
      height: 40px
      text-decoration: none
      background-color: #ffffff
      border-radius: 50%
      border: 1px solid #DBDBDB
      background-position: center
      background-repeat: no-repeat
      &.login-social__link_fb
        background-image: url('../images/social_fb.png')
        background-size: 25%
      &.login-social__link_gm
        background-image: url('../images/social_gm.png')
        background-size: 33%
      &.login-social__link_vk
        background-image: url('../images/social_vk.png')
        background-size: 48%


// .row
//   margin-left: 0
//   margin-right: 0

.bg-f6
  background-color: #F6F6F6

.pd-left-24
  padding-left: 24px !important

.pd-right-24
  padding-right: 24px !important




.center
  text-align: center

.text-left
  text-align: left

.club-upped
  background-color: #B0F1CC
  color: #61A27D

.club-not-changed
  background-color: rgba(236, 154, 41, 0.3)
  color: #DD942E

.club-lowed
  background-color: rgba(251, 77, 61, 0.3)
  color: #CC392C

.float-left
  float: left

.float-right
  float: right

.select2-section-football-1
  .select2-container
    width: unset !important
    .selection
      .select2-selection
        border: none
        border-radius: 0
        padding: 12px
        height: 48px
        .select2-selection__rendered
          padding-right: 42px
          font-weight: 600
          line-height: 24px
          font-size: 14px
          text-transform: uppercase
          color: #686868
        .select2-selection__arrow
          background-image: url(../images/select2_arrow_bottom.png)
          background-size: cover
          background-position: center
          background-clip: content-box
          width: 14px
          height: 7px
          position: absolute
          top: 50%
          right: 16px
          transform: translate(0, -50%)
          &>*
            display: none


.select2-container
  .select2-dropdown
    border: none
    .select2-search
      display: none !important
    .select2-results
      .select2-results__option
        padding: 12px !important
        color: #686868 !important
        font-size: 14px
      .select2-results__option--highlighted
        //color: #000
        background: #F6F6F6


.video-modal-block
  display: flex
  align-items: center
  justify-content: center
  position: fixed
  top: 0
  right: 0
  bottom: 0
  left: 0
  background-color: rgba(0, 0, 0, .7)
  z-index: 10
  .video-modal
    .video-modal__close
      display: block
      width: 12px
      height: 12px
      margin-left: auto
      margin-bottom: 10px
      background-image: url(../images/close.png)
      background-repeat: no-repeat
      background-position: center
      background-size: contain
    video
      width: 100%
      max-width: 500px

.data-is-absent
  display: block
  text-align: center
  font-size: 1.142rem
  font-weight: 600
  margin-top: 20px

.c-97
  color: #979797

.d-block
  display: block

.border-bottom-2-grey
  border-bottom: 2px solid #E9E9E9

@import 'responsive.sass'

.clearfix:after
  display: block
  content: ""
  clear: both

.flex-column-end-center
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: center

.flex-column-end-end
    display: flex
    flex-direction: column
    align-items: flex-end
    justify-content: end

.flex-column-start-center
    display: flex
    flex-direction: column
    align-items: flex-start
    justify-content: center

.flex-column-normal-center
    display: flex
    flex-direction: column
    align-items: normal
    justify-content: center

.flex-column-normal-center
    display: flex
    flex-direction: column
    align-items: normal
    justify-content: center

.flex-row-center-between
    display: flex
    align-items: center
    justify-content: space-between

.flex-row-center-end
    display: flex
    align-items: center
    justify-content: flex-end

.flex-row-center-center
    display: flex
    align-items: center
    justify-content: center

.flex-row-start-start
    display: flex
    align-items: flex-start
    justify-content: flex-start

.flex-row-center-start
    display: flex
    align-items: center
    justify-content: flex-start

.ta-center
  text-align: center

.ml-auto
  margin-left: auto!important

.mr-auto
  margin-right: auto!important

.mr-7
  margin-right: 7px!important

.mr-10
  margin-right: 10px!important

.mr-20
  margin-right: 20px!important

.mt-40
  margin-top: 40px!important

.mb-10
  margin-bottom: 10px!important

.mb-15
  margin-bottom: 15px!important

.mb-20
  margin-bottom: 20px!important

.mb-25
  margin-bottom: 25px!important

.mb-30
  margin-bottom: 30px!important

.mb-40
  margin-bottom: 40px!important

.mb-50
  margin-bottom: 50px!important

.p-20
  padding: 20px!important

.pt-40
  padding-top: 40px!important

.pb-40
  padding-bottom: 40px!important

.pt-0
  padding-top: 0!important

.pl-0
  padding-left: 0!important

.pr-0
  padding-right: 0!important

.p-25
  padding: 25px!important

.pl-50
  padding-left: 50px!important

.pt-25
  padding-top: 25px!important

.pr-50
  padding-right: 50px!important

.pl-75
  padding-left: 75px!important

.pr-75
  padding-right: 75px!important

.ta-left
  text-align: left