<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Xəbərin əlavə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">

            <div class="form-group">
                <label class="control-label col-lg-2">Dil</label>
                <div class="col-lg-10">
                    <ng-select formControlName="locale" [items]="languages" bindLabel="locale" bindValue="locale" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['locale'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Başlıq*</label>
                <div class="col-lg-10">
                    <input type="text" formControlName="title" name="title" maxLength="200" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['title'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['title'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Başlıq 200 simvoldan az olmalıdır</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Qısa tekst*</label>
                <div class="col-lg-10">
                    <textarea type="text" formControlName="short_text" name="short_text" maxLength="200" class="form-control"></textarea>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['short_text'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['short_text'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Qısa tekst 200 simvoldan az olmalıdır</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Əsas tekst*</label>
                <div class="col-lg-10">

                    <quill-editor [modules]="modules" formControlName="large_text"></quill-editor>

                    <!-- <ckeditor [editor]="Editor" formControlName="large_text">
                        <div>
                            <iframe src="https://www.youtube.com/embed/${ videoId }"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                            </iframe>
                        </div>
                    </ckeditor> -->
                    <!--<input type="text" [formControlName]="'large_text[' + language.locale + ']'" [name]="'large_text[' + language.locale + ']'" maxLength="200" class="form-control">-->
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['large_text'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Baxış sayı*</label>
                <div class="col-lg-10">
                    <input type="number" formControlName="views_count" name="views_count" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['views_count'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <!--<p *ngIf="tryingAtOnceToSend && mainGroup.controls['views_count'].errors?.oneOfAllMustBeFilled" class="text-danger" style="margin: 10px 0 0 0;">Dillərdən biri doldurulmalıdır</p>-->
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Şəkil*</label>
                <div class="col-lg-10">
                    <input type="file" data-form-control-name="image" appFileType (change)="onFileChange($event)" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['image'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['image'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['image'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Yaradılış tarixi*</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="creating_date" name="creating_date">
                    <owl-date-time #dt1></owl-date-time>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['creating_date'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Turnir</label>
                <div class="col-lg-10">
                    <ng-select formControlName="tournament_id" [items]="tournaments" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTournamentChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['tournament_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Sezon</label>
                <div class="col-lg-10">
                    <ng-select formControlName="season_id" [items]="seasons" bindLabel="name" bindValue="id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['season_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Kateqoriyalar</label>
                <div class="col-lg-10">
                    <ng-select formControlName="categories_ids" [items]="categories" [multiple]="true" bindLabel="name" bindValue="id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['categories_ids'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Ölkələr</label>
                <div class="col-lg-10">
                    <ng-select formControlName="countries_ids" [items]="countries" [multiple]="true" bindLabel="name" bindValue="id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['countries_ids'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Komandalar</label>
                <div class="col-lg-10">
                    <ng-select formControlName="teams_ids" [items]="teams" [multiple]="true" bindLabel="name" bindValue="id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['teams_ids'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Prioritet*</label>
                <div class="col-lg-10">
                    <input type="number" formControlName="priority" name="priority" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['priority'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="is_in_slider">Slayderdədir</label>
                <div class="col-lg-10">
                    <input id="is_in_slider" type="checkbox" formControlName="is_in_slider" name="is_in_slider">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="is_in_right">Sağ blokdadır</label>
                <div class="col-lg-10">
                    <input id="is_in_right" type="checkbox" formControlName="is_in_right" name="is_in_right">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="is_active">Aktivlik</label>
                <div class="col-lg-10">
                    <input id="is_active" type="checkbox" formControlName="is_active" name="is_active">
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2" for="to_publish">Facebook-a publikasiya</label>
                <div class="col-lg-10">
                    <input id="to_publish" type="checkbox" formControlName="to_publish" name="to_publish">
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="onSubmit();">Yarat <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>