<ul class="news-ghost-list">
    <li class="news-ghost-list__item" *ngFor="let newsItem of news">
        <div class="news-ghost-list__img"></div>
        <div class="news-ghost-list__text-list">
            <div class="news-ghost-list__title-1"></div>
            <div class="news-ghost-list__title-2"></div>
            <div class="news-ghost-list__date"></div>
            <div class="news-ghost-list__short-text-1"></div>
            <div class="news-ghost-list__short-text-2"></div>
            <div class="news-ghost-list__short-text-3"></div>
            <div class="news-ghost-list__short-text-4"></div>
            <div class="news-ghost-list__short-text-5"></div>
            <div class="news-ghost-list__short-text-6"></div>
            <div class="news-ghost-list__short-text-7"></div>
        </div>
    </li>
</ul>