<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Oyunçunun redaktə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li *ngFor="let language of languages; let i = index" [ngClass]="{'active': i == 0}">
                        <a [href]="'#tab_' + language.id" data-toggle="tab">
                            <img [src]="'assets/admin/assets/images/flags/' + language.image_admin">
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div *ngFor="let language of languages; let i = index" class="tab-pane" [ngClass]="{'active': i == 0}" [id]="'tab_' + language.id">
                        <div class="form-group">
                            <label class="control-label col-lg-2">Ad*</label>
                            <div class="col-lg-10">
                                <input type="text" [formControlName]="'name[' + language.locale + ']'" [name]="'name[' + language.locale + ']'" [ngModel]="player?.translations[language.locale][0].name" maxLength="200" class="form-control">
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Ad 200 simvoldan az olmalıdır</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2">Ölkə*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="country_id" [items]="countries" [ngModel]="player?.country_id" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['country_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Pozisiya*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="position_id" [items]="positions" [ngModel]="player?.position_id" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['position_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Doğum günü*</label>
                        <div class="col-lg-10">
                            <input class="form-control" class="form-control" formControlName="date_of_birthday" [ngModel]="player?.date_of_birthday" name="date_of_birthday" ngbDatepicker #d1="ngbDatepicker" (click)="d1.toggle()" [minDate]="{year: 1900, month: 1, day: 1}" [maxDate]="{year: 2100, month: 1, day: 1}" />
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['date_of_birthday'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Boy(sm)</label>
                        <div class="col-lg-10">
                            <input type="number" formControlName="height" [ngModel]="player?.height" name="height" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Çəki(kq)</label>
                        <div class="col-lg-10">
                            <input type="number" formControlName="weight" [ngModel]="player?.weight" name="weight" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Şəkil</label>
                        <div class="col-lg-10">
                            <input type="file" data-form-control-name="photo" appFileType (change)="onFileChange($event)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['photo'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['photo'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                        </div>
                    </div>

                    <button type="button" *ngIf="player?.photo != null" class="btn btn-danger" data-form-control-name="old_photo" (click)="deleteFile($event);" [attr.disabled]="oldPhoto == 2 ? true : null" style="display: block; margin-bottom: 10px;">Faylı sil <i class="icon-trash"></i></button>
                    <img *ngIf="player?.photo != null && oldPhoto == 1" [src]="'/assets/site/assets/images/' + player?.photo" style="margin-bottom: 10px;" />

                    <p *ngIf="player?.photo == null">Şəkil yoxdur</p>

                    <h6 class="panel-title">Komandanın əlavə edilməsi</h6>

                    <table class="table" *ngIf="teamsAndNumbers && teamsAndNumbers.value.length > 0" formArrayName="teamsAndNumbers">
                        <thead>
                        <tr>
                            <th>Komanda</th>
                            <th>Oynadığı nömrə</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let teamsAndNumber of mainGroup.controls['teamsAndNumbers']['controls']; let i = index" [formGroupName]="i">
                            <td>
                                <ng-select formControlName="team_id" [items]="notSelectedTeams" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTeamsChange()" (open)="onTeamsChange()"
                                           [notFoundText]="'Uyğun məlumat tapılmadı'">
                                </ng-select>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['teamsAndNumbers']['controls'][i]['controls']['team_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            </td>
                            <td>
                                <input type="number" formControlName="number" name="number" class="form-control">
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['teamsAndNumbers']['controls'][i]['controls']['number'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            </td>

                            <td>
                                <a (click)="deleteFromTable($event, i);" data-form-control-name="teamsAndNumbers" class="btn btn-danger"><i class="icon-subtract"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <p *ngIf="teamsAndNumbers && teamsAndNumbers.value.length == 0" style="text-align: center; margin-bottom: 10px;">Cədvəl boşdur</p>

                    <a (click)="addToTable($event);" data-form-control-name="teamsAndNumbers" class="btn btn-success" style="display: block; margin-bottom: 10px;">Cədvələ əlavə et<i class="icon-add position-right"></i></a>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [attr.disabled]="mainGroup.pristine ? true : null" (click)="onSubmit();">Redaktə et <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>