<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Mərhələnin redaktə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li *ngFor="let language of languages; let i = index" [ngClass]="{'active': i == 0}">
                        <a [href]="'#tab_' + language.id" data-toggle="tab">
                            <img [src]="'assets/admin/assets/images/flags/' + language.image_admin">
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div *ngFor="let language of languages; let i = index" class="tab-pane" [ngClass]="{'active': i == 0}" [id]="'tab_' + language.id">
                        <div class="form-group">
                            <label class="control-label col-lg-2">Ad*</label>
                            <div class="col-lg-10">
                                <input type="text" [formControlName]="'name[' + language.locale + ']'" [name]="'name[' + language.locale + ']'" [ngModel]="stage?.translations[language.locale][0].name" maxLength="200" class="form-control">
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Ad 200 simvoldan az olmalıdır</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="has_groups">Qruplar mövcuddur*</label>
                        <div class="col-lg-10">
                            <input id="has_groups" type="checkbox" formControlName="has_groups" [ngModel]="stage?.has_groups" #has_groups name="has_groups">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="has_groups.checked">
                        <label class="control-label col-lg-2">Qruplar*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="groups" [items]="groups" [ngModel]="stageGroups" [multiple]="true" bindLabel="name" bindValue="id" placeholder="Seç" (remove)="onDeleting($event)"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['groups'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p style="margin: 10px 0 0 0;">*Əgər qrup silinmirsə - o zamana ona aid sezon var</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Prioritet*</label>
                        <div class="col-lg-10">
                            <input type="number" formControlName="priority" [ngModel]="stage?.priority" name="priority" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls.priority.errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [attr.disabled]="mainGroup.pristine ? true : null" (click)="onSubmit();">Redaktə et <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>