<div id="content" class="container">

    <div id="additional-news-section" class="row">
        <div id="additional-news-section-col" class="col-xl-8 col-md-12">
            <div class="section">
                <div class="section-header flex-row-center-between">
                    <h2>"{{searchWord}}" <span style="text-transform: lowercase">{{'allNews' | translate}}</span></h2>
                    <a [routerLink]="'/' + langLocal + '/news'" class="section-header__link">{{'allNews' | translate}}</a>
                </div>
                <div class="section-body">
                    <ul id="additional-news-block" *ngIf="news?.data?.length > 0" class="list-unstyled clearfix">
                        <li *ngFor="let newsItem of news?.data | paginate: { id: 'search-news-pagination', itemsPerPage: news?.per_page, currentPage: news?.current_page, totalItems: news?.total }">
                            <a [routerLink]="'/' + langLocal + '/news-item/' + newsItem.slug" class="row">
                                <div class="additional-news-photo-block col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                    <img [src]="'/assets/site/assets/images/' + newsItem.image" class="additional-news-photo" />
                                </div>
                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 additional-news-info-block additional-news-info-block">
                                    <span class="additional-news-info-date--mobile">{{newsItem.creating_date}}</span>
                                    <h2 class="additional-news-info-title">{{newsItem.title}}</h2>
                                    <div class="additional-news-info-tags-and-date">
                                        <!--<app-tags></app-tags>-->
                                        <span class="additional-news-info-date">{{newsItem.creating_date}}</span>
                                        <span class="additional-news-info-visited">{{newsItem.views_count}}</span>
                                    </div>
                                    <span class="additional-news-info-description">{{newsItem.short_text}}</span>
                                </div>
                            </a>
                        </li>
                    </ul>

                    <span class="data-is-absent" *ngIf="news?.data?.length == 0">{{'dataIsAbsent' | translate}}</span>

                    <pagination-controls
                            *ngIf="news != null && news?.data?.length > 0"
                            id="search-news-pagination"
                            (pageChange)="pageChanged($event)"
                            (pageBoundsCorrection)="pageChanged($event)"
                            maxSize="5"
                            directionLinks="true"
                            autoHide="true"
                            responsive="true"
                            previousLabel=""
                            nextLabel=""
                    ></pagination-controls>

                </div>
            </div>
        </div>
        <div class="col-lg-4 hidden-md hidden-sm hidden-xs">
            <!-- <img src="/assets/site/assets/images/banner.png" style="display: block; margin: auto"/> -->
        </div>

    </div>

</div>