<li class="share-social__item">Share:</li>
<li class="share-social__item">
    <a href="javascript:void(0)" class="share-social__link" (click)="shareLinkClick($event, 'facebook')">
        <img src="/assets/site/assets/images/facebook_news_item.svg" class="share-social__img" />
    </a>
</li>
<li class="share-social__item">
    <a href="javascript:void(0)" class="share-social__link" (click)="shareLinkClick($event, 'vk')">
        <img src="/assets/site/assets/images/vk_news_item.svg" class="share-social__img" />
    </a>
</li>
<li class="share-social__item">
    <a href="javascript:void(0)" class="share-social__link" (click)="shareLinkClick($event, 'twitter')">
        <img src="/assets/site/assets/images/twitter_news_item.svg" class="share-social__img" />
    </a>
</li>