<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Səhifənin redaktə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">

            <div class="form-group">
                <label class="control-label col-lg-2">Dil</label>
                <div class="col-lg-10">
                    <p>{{pageItem?.locale}}</p>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-lg-2">Tekst*</label>
                <div class="col-lg-10">
                    <ckeditor [editor]="Editor" formControlName="text" [ngModel]="pageItem?.text">
                        <div>
                            <iframe src="https://www.youtube.com/embed/${ videoId }"
                                    frameborder="0" allow="autoplay; encrypted-media" allowfullscreen>
                            </iframe>
                        </div>
                    </ckeditor>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['text'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [attr.disabled]="mainGroup.pristine ? true : null" (click)="onSubmit();">Redaktə et <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>