<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Turnirin redaktə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li *ngFor="let language of languages; let i = index" [ngClass]="{'active': i == 0}">
                        <a [href]="'#tab_' + language.id" data-toggle="tab">
                            <img [src]="'assets/admin/assets/images/flags/' + language.image_admin">
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div *ngFor="let language of languages; let i = index" class="tab-pane" [ngClass]="{'active': i == 0}" [id]="'tab_' + language.id">
                        <div class="form-group">
                            <label class="control-label col-lg-2">Ad*</label>
                            <div class="col-lg-10">
                                <input type="text" [formControlName]="'name[' + language.locale + ']'" [name]="'name[' + language.locale + ']'" [ngModel]="tournament?.translations[language.locale][0].name" maxLength="200" class="form-control">
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Ad 200 simvoldan az olmalıdır</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2">Psevdonim</label>
                        <div class="col-lg-10">
                            <input class="form-control" formControlName="slug" name="slug" [ngModel]="tournament?.slug" placeholder="Nümunə: chempionlar-liqasi">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.pattern" class="text-danger" style="margin: 10px 0 0 0;">Psevdonim ancaq reqemlərdən, ingilis hərflərindən və xəttdən(-) ibarət ola bilər</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Psevdonim 100 simvoldan az olmalıdır</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2">Turnir kateqoriyası*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="tournaments_category_id" [items]="tournamentsCategories" [ngModel]="tournament?.tournaments_category_id" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['tournaments_category_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Ölkə*</label>
                        <div class="col-lg-10">
                            <ng-select formControlName="country_id" [items]="countries" [ngModel]="tournament?.country_id" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['country_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2" for="is_news_category">Xəbər kateqoriyasıdır</label>
                        <div class="col-lg-10">
                            <input id="is_news_category" type="checkbox" formControlName="is_news_category" [ngModel]="tournament?.is_news_category" name="is_news_category">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="is_videos_category">Video kateqoriyasıdır</label>
                        <div class="col-lg-10">
                            <input id="is_videos_category" type="checkbox" formControlName="is_videos_category" [ngModel]="tournament?.is_videos_category" name="is_videos_category">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="is_league">Liqadır</label>
                        <div class="col-lg-10">
                            <input id="is_league" type="checkbox" formControlName="is_league" [ngModel]="tournament?.is_league" #is_league name="is_league">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="is_league.checked">
                        <label class="control-label col-lg-2" for="priority_for_country">Ölkə üçün prioritetdir</label>
                        <div class="col-lg-10">
                            <input id="priority_for_country" type="checkbox" formControlName="priority_for_country" [ngModel]="tournament?.priority_for_country" name="priority_for_country">
                        </div>
                    </div>
                    <div class="form-group" *ngIf="is_league.checked">
                        <label class="control-label col-lg-2">Uduş halı*</label>
                        <div class="col-lg-10">
                            <input type="number" formControlName="league_victory_points" name="league_victory_points" [ngModel]="tournament?.league_victory_points" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['league_victory_points'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>
                    <div class="form-group" *ngIf="is_league.checked">
                        <label class="control-label col-lg-2">Heç-hecə halı*</label>
                        <div class="col-lg-10">
                            <input type="number" formControlName="league_draw_points" name="league_draw_points" [ngModel]="tournament?.league_draw_points" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['league_draw_points'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-lg-2">Loqo min*</label>
                        <div class="col-lg-10">
                            <input type="file" data-form-control-name="logo_mini" appFileType (change)="onFileChange($event)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo_mini'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo_mini'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo_mini'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                        </div>
                    </div>

                    <img [src]="'/assets/site/assets/images/' + tournament?.logo_mini" style="margin-bottom: 10px;" />

                    <div class="form-group">
                        <label class="control-label col-lg-2">Loqo max*</label>
                        <div class="col-lg-10">
                            <input type="file" data-form-control-name="logo_big" appFileType (change)="onFileChange($event)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo_big'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo_big'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['logo_big'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                        </div>
                    </div>

                    <img [src]="'/assets/site/assets/images/' + tournament?.logo_big" style="margin-bottom: 10px;" />
                </div>
            </div>

            <button type="submit" class="btn btn-primary" [attr.disabled]="mainGroup.pristine ? true : null" (click)="onSubmit();">Redaktə et <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>