<app-header *ngIf="loggedIn === 1"></app-header>

<router-outlet *ngIf="loggedIn === 1"></router-outlet>

<!--<app-footer *ngIf="loggedIn === 1"></app-footer>-->

<app-login *ngIf="loggedIn === 0"></app-login>


<app-loader></app-loader>