<div id="nav-section">
    <ul id="menu-countries" class="list-unstyled" *ngIf="forHeadCountries != null">
        <li *ngFor="let country of forHeadCountries">
          <a [routerLink]="'/' + langLocal + '/tournament/' + country.tournament_slug">{{country.country_name}}</a>
        </li>
    </ul>
    <app-head-countries-ghost class="list-unstyled menu-countries-ghost" *ngIf="forHeadCountries == null"></app-head-countries-ghost>
  </div>
  <div class="mobile-nav-section">
      <div id="mobile-nav-block" class="mobile-nav-block">
          <ul class="mob-langs-list">
              <li class="mob-langs-list__item" [ngClass]="{'disabled': langLocal == 'az'}">
                  <a [routerLink]="'/'" class="mob-langs-list__link">AZ</a>
              </li>
              <li class="mob-langs-list__item" [ngClass]="{'disabled': langLocal == 'ru'}">
                  <a [routerLink]="'/ru'" class="mob-langs-list__link">RU</a>
              </li>
          </ul>
          <input class="search-input search-input--mobile-nav mb-20" [(ngModel)]="localSearchWord" (keyup.enter)="searchMethod()"
                 minLength="3" maxLength="15" [placeholder]="'searchKeyword' | translate" />
          <h6 class="mobile-nav-title">{{'mainMenuText' | translate}}</h6>
          <ul class="mobile-nav__list mb-20">
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/news'">{{'news' | translate}}</a>
              </li>
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/news/category/Topaz'">{{'topForecast' | translate}}</a>
              </li>
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/tournament/premyer-liqa'">{{'premiereLeagueText' | translate}}</a>
              </li>
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/news/category/millimiz'">{{'nationalText' | translate}}</a>
              </li>
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/tournaments'">{{'tournaments' | translate}}</a>
              </li>
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/videos'">{{'video' | translate}}</a>
              </li>
              <!--<li class="mobile-nav__list__item">-->
                  <!--<a class="mobile-nav__list__item__link" href="#">{{'blog' | translate}}</a>-->
              <!--</li>-->
              <li class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/review'">{{'review' | translate}}</a>
              </li>
          </ul>

          <h6 class="mobile-nav-title">{{'countries' | translate}}</h6>
          <ul class="mobile-nav__list">
              <li *ngFor="let country of forHeadCountries" class="mobile-nav__list__item">
                  <a class="mobile-nav__list__item__link" [routerLink]="'/' + langLocal + '/tournament/' + country.tournament_slug">{{country.country_name}}</a>
              </li>
          </ul>
          <div class="mobile-nav__footer">
              <ul class="mobile-nav__footer__social-list clearfix">
                  <li class="mobile-nav__footer__social-list__item">
                      <a class="mobile-nav__footer__social-list__item__link" href="javascript:void(0)">
                          <img src="/assets/site/assets/images/facebook_40.png" class="mobile-nav__footer__social-list__item__link__image" />
                      </a>
                  </li>
                  <li class="mobile-nav__footer__social-list__item">
                      <a class="mobile-nav__footer__social-list__item__link" href="javascript:void(0)">
                          <img src="/assets/site/assets/images/twitter_40.png" class="mobile-nav__footer__social-list__item__link__image" />
                      </a>
                  </li>
                  <li class="mobile-nav__footer__social-list__item">
                      <a class="mobile-nav__footer__social-list__item__link" href="javascript:void(0)">
                          <img src="/assets/site/assets/images/youtube_40.png" class="mobile-nav__footer__social-list__item__link__image" />
                      </a>
                  </li>
                  <li class="mobile-nav__footer__social-list__item">
                      <a class="mobile-nav__footer__social-list__item__link" href="javascript:void(0)">
                          <img src="/assets/site/assets/images/linkedin_40.png" class="mobile-nav__footer__social-list__item__link__image" />
                      </a>
                  </li>
              </ul>
              <span class="mobile-nav__footer__text">{{'allRightsReserved' | translate}}</span>
          </div>
      </div>
  </div>