<div id="content" class="container">
    <h1 class="page-title mb-40">{{'advertising' | translate}}</h1>

    <div class="page-body" [innerHTML]="bypassSecurityTrustHtml(advertising?.text)">

    </div>
</div>