.video-modal-block {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 10;
}
.video-modal-block .video-modal .video-modal__close {
  display: block;
  width: 12px;
  height: 12px;
  margin-left: auto;
  margin-bottom: 10px;
  background-image: url(../images/close.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.video-modal-block .video-modal video {
  width: 100%;
  max-width: 500px;
}

/*# sourceMappingURL=styles.css.map */
