<div class="navbar navbar-inverse bg-indigo">

    <div class="navbar-collapse collapse" id="navbar-mobile">

        <ul class="nav navbar-nav navbar-right" style="display: flex; align-items: center;">

            <li class="dropdown dropdown-user">
                <!-- <button type="button" class="btn btn-success legitRipple" [ngClass]="{'btn-danger': connectingStatus == 0, 'btn-success': connectingStatus == 1, 'btn-warning': connectingStatus == 2}" (click)="connectingStatusChange();">{{connectingStatusText}}</button> -->
            </li>

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle legitRipple" data-toggle="dropdown">
                    <img src="assets/images/placeholder.jpg" alt="">
                    <span>{{username}}</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#" (click)="signOut()"><i class="icon-switch2"></i>Çıxış</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>


<div class="navbar navbar-default" id="navbar-second">
    <ul class="nav navbar-nav no-border visible-xs-block">
        <li><a class="text-center collapsed legitRipple" data-toggle="collapse" data-target="#navbar-second-toggle"><i class="icon-menu7"></i></a></li>
    </ul>

    <div class="navbar-collapse collapse" id="navbar-second-toggle">
        <ul class="nav navbar-nav navbar-nav-material">
            <li><a routerLink="/" class="legitRipple"><i class="icon-display4 position-left"></i>Əsas</a></li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy position-left"></i> Xəbər <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li><a [routerLink]="'/news/list'"><i class="icon-align-center-horizontal"></i>Xəbərlər</a></li>
                    <li><a [routerLink]="'/categories/list'"><i class="icon-align-center-horizontal"></i>Kateqoriyalar</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy position-left"></i> Oyun <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li><a [routerLink]="'/matches/list'"><i class="icon-align-center-horizontal"></i>Oyunlar</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy position-left"></i> Turnir <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li><a [routerLink]="'/seasons/list'"><i class="icon-align-center-horizontal"></i> Sezonlar</a></li>
                    <li><a [routerLink]="'/tournaments/list'"><i class="icon-align-center-horizontal"></i> Turnirlər</a></li>
                    <li><a [routerLink]="'/tournaments-categories/list'"><i class="icon-align-center-horizontal"></i> Turnir kateqoriyalar</a></li>
                    <li><a [routerLink]="'/stages/list'"><i class="icon-align-center-horizontal"></i> Mərhələlər</a></li>
                    <li><a [routerLink]="'/elements/list'"><i class="icon-align-center-horizontal"></i> Turlar</a></li>
                    <li><a [routerLink]="'/groups/list'"><i class="icon-align-center-horizontal"></i> Qruplar</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy position-left"></i> Komanda <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li><a [routerLink]="'/teams/list'"><i class="icon-align-center-horizontal"></i> Komandalar</a></li>
                    <li><a [routerLink]="'/players/list'"><i class="icon-align-center-horizontal"></i> Oyunçular</a></li>
                    <li><a [routerLink]="'/stadiums/list'"><i class="icon-align-center-horizontal"></i> Stadionlar</a></li>
                    <li><a [routerLink]="'/coaches/list'"><i class="icon-align-center-horizontal"></i> Məşqçilər</a></li>
                    <li><a [routerLink]="'/positions/list'"><i class="icon-align-center-horizontal"></i> Pozisiyalar</a></li>
                </ul>
            </li>

            <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    <i class="icon-strategy position-left"></i> Digər <span class="caret"></span>
                </a>

                <ul class="dropdown-menu width-200">
                    <li><a [routerLink]="'/countries/list'"><i class="icon-align-center-horizontal"></i>Ölkələr</a></li>
                    <li><a [routerLink]="'/cities/list'"><i class="icon-align-center-horizontal"></i>Şəhərlər</a></li>
                    <li><a [routerLink]="'/pages/list'"><i class="icon-align-center-horizontal"></i>Əlavə səhifələr</a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>