<div class="main-news-slider">
    <div class="main-news-slider__item">
        <a href="javascript:void(0)" class="main-news-slider__link">
            <div class="main-news-slider__img-box">
                <img src="/assets/site/assets/images/default_image.jpg" class="main-news-slider__img" />
            </div>
            <h5 class="main-news-slider__title">---------</h5>
        </a>
    </div>
</div>