<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Basic table -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Ümumi siyahı</h5>
                    <div class="heading-elements not-collapsible">
                        <a routerLink="/player/add" class="btn btn-success">Əlavə et</a>
                    </div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" [formGroup]="filterGroup" action="#">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group" [ngClass]="{'has-error': filterIsSentFirstTime && filterGroup.controls.name.errors}">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ad</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="name" name="name">
                                        <span class="error" *ngIf="filterIsSentFirstTime && filterGroup.controls.name.errors?.minlength">Xana 3 simvoldan artıq olmalıdır</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ölkə</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="country_id" [items]="countries" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Pozisiya</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="position_id" [items]="positions" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Komanda</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="team_id" [items]="teams" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" (click)="filter();" class="btn btn-primary legitRipple">Filterlə <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table" *ngIf="players != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Şəkil</th>
                            <th>Ad</th>
                            <th>Ölkə</th>
                            <th>Pozisiya</th>
                            <th>Komanda(lar)</th>
                            <th>Doğum günü</th>
                            <th>Boy</th>
                            <th>Çəki</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let player of players?.data | paginate: { id: 'players-pagination', itemsPerPage: players?.per_page, currentPage: players?.current_page, totalItems: players?.total }">
                            <td>{{player.id}}</td>
                            <td>
                                <img [src]="'/assets/site/assets/images/' + (player.photo ? player.photo : 'user.png')" style="height: 35px;" />
                            </td>
                            <td>{{player.name}}</td>
                            <td>{{player.country_name}}</td>
                            <td>{{player.position_name}}</td>
                            <td>{{player.teams_names ? player.teams_names : 'Yoxdur'}}</td>
                            <td>{{player.date_of_birthday}}</td>
                            <td>{{player.height ? player.height : '-'}}</td>
                            <td>{{player.weight ? player.weight : '-'}}</td>

                            <td>
                                <a [routerLink]="'/player/edit/' + player.id" style="margin-right: 10px;"><i class="icon-pencil4"></i></a>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal" (click)="selectId(player.id);"><i class="icon-close2"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-body" style="text-align: center;">

                        <span class="data-is-absent" *ngIf="players != null && players?.data.length == 0">Məlumat yoxdur</span>

                        <pagination-controls
                                *ngIf="players != null"
                                id="players-pagination"
                                (pageChange)="pageChanged($event)"
                                (pageBoundsCorrection)="pageChanged($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Əvvəlki"
                                nextLabel="Növbəti"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page"
                        ></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /basic table -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Danger modal -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Silinmə</h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">Siz həqiqətəndə silmək istəyirsiniz?</h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" #modalCloseButton data-dismiss="modal">Bağla</button>
                <a type="button" class="btn btn-danger" (click)="delete()">Sil</a>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->