<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Oyunun əlavə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">
            <div class="form-group">
                <label class="control-label col-lg-2">Ölkə (Stadion)*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="country_id" [items]="countries" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onCountryChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['country_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Stadion*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="stadium_id" [items]="stadiums" bindLabel="name" bindValue="id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['stadium_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="friendly_match">Yoldaşlıq oyunudur mu?</label>
                <div class="col-lg-10">
                    <input id="friendly_match" type="checkbox" formControlName="friendly_match" #friendly_match name="friendly_match" (change)="onFriendlyMatchChange()">
                </div>
            </div>

            <div class="form-group" *ngIf="!friendly_match.checked">
                <label class="control-label col-lg-2">Turnir*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="tournament_id" [items]="tournaments" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTournamentChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['tournament_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group" *ngIf="!friendly_match.checked">
                <label class="control-label col-lg-2">Sezon*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="season_id" [items]="seasons" bindLabel="label" bindValue="id" placeholder="Seç" (change)="onSeasonChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['season_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group" *ngIf="!friendly_match.checked">
                <label class="control-label col-lg-2">Mərhələ*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="stage" [items]="stages" bindLabel="name" placeholder="Seç" (change)="onStageChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['stage'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group" *ngIf="!friendly_match.checked">
                <label class="control-label col-lg-2">Tur*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="element_id" [items]="elements" bindLabel="name" bindValue="id" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['element_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group" *ngIf="!friendly_match.checked && mainGroup['controls']['stage'].value?.has_groups == 1">
                <label class="control-label col-lg-2">Qrup*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="group_id" [items]="groups" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onGroupChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['group_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Başlanğıç tarixi*</label>
                <div class="col-lg-10">
                    <input type="text" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="start_date" name="start_date">
                    <owl-date-time #dt1></owl-date-time>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['start_date'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Komanda(Ev)*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="home_team_id" [items]="forSelectTeams" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTeamsChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['home_team_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Komanda(Qonaq)*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="guest_team_id" [items]="forSelectTeams" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTeamsChange()"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['guest_team_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Qol(Ev)*</label>
                <div class="col-lg-10">
                    <input type="number" formControlName="home_team_goals_count" name="home_team_goals_count" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['home_team_goals_count'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['home_team_goals_count'].errors?.min" class="text-danger" style="margin: 10px 0 0 0;">Minimum 0 ola bilər</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['home_team_goals_count'].errors?.max" class="text-danger" style="margin: 10px 0 0 0;">Maksimum 200 ola bilər</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Qol(Qonaq)*</label>
                <div class="col-lg-10">
                    <input type="number" formControlName="guest_team_goals_count" name="guest_team_goals_count" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['guest_team_goals_count'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['guest_team_goals_count'].errors?.min" class="text-danger" style="margin: 10px 0 0 0;">Minimum 0 ola bilər</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['guest_team_goals_count'].errors?.max" class="text-danger" style="margin: 10px 0 0 0;">Maksimum 200 ola bilər</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Status*</label>
                <div class="col-lg-10">
                    <ng-select formControlName="status" [items]="statusStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                               [notFoundText]="'Uyğun məlumat tapılmadı'">
                    </ng-select>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2" for="is_active">Aktivdirmi?</label>
                <div class="col-lg-10">
                    <input id="is_active" type="checkbox" formControlName="is_active" name="is_active">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-lg-2">Preview Şəkili</label>
                <div class="col-lg-10">
                    <input type="file" data-form-control-name="preview_image" appFileType (change)="onFileChange($event)" class="form-control">
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['preview_image'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['preview_image'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                    <p *ngIf="tryingAtOnceToSend && mainGroup.controls['preview_image'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                </div>
            </div>

            <h6 class="panel-title">Qolların əlavə edilməsi</h6>

            <table class="table" *ngIf="videos && videos.value.length > 0" formArrayName="videos">
                <thead>
                    <tr>
                        <th>Fayl*</th>
                        <th>Kateqoriyalar*</th>
                        <th>Preview Şəkili*</th>
                        <th>Komanda*</th>
                        <th>Oyunçu*</th>
                        <th>Dəqiqə*</th>
                        <th>Top qoldurmu?</th>

                        <th>Əməliyyatlar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let video of mainGroup.controls['videos']['controls']; let i = index" [formGroupName]="i">
                        <td>
                            <input type="file" data-form-control-name="file" (change)="onVideoFileChange($event, i)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['file'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['file'].errors?.isNotNeededFileType" class="text-danger" style="margin: 10px 0 0 0;">Video daxil edin(mp4, webm)</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['file'].errors?.isNotNeededFileSize" class="text-danger" style="margin: 10px 0 0 0;">Video 20MB-dan çoxdur</p>
                        </td>
                        <td>
                            <ng-select formControlName="categories" [items]="categories" bindLabel="name" bindValue="id" [multiple]="true" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'" style="width: 180px;">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['categories'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </td>
                        <td>
                            <input type="file" data-form-control-name="preview_image" appFileType (change)="onVideoFileChange($event, i)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['preview_image'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['preview_image'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['preview_image'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                        </td>
                        <td>
                            <ng-select formControlName="team_id" [items]="forVideosTeams" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'" style="width: 180px;">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['team_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </td>
                        <td>
                            <ng-select formControlName="player_id" [items]="players" bindLabel="name" bindValue="id" placeholder="Seç"
                                       [notFoundText]="'Uyğun məlumat tapılmadı'" style="width: 140px;">
                            </ng-select>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['player_id'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                        </td>
                        <td>
                            <input type="number" formControlName="minute" name="minute" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['minute'].errors?.required" class="text-danger" style="max-width: 80px; margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['minute'].errors?.min" class="text-danger" style="max-width: 80px; margin: 10px 0 0 0;">Minimum 0 ola bilər</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['videos']['controls'][i]['controls']['minute'].errors?.max" class="text-danger" style="max-width: 80px; margin: 10px 0 0 0;">Maksimum 200 ola bilər</p>
                        </td>
                        <td>
                            <input type="checkbox" formControlName="is_top_goal" name="is_top_goal">
                        </td>

                        <td>
                            <a (click)="deleteFromTable($event, i);" data-form-control-name="videos" class="btn btn-danger"><i class="icon-subtract"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p *ngIf="videos && videos.value.length == 0" style="text-align: center; margin-bottom: 10px;">Qol videoları əlavə edilməyib</p>

            <a (click)="addToTable($event);" data-form-control-name="videos" class="btn btn-success" style="display: block; margin-bottom: 10px;">Qol videosunu əlavə et<i class="icon-add position-right"></i></a>

            <button type="submit" class="btn btn-primary" (click)="onSubmit();">Yarat <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>