<div id="content" class="container">

    <div class="section">
        <div class="section-header">
            <div class="team-header">
                <img [src]="'/assets/site/assets/images/' + (team != null ? team?.logo : 'default_team.png')" class="team__logo" />
                <div class="team__main-info">
                    <h1 class="team__name">{{team != null ? team?.team_name : '-'}}</h1>
                    <!--<span class="team__original-name">FC Bayern Munchen</span>-->
                </div>
                <div class="tean__add-info" *ngIf="team != null && team?.country_name">
                    <span class="team-add__name">{{'country' | translate}}</span>
                    <span class="team-add__value">{{team?.country_name}}</span>
                </div>
                <div class="tean__add-info" *ngIf="team != null && team?.stadium_name">
                    <span class="team-add__name">{{'stadium' | translate}}</span>
                    <span class="team-add__value">{{team?.stadium_name}}</span>
                </div>
                <div class="tean__add-info" *ngIf="team != null && team?.coach_name">
                    <span class="team-add__name">{{'coach' | translate}}</span>
                    <span class="team-add__value">{{team?.coach_name}}</span>
                </div>
            </div>
        </div>
        <div class="section-body-team">

            <div class="slider-wrapper flex-row-center-start border-bottom-2-grey">
                <div class="slider-button-block slider-button-block_prev">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlTeam.prev()"></a>
                </div>

                <owl-carousel-o [options]="optionsTeam" class="list-unstyled ligas-list nav-tabs" #owlTeam>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item active">
                            <a id="news-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#news" (click)="newsClick()">
                                <span class="liga-title">{{'news' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item">
                            <a id="results-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#results" (click)="matchesClick()">
                                <span class="liga-title">{{'results' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item">
                            <a id="members-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#members" (click)="playersClick()">
                                <span class="liga-title">{{'structure' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                    <ng-template carouselSlide>
                        <li class="nav-tabs__item">
                            <a id="videos-tab" class="nav-tabs__link" href="javascript:void(0)" data-tab="#videos" (click)="videosClick()">
                                <span class="liga-title">{{'video' | translate}}</span>
                            </a>
                        </li>
                    </ng-template>

                </owl-carousel-o>

                <div class="slider-button-block slider-button-block_next">
                    <a href="javascript:void(0)" class="slider-button" (click)="owlTeam.next()"></a>
                </div>
            </div>
            
            <div class="tab-content" id="ligas-tab">
                <div class="tab-pane" id="news" role="tabpanel" aria-labelledby="news-tab">
                    <div class="team-news-tab-pane-inner row pt-25">
                        <div class="col-xl-8 col-md-12">

                            <div class="section" *ngIf="news?.data?.length > 0">
                                <div class="section-body">
                                    <ul id="additional-news-block" *ngIf="news != null" class="list-unstyled clearfix">
                                        <li *ngFor="let allNewsItem of news?.data | paginate: { id: 'latest-news-pagination', itemsPerPage: news?.per_page, currentPage: news?.current_page, totalItems: news?.total }">
                                            <a [routerLink]="'/' + langLocal + '/news-item/' + allNewsItem.slug" class="row">
                                                <div class="additional-news-photo-block col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                                    <img [src]="'/assets/site/assets/images/' + allNewsItem.image" class="additional-news-photo" />
                                                </div>
                                                <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 additional-news-info-block additional-news-info-block">
                                                    <span class="additional-news-info-date--mobile">{{allNewsItem.creating_date}}</span>
                                                    <h2 class="additional-news-info-title">{{allNewsItem.title}}</h2>
                                                    <div class="additional-news-info-tags-and-date">
                                                        <!--<app-tags></app-tags>-->
                                                        <span class="additional-news-info-date">{{allNewsItem.creating_date}}</span>
                                                        <span class="additional-news-info-visited">{{allNewsItem.views_count}}</span>
                                                    </div>
                                                    <span class="additional-news-info-description">{{allNewsItem.short_text}}</span>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="section-footer">
                                    <pagination-controls
                                            id="latest-news-pagination"
                                            (pageChange)="pageChanged($event)"
                                            (pageBoundsCorrection)="pageChanged($event)"
                                            maxSize="5"
                                            directionLinks="true"
                                            autoHide="true"
                                            responsive="true"
                                            previousLabel=""
                                            nextLabel=""
                                    ></pagination-controls>
                                </div>
                            </div>

                            <span class="data-is-absent" *ngIf="news?.data?.length == 0">{{'newsItemNotFound' | translate}}</span>

                            <app-basic-ghost *ngIf="news == null"></app-basic-ghost>

                        </div>
                        <div class="col-xl-4 hidden-md hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <div class="tab-pane" id="results" role="tabpanel" aria-labelledby="results-tab">

                    <div class="team-news-tab-pane-inner row pt-25">
                        <div class="col-xl-8 col-md-12">
                            <div class="ligas-table-main">

                                <table class="table-styled" *ngIf="matches != null">
                                    <tbody>
                                        <tr *ngFor="let match of matches?.data | paginate: { id: 'latest-matches-pagination', itemsPerPage: matches?.per_page, currentPage: matches?.current_page, totalItems: matches?.total }">
                                            <td class="td-match-time"><span class="match-time">{{match.start_time | matchDate}}</span></td>
                                            <td class="td-match-versus"><a class="td-match-versus__home" [ngClass]="{'defeated': match.home_team_goals_count < match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.home_team_slug" target="_blank">{{match.home_team_name}}</a>{{match.status != 0 && innerWidth <= 768 ? (' ' + match.home_team_goals_count + ' - ' + match.guest_team_goals_count + ' ') : ' - '}}<a class="td-match-versus__guest" [ngClass]="{'defeated': match.home_team_goals_count > match.guest_team_goals_count}" [routerLink]="'/' + langLocal + '/team/' + match.guest_team_slug">{{match.guest_team_name}}</a></td>
                                            <td class="td-match-score">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                            <td class="td-match-present-status">{{'matchStatuses.' + match.status | translate}}</td> <!--<a href="javascript:void(0)" class="match-was-ended-play"><img src="/assets/site/assets/images/play.png" /></a> -->
                                        </tr>
                                    </tbody>
                                </table>

                                <pagination-controls
                                        *ngIf="matches != null"
                                        id="latest-matches-pagination"
                                        (pageChange)="matchesPageChanged($event)"
                                        (pageBoundsCorrection)="matchesPageChanged($event)"
                                        maxSize="5"
                                        directionLinks="true"
                                        autoHide="true"
                                        responsive="true"
                                        previousLabel=""
                                        nextLabel=""
                                        style="display: block; margin-top: 40px;"
                                ></pagination-controls>

                                <app-basic-ghost *ngIf="matches == null"></app-basic-ghost>
                            </div>
                        </div>
                        <div class="col-xl-4 hidden-md hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <div class="tab-pane" id="members" role="tabpanel" aria-labelledby="members-tab">
                    <div class="row">
                        <div class="col-12">
                            <div class="ligas-table-main ligas-tour-table-main team-members-table-main">
                                <table cellpadding="0" class="table-styled" *ngIf="players?.length > 0">
                                    <thead>
                                        <tr>
                                            <th class="text-left bg-f6">No</th>
                                            <th class="text-left bg-f6">{{'player' | translate}}</th>
                                            <th class="text-left bg-f6 team-member-ampula-header">{{'amplua' | translate}}</th>
                                            <th class="text-left bg-f6 team-member-date-of-birthday-header">{{'dateOfBirthdayChars' | translate}}</th>
                                            <th class="text-left bg-f6 team-member-height-header">{{'height' | translate}}</th>
                                            <th class="text-left bg-f6 team-member-weight-header">{{'weight' | translate}}</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let player of players">
                                            <td>{{player.number ? player.number : '-'}}</td>
                                            <td>
                                                <div class="team-member-flag-photo-name">
                                                    <img [src]="'/assets/site/assets/images/' + (player.flag ? player.flag : 'default_flag.jpg')" [alt]="player.country_name" class="team-member-flag-photo-name__flag" />
                                                    <img [ngStyle]="{'background-image': 'url(' + '/assets/site/assets/images/' + (player.photo ? player.photo : 'user.png') + ')'}" class="team-member-flag-photo-name__photo" />
                                                    <span class="team-member-flag-photo-name__name">{{player.player_name}}</span>
                                                </div>
                                            </td>
                                            <td class="team-member-ampula">{{player.position_name}}</td>
                                            <td class="team-member-date-of-birthday">{{player.date_of_birthday | playerDate}}</td>
                                            <td class="team-member-height">{{player.height ? player.height : '-'}}</td>
                                            <td class="team-member-weight">{{player.weight ? player.weight : '-'}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <span class="data-is-absent" *ngIf="players?.length == 0">{{'playersNotFound' | translate}}</span>

                                <app-basic-ghost *ngIf="players == null"></app-basic-ghost>
                            </div>
                        </div>
                        <div class="col-xl-4 hidden-md hidden-sm hidden-xs"></div>
                    </div>
                </div>
                <div class="tab-pane" id="videos" role="tabpanel" aria-labelledby="videos-tab">
                    <div class="row">
                        <div class="col-xl-8 col-md-12">
                            <div class="table-game-video-block">
                                <span class="table-game-video__text mb-30" *ngIf="selectedVideoMatchIndex == null && withVideosMatches?.data?.length > 0">{{'selectGameAndWatchGoals' | translate}}</span>
                                <a href="javascript:void(0)" *ngIf="selectedVideoMatchIndex != null" (click)="videoMatchClick(null)" class="link link_blue link_icon link_icon_back mb-30 table-game-video-button" style="display: none;">{{'backToSelectGame' | translate}}</a>

                                <table class="table-game-video" *ngIf="withVideosMatches != null">
                                    <tbody>
                                        <tr (click)="videoMatchClick(i)" *ngFor="let match of withVideosMatches?.data | paginate: { id: 'latest-video-matches-pagination', itemsPerPage: withVideosMatches?.per_page, currentPage: withVideosMatches?.current_page, totalItems: withVideosMatches?.total }; let i = index">
                                            <td class="number-cell match-time">{{match.start_time | matchDate}}</td>
                                            <td>{{match.home_team_name}} – {{match.guest_team_name}}</td>
                                            <td class="number-cell">{{match.status != 0 ? match.home_team_goals_count + ' : ' + match.guest_team_goals_count : '-'}}</td>
                                            <td class="match-status">{{'matchStatuses.' + match.status | translate}}</td>
                                        </tr>
                                    </tbody>
                                </table>

                                <span class="data-is-absent" *ngIf="withVideosMatches?.data?.length == 0">{{'videoNotFound' | translate}}</span>

                                <app-basic-ghost *ngIf="withVideosMatches == null"></app-basic-ghost>

                                <pagination-controls
                                        *ngIf="selectedVideoMatchIndex == null && withVideosMatches != null"
                                        id="latest-video-matches-pagination"
                                        (pageChange)="videoMatchesPageChanged($event)"
                                        (pageBoundsCorrection)="videoMatchesPageChanged($event)"
                                        maxSize="5"
                                        directionLinks="true"
                                        autoHide="true"
                                        responsive="true"
                                        previousLabel=""
                                        nextLabel=""
                                        style="display: block; margin-top: 40px;"
                                ></pagination-controls>

                                <div id="main-goal-videos" *ngIf="selectedVideoMatchIndex != null && videos?.length > 0">
                                    <div class="main-goal-video" *ngFor="let video of videos">
                                        <div class="main-goal-video-block">
                                            <div class="video-preview-block">
                                                <a href="javascript:void(0)" (click)="showVideoModal(video.video_name)">
                                                    <img [src]="'/assets/site/assets/images/' + video.preview_image" class="video-preview-image" />
                                                    <img src="/assets/site/assets/images/play-video.png" class="video-preview-play" />
                                                </a>
                                            </div>
                                            <h3 class="video-title">{{video.home_team_name}} – {{video.guest_team_name}} ({{video.home_team_goals_count}}-{{video.guest_team_goals_count}})</h3>
                                            <ul class="list-unstyled video-some-info">
                                                <li>{{video.start_time}}</li>
                                                <li>{{video.player_name}}</li>
                                                <li>{{video.minute}}’</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <span class="data-is-absent" *ngIf="selectedVideoMatchIndex != null && videos?.length == 0">{{'dataIsAbsent' | translate}}</span>

                                <app-basic-ghost *ngIf="selectedVideoMatchIndex != null && videos == null"></app-basic-ghost>

                            </div>
                        </div>
                        <div class="col-xl-4 hidden-md hidden-sm hidden-xs"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<app-video-modal [videoSrc]="selectedVideoSrc"></app-video-modal>