<div id="content" class="container">

  <div class="row">
      <div class="col-12">
        <div class="section">
          <button class="filter-open-button mb-25">{{'categories' | translate}}</button>
          <ul class="categories-all mb-20" style="display: none">
            <li class="categories-all__item" *ngFor="let fullTypeSplit of fullTypes">
              <ul class="categories-columns">
                <li class="categories-columns__item" *ngFor="let fullType of fullTypeSplit">
                  <a [routerLink]="fullType.url" class="categories-columns__link">
                    <span class="categories-columns__category">{{fullType?.name}}</span>
                    <!-- <span class="categories-columns__added-count">+52</span> -->
                  </a>
                </li>
              </ul>
            </li>
          </ul>

          <app-basic-ghost *ngIf="fullTypes == null" style="display: block; margin-bottom: 20px;"></app-basic-ghost>
        </div>
      </div>
  </div>

  <div id="additional-news-section" class="row">
      <div class="col-xl-9 col-lg-12 col-md-12">
        <div class="section">
        <div class="section-header flex-row-center-between">
          <h2>{{'mainNews' | translate}}</h2>
        </div>
        <div class="section-body">
        <div class="row">
          <div class="col-md-7 col-12 p-0">
            <div class="main-news-slider-wrapper">
                <owl-carousel-o [options]="optionsMainNews" class="main-news-slider" #owlMainNews>

                  <ng-template carouselSlide *ngFor="let inHomeNewsItem of inHomeNews">

                      <div class="main-news-slider__item">
                          <a [routerLink]="'/' + langLocal + '/news-item/' + inHomeNewsItem.slug" class="main-news-slider__link">
                              <div class="main-news-slider__img-box">
                                <img [src]="'/assets/site/assets/images/' + inHomeNewsItem.image" class="main-news-slider__img" />
                              </div>
                              <h5 class="main-news-slider__title">{{inHomeNewsItem.title}}</h5>
                          </a>
                          <!--<app-tags></app-tags>-->
                      </div>

                  </ng-template>

                </owl-carousel-o>

                <app-news-slider-ghost *ngIf="inHomeNews == null"></app-news-slider-ghost>

                <div class="main-news-slider-button-block main-news-slider-button-block_prev" *ngIf="inHomeNews != null">
                    <a href="javascript:void(0)" class="main-news-slider-button" (click)="owlMainNews.prev()"></a>
                </div>
                <div class="main-news-slider-button-block main-news-slider-button-block_next" *ngIf="inHomeNews != null">
                    <a href="javascript:void(0)" class="main-news-slider-button" (click)="owlMainNews.next()"></a>
                </div>
            </div>
          </div>
          <div class="col-md-5 col-12 banner-col">
            <a href="https://smarthost.az/" target="_blank" class="banner-link">
              <img src="/assets/site/assets/images/smarthost240x400px-2.jpg" style="display: block; width: 100%; margin: auto;"/>
            </a>
          </div>
        </div>
        </div>
        </div>
        <div class="section">
          <div class="section-header">
            <h2>{{'lastNews' | translate}}</h2>
          </div>
          <div class="section-body">
            <ul id="additional-news-block" *ngIf="allNewsObject != null" class="list-unstyled clearfix">
              <li *ngFor="let allNewsItem of allNewsObject?.data | paginate: { id: 'latest-news-pagination', itemsPerPage: allNewsObject?.per_page, currentPage: allNewsObject?.current_page, totalItems: allNewsObject?.total }">
                  <a [routerLink]="'/' + langLocal + '/news-item/' + allNewsItem.slug" class="row">
                      <div class="additional-news-photo-block col-xl-4 col-lg-4 col-md-4 col-sm-12">
                          <img [src]="'/assets/site/assets/images/' + allNewsItem.image" class="additional-news-photo" />
                      </div>
                      <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 additional-news-info-block additional-news-info-block">
                          <span class="additional-news-info-date--mobile">{{allNewsItem.creating_date}}</span>
                          <h2 class="additional-news-info-title">{{allNewsItem.title}}</h2>
                          <div class="additional-news-info-tags-and-date">
                              <!--<app-tags></app-tags>-->
                              <span class="additional-news-info-date">{{allNewsItem.creating_date}}</span>
                              <span class="additional-news-info-visited">{{allNewsItem.views_count}}</span>
                          </div>
                          <span class="additional-news-info-description">{{allNewsItem.short_text}}</span>
                      </div>
                  </a>
              </li>
            </ul>

            <app-news-list-ghost [newsCount]="2" *ngIf="allNewsObject == null"></app-news-list-ghost>
          </div>
          <div class="section-footer">
            <pagination-controls
                *ngIf="allNewsObject != null"
                id="latest-news-pagination"
                (pageChange)="pageChanged($event)"
                (pageBoundsCorrection)="pageChanged($event)"
                maxSize="5"
                directionLinks="true"
                autoHide="true"
                responsive="true"
                previousLabel=""
                nextLabel=""
            ></pagination-controls>
          </div>
        </div>
        <div class="section" *ngFor="let byAllFeaturedCategoriesNewsItem of byAllFeaturedCategoriesNews">
          <div class="section-header flex-row-center-between">
              <h2>{{byAllFeaturedCategoriesNewsItem.category.name}}</h2>
              <div class="flex-row-center-start">
                <a [routerLink]="'/' + langLocal + '/news/category/' + byAllFeaturedCategoriesNewsItem.category.slug" class="section-header__link mr-20">{{'allNews' | translate}}</a>
                <a href="javascript:void(0)" class="arrow-link arrow-link_prev mr-20" (click)="owlCategories1.prev()"></a>
                <a href="javascript:void(0)" class="arrow-link arrow-link_next" (click)="owlCategories1.next()"></a>
              </div>
          </div>
          <div class="section-body">
            <owl-carousel-o [options]="optionsCategories" class="news-vertical" #owlCategories1>

                <ng-template carouselSlide *ngFor="let newsItem of byAllFeaturedCategoriesNewsItem.news">
                    <div class="news-vertical__item">
                        <a [routerLink]="'/' + langLocal + '/news-item/' + newsItem.slug" class="news-vertical__link">
                            <div class="news-vertical__img" [ngStyle]="{'background-image': 'url(\'/assets/site/assets/images/'+newsItem.image+'\')'}"></div>
                            <span class="news-vertical__date">{{newsItem.creating_date}}</span>
                            <h5 class="news-vertical__title">{{newsItem.title}}</h5>
                            <!--<app-tags></app-tags>-->
                        </a>
                    </div>
                </ng-template>

            </owl-carousel-o>
          </div>
        </div>
      </div>
      <div class="col-xl-3 col-lg-12 col-md-12">
          <h4 class="timeline_title">{{'newsFeed' | translate}}</h4>

          <ul class="timeline__list" *ngIf="lastRightSlideNews != null">
            <li class="timeline__item" *ngFor="let lastRightSlideNewsItem of lastRightSlideNews">
              <a [routerLink]="'/' + langLocal + '/news-item/' + lastRightSlideNewsItem.slug" class="timeline__link">
                  <span class="timeline__date">{{lastRightSlideNewsItem.creating_date}}</span>
                  <span class="timeline__news-item-title">{{lastRightSlideNewsItem.title}}</span>
              </a>
            </li>
          </ul>

          <app-right-sidebar-news-ghost [newsCount]="6" *ngIf="lastRightSlideNews == null"></app-right-sidebar-news-ghost>
      </div>
  </div>

</div>