<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Basic table -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Ümumi siyahı</h5>
                    <div class="heading-elements not-collapsible">
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table" *ngIf="pages != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dil</th>
                            <th>Psevdonim</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let pageItem of pages">
                            <td>{{pageItem.id}}</td>
                            <td>{{pageItem.locale | uppercase}}</td>
                            <td>{{pageItem.slug}}</td>

                            <td>
                                <a [routerLink]="'/page/edit/' + pageItem.id" style="margin-right: 10px;"><i class="icon-pencil4"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-body" style="text-align: center;">

                        <span class="data-is-absent" *ngIf="pages != null && pages?.length == 0">Məlumat yoxdur</span>
                    </div>
                </div>
            </div>
            <!-- /basic table -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->