<!-- Page container -->
<div class="page-container">

    <!-- Page content -->
    <div class="page-content">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Basic table -->
            <div class="panel panel-flat">
                <div class="panel-heading">
                    <h5 class="panel-title">Ümumi siyahı</h5>
                    <div class="heading-elements not-collapsible">
                        <a routerLink="/news-item/add" class="btn btn-success">Əlavə et</a>
                    </div>
                </div>

                <div class="panel-body">
                    <form class="form-horizontal" [formGroup]="filterGroup">
                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Başlıq</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" formControlName="title" name="title">
                                        <span class="error" *ngIf="filterIsSentFirstTime && filterGroup.controls.title.errors?.minlength">Xana 3 simvoldan artıq olmalıdır</span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Aktivdir</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_active" [items]="isActiveStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Kateqoriya</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="category_id" [items]="categories" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Turnir</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="tournament_id" [items]="tournaments" bindLabel="name" bindValue="id" placeholder="Seç" (change)="onTournamentChange()"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Sezon</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="season_id" [items]="seasons" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Ölkə</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="country_id" [items]="countries" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Slayderdədir</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_in_slider" [items]="isInSliderStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Sağ blokdadır</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="is_in_right" [items]="isInRightStatuses" bindLabel="label" bindValue="value" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Komanda</label>
                                    <div class="col-lg-6">
                                        <ng-select formControlName="team_id" [items]="teams" bindLabel="name" bindValue="id" placeholder="Seç"
                                                   [notFoundText]="'Uyğun məlumat tapılmadı'">
                                        </ng-select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Min. Yaradılış tarixi</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" formControlName="min_creating_date" name="min_creating_date">
                                        <owl-date-time #dt1></owl-date-time>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-4">
                                <div class="form-group">
                                    <label class="control-label col-lg-6" style="text-align: right;">Maks. Yaradılış tarixi</label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" formControlName="max_creating_date" name="max_creating_date">
                                        <owl-date-time #dt2></owl-date-time>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="text-right">
                            <button type="submit" (click)="filter();" class="btn btn-primary legitRipple">Filterlə <i class="icon-arrow-right14 position-right"></i></button>
                        </div>
                    </form>
                </div>

                <div class="table-responsive">
                    <table class="table" *ngIf="news != null">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Dil</th>
                            <th>Başlıq</th>
                            <th>Turnir</th>
                            <th>Sezon</th>
                            <th>Kateqoriyalar</th>
                            <th>Ölkələr</th>
                            <th>Komandalar</th>
                            <th>Yaranma tarixi</th>
                            <th>Baxış sayı</th>
                            <th>Slayderdədir</th>
                            <th>Sağ blokdadır</th>
                            <th>Aktivlik</th>

                            <th>Əməliyyatlar</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr *ngFor="let newsItem of news?.data | paginate: { id: 'news-pagination', itemsPerPage: news?.per_page, currentPage: news?.current_page, totalItems: news?.total }">
                            <td>{{newsItem.news_item_translation_id}}</td>
                            <td>{{newsItem.locale | uppercase}}</td>
                            <td style="min-width: 140px;">{{newsItem.title}}</td>
                            <td>{{newsItem.tournament_name ? newsItem.tournament_name : ''}}</td>
                            <td>{{newsItem.start_year ? (newsItem.start_year + (newsItem.end_year ? ' - ' + newsItem.end_year : '')) : ''}}</td>
                            <td>{{newsItem.categories_names ? newsItem.categories_names : ''}}</td>
                            <td>{{newsItem.countries_names ? newsItem.countries_names : ''}}</td>
                            <td>{{newsItem.teams_names ? newsItem.teams_names : ''}}</td>
                            <td>{{newsItem.creating_date}}</td>
                            <td>{{newsItem.views_count}}</td>
                            <td><i [ngClass]="newsItem.is_in_slider ? 'icon-checkmark3' : 'icon-cross2'"></i></td>
                            <td><i [ngClass]="newsItem.is_in_right ? 'icon-checkmark3' : 'icon-cross2'"></i></td>
                            <td>
                                <span class="label" [ngClass]="newsItem.is_active ? 'bg-success-400' : 'bg-danger-400'">{{newsItem.is_active ? 'Aktivdir' : 'Aktiv deyil'}}</span>
                            </td>

                            <td>
                                <a [routerLink]="'/news-item/edit/' + newsItem.news_item_translation_id" style="margin-right: 10px;"><i class="icon-pencil4"></i></a>
                                <a href="javascript:void(0)" data-toggle="modal" data-target="#deleteModal" (click)="selectId(newsItem.news_item_translation_id);"><i class="icon-close2"></i></a>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    <div class="panel-body" style="text-align: center;">

                        <span class="data-is-absent" *ngIf="news != null && news?.data.length == 0">Məlumat yoxdur</span>

                        <pagination-controls
                                *ngIf="news != null"
                                id="news-pagination"
                                (pageChange)="pageChanged($event)"
                                (pageBoundsCorrection)="pageChanged($event)"
                                maxSize="5"
                                directionLinks="true"
                                autoHide="true"
                                responsive="true"
                                previousLabel="Əvvəlki"
                                nextLabel="Növbəti"
                                screenReaderPaginationLabel="Pagination"
                                screenReaderPageLabel="page"
                                screenReaderCurrentLabel="You're on page"
                        ></pagination-controls>
                    </div>
                </div>
            </div>
            <!-- /basic table -->

        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->

</div>
<!-- /page container -->

<!-- Danger modal -->
<div id="deleteModal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header bg-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h6 class="modal-title">Silinmə</h6>
            </div>

            <div class="modal-body">
                <h6 class="text-semibold">Siz həqiqətəndə silmək istəyirsiniz?</h6>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-link" #modalCloseButton data-dismiss="modal">Bağla</button>
                <a type="button" class="btn btn-danger" (click)="delete()">Sil</a>
            </div>
        </div>
    </div>
</div>
<!-- /default modal -->