<div class="panel panel-flat">
    <div class="panel-heading">
        <h6 class="panel-title">Ölkənin əlavə edilməsi</h6>
    </div>

    <div class="panel-body">
        <form [formGroup]="mainGroup" class="form-horizontal" *ngIf="showForm">
            <div class="tabbable">
                <ul class="nav nav-tabs">
                    <li *ngFor="let language of languages; let i = index" [ngClass]="{'active': i == 0}">
                        <a [href]="'#tab_' + language.id" data-toggle="tab">
                            <img [src]="'assets/admin/assets/images/flags/' + language.image_admin">
                        </a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div *ngFor="let language of languages; let i = index" class="tab-pane" [ngClass]="{'active': i == 0}" [id]="'tab_' + language.id">
                        <div class="form-group">
                            <label class="control-label col-lg-2">Ad*</label>
                            <div class="col-lg-10">
                                <input type="text" [formControlName]="'name[' + language.locale + ']'" [name]="'name[' + language.locale + ']'" maxLength="200" class="form-control">
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                                <p *ngIf="tryingAtOnceToSend && mainGroup.controls['name[' + language.locale + ']'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Ad 200 simvoldan az olmalıdır</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Psevdonim</label>
                        <div class="col-lg-10">
                            <input class="form-control" formControlName="slug" name="slug" placeholder="Nümunə: birleshmish-kralliq">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.required" class="text-danger" style="margin: 10px 0 0 0;">Daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.pattern" class="text-danger" style="margin: 10px 0 0 0;">Psevdonim ancaq reqemlərdən, ingilis hərflərindən və xəttdən(-) ibarət ola bilər</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['slug'].errors?.maxlength" class="text-danger" style="margin: 10px 0 0 0;">Psevdonim 100 simvoldan az olmalıdır</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="in_head">Başlıqdadır</label>
                        <div class="col-lg-10">
                            <input id="in_head" type="checkbox" formControlName="in_head" name="in_head">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2" for="is_news_category">Xəbər kateqoriyasıdır</label>
                        <div class="col-lg-10">
                            <input id="is_news_category" type="checkbox" formControlName="is_news_category" name="is_news_category">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-lg-2">Bayraq</label>
                        <div class="col-lg-10">
                            <input type="file" data-form-control-name="flag" appFileType (change)="onFileChange($event)" class="form-control">
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['flag'].errors?.isNotImage" class="text-danger" style="margin: 10px 0 0 0;">Şəkil daxil edin</p>
                            <p *ngIf="tryingAtOnceToSend && mainGroup.controls['flag'].errors?.sizeIsBig" class="text-danger" style="margin: 10px 0 0 0;">Şəkil 5MB-dan çoxdur</p>
                        </div>
                    </div>
                </div>
            </div>

            <button type="submit" class="btn btn-primary" (click)="onSubmit();">Yarat <i class="icon-arrow-right14 position-right"></i></button>
        </form>
    </div>
</div>