@import "~@ng-select/ng-select/themes/default.theme.css"


.title-404
    display: block
    text-align: center
    padding: 10px
    font-size: 48px
    font-weight: 600
    color: #3973B0


.ng-select
    min-width: 180px
    border: 1px solid #e5e5e5
    &:hover
        box-shadow: 0px 5px 10px #DADAE5
    *
        cursor: pointer
    &.ng-select-single
        .ng-select-container
            height: 50px
            border: none
            .ng-value-container
                padding-left: 20px
                .ng-input
                    padding: 11px 40px 11px 20px
                    input
                        font-size: 14px

.ng-dropdown-panel
    border: none
    .ng-option
        text-align: left
        color: #686868
        text-transform: capitalize
        &.ng-option-marked
            background-color: #f6f6f6!important
        &.ng-option-selected
            background-color: #bebed0!important
    .ng-optgroup
        text-align: left

ngb-datepicker
    background-color: #FFF
    z-index: 999

.ngx-pagination
    text-align: center
    li
        &.current
            background-color: #D7E3EF!important
            color: #3973B0!important
            padding: unset
        a
            color: #979797
            padding: unset
        span
            display: block
            padding: 15px 20px !important
            width: 50px
            height: 50px
            display: flex
            align-items: center
            justify-content: center
        &.pagination-previous
            &.disabled
                padding: unset!important
                span
                    display: none!important
                &::before
                    width: 50px
                    height: 50px
                    padding: 15px 20px !important
            a
                &::before
                    padding: 15px 20px !important
                    width: 50px
                    height: 50px
                    display: flex
                    align-items: center
                    justify-content: center
        &.pagination-next
            &.disabled
                padding: unset!important
                span
                    display: none!important
                &::after
                    width: 50px
                    height: 50px
                    padding: 15px 20px !important
            a
                &::after
                    padding: 15px 20px !important
                    width: 50px
                    height: 50px
                    display: flex
                    align-items: center
                    justify-content: center
                    