<ul class="right-sidebar-ghost-list">
    <li class="right-sidebar-ghost-list__item" *ngFor="let topNewsItem of topNews">
        <div class="right-sidebar-ghost-list__date"></div>
        <div class="right-sidebar-ghost-list__text-1"></div>
        <div class="right-sidebar-ghost-list__text-2"></div>
        <div class="right-sidebar-ghost-list__text-3"></div>
    </li>
</ul>